<button *ngIf="!showTokenForm" class="button" (click)="showTokenForm = true" >
  Générer un token
</button>
<div *ngIf="showTokenForm" class="tile">

  <form (ngSubmit)="create()" name="form" #f="ngForm" novalidate>
    <div class="field is-horizontal" [ngClass]="{ 'has-error': f.submitted && !form_name.valid }">
      <div class="field-label is-normal">
        <label class="label">Nom</label>
      </div>
      <div class="field-body">
        <p class="control">
          <input id="name" class="input" type="text" placeholder="Nom du token" name="name" [(ngModel)]="name"
                 #form_name="ngModel" required>
        </p>
        <p class="control">
          <button type="submit" [disabled]="!f.valid || loading" [ngClass]="{'is-loading' : loading}"
                  class="button is-success">
            Générer
          </button>
        </p>
      </div>
    </div>
  </form>
</div>

<div class="modal" [class.is-active]="showModal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Token généré</p>
      <button class="delete" (click)="closeModal()" aria-label="close"></button>
    </header>
    <section class="modal-card-body">

      Notez bien ce token en sécurité, vous ne pourrez pas le récupérer, il faudra en créer un nouveau si vous le perdez.
      <br>
      <br>
      <div class="field  is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Token</label>
        </div>
        <div class="field-body">
          <div class="control">
            <div class="newTokencontainer">
              <span class="title tag is-5"> {{newToken}} </span>
            </div>
            <app-operator-token-copy [data]="newToken" [text]="'Copier'"></app-operator-token-copy>
          </div>
        </div>
      </div>

    </section>
    <footer class="modal-card-foot">
      <button class="button" (click)="closeModal()">Fermer</button>
    </footer>
  </div>
</div>
