<div class="stats">
  <app-stat-graph [graphName]="graphName"></app-stat-graph>

  <div *ngIf="statService.stat" class="stats-numbers">
    <app-stat-number
      *ngFor="let statNumberName of statViewConfig.names"
      [statNumberName]="statNumberName"
      [selected]="selected[statNumberName]"
      [disabled]="disabled[statNumberName]"
      (linkClicked)="showGraph($event)"
    >
    </app-stat-number>
  </div>
  <div class="stats-docLink">
    <a [href]="gitbookLinkStats" target="_blank" rel="noopener noreferrer">
      Informations sur les méthodes de calcul utilisées
    </a>
  </div>
</div>
