<div *ngIf="territory">
  <h2>Informations générales</h2>

  <div class="territory-row">
    <div class="full-col">
      <p class="territory-name">
        <strong>Nom : </strong>
        {{ territory.name }}
      </p>
    </div>
    <div>
      <h3>Structure</h3>

      <p *ngIf="territory.company.nature_juridique">
        <strong>Nature juridique : </strong>
        {{ territory.company.nature_juridique }}
      </p>

      <p *ngIf="territory.company.siret">
        <strong>SIRET : </strong>
        {{ territory.company.siret }}
      </p>
      <p *ngIf="territory.company.naf_entreprise">
        <strong>Naf entreprise : </strong>
        {{ territory.company.naf_entreprise }}
      </p>

      <p *ngIf="territory.company.rna">
        <strong>RNA : </strong>
        {{ territory.company.rna }}
      </p>
      <p *ngIf="territory.company.vat_intra">
        <strong>Numéro de TVA intracommunautaire : </strong>
        {{ territory.company.vat_intra }}
      </p>
    </div>

    <div *ngIf="territory.address">
      <h3>Adresse</h3>

      <p>
        {{ territory.address.street }} <br />
        {{ territory.address.postcode }}
        <span *ngIf="territory.address.cedex"> CEDEX {{ territory.address.cedex }} </span>
        {{ territory.address.city }}
        <span *ngIf="territory.address.country"
          ><br />
          {{ territory.address.country }}
        </span>
      </p>
    </div>
  </div>

  <div *ngIf="displayContacts">
    <h2>Contacts et responsables</h2>

    <div class="territory-row">
      <div>
        <h3>Délégué à la protection des données</h3>
        <app-details-contact [contact]="territory.contacts.gdpr_dpo"></app-details-contact>
      </div>

      <div>
        <h3>Responsable du traitement</h3>
        <app-details-contact [contact]="territory.contacts.gdpr_controller"></app-details-contact>
      </div>

      <div>
        <h3>Responsable technique</h3>
        <app-details-contact [contact]="territory.contacts.technical"></app-details-contact>
      </div>
    </div>
  </div>
</div>
