@import 'variables';

.campaignSummaryText {
  h4 {
    color: $color-primary;
  }
  &-content {
    max-width: 780px;
    padding: 20px;
    background-color: white;
    h5 {
      color: lightgrey;
    }
    &-text,
    h5 {
      margin-left: 35px;
      margin-right: 35px;
    }

    &-actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 20px 35px 0 35px;
    }
  }
}
