<nav class="navbar" role="navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      <img class="navbar__logo" src="assets/icons/logo-marianne.svg"
           alt="template.beta.gouv.fr" width="60"/>
    </a>
    <a class="navbar-item" routerLink="/">
      <img src="assets/icons/betagouvfr.svg" class="navbar__gouvfr" alt="beta.gouv.fr" width="80" />
    </a>
    <nav>
    </nav>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item">
        <a  class="navbar-item" routerLink="/">
          Preuve
        </a>
        <a routerLink="/aom" class="navbar-item">
          AOM
        </a>
        <a routerLink="/operateur" class="navbar-item">
          Opérateur
        </a>
        <a routerLink="/admin" class="navbar-item">
          Administration
        </a>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          <span class="icon is-small">
              <fa-icon icon="cog"></fa-icon>
          </span>
        </a>
        <div class="navbar-dropdown is-right">
          <a class="navbar-item" (click)="logOut()">
            Se déconnecter
          </a>
        </div>
      </div>
    </div>
  </div>

</nav>