/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import '~ngx-toastr/toastr';
@import 'styles/variables';
@import 'styles/buttons';
@import 'styles/inputs';
@import 'styles/stepper';

html,
body {
  font-family: 'Raleway', sans-serif;
  background: $background-light;
  margin: 0;
  width: 100%;
  height: 100%;
}

.generic-title {
  font-weight: 900;
  font-size: $font-size-generic-title;
  margin-bottom: 20px;
}

a.link, a.link:link, a.link:visited {
  font-weight: 600;
  cursor: pointer;
  color: $color-primary-dark;
  text-decoration: underline;
}
