
<div class="p-grid">

  <div class="p-col-12">
    <p>Notez bien ce token en sécurité, vous ne pourrez pas le récupérer, il faudra en créer un nouveau si vous le perdez.</p>
  </div>
  <div class="p-col-12 p-justify-center p-align-center has-text-centered">
    <b>Token</b>&nbsp;
    <app-operator-token-copy [data]="newToken" [text]="'Copier'"></app-operator-token-copy>
  </div>

  <div class="p-col-12" style="overflow-x: scroll">
    <h5 title="{{newToken}}" >{{newToken}}</h5>
  </div>
  <div class="p-col-12">
    <br>
    <br>
    <p-button label="Fermer" (onClick)="close()"></p-button>
  </div>

</div>
