<mat-form-field appearance="outline" class="full-width-dropdown">
  <mat-label>Opérateur</mat-label>

  <!--  <mat-form-field>-->
  <input type="text" matInput [formControl]="operatorCtrl" [matAutocomplete]="auto" (focusout)="inputLostFocus()" />
  <!--  </mat-form-field>-->
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOperatorSelect($event)">
    <mat-option *ngFor="let operator of filteredOperators | async" [value]="operator._id">
      {{ operator.nom_commercial }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
