<div class="graph">
  <h3>
    {{ graphTitle }}
  </h3>
  <div class="graph-header graph-trips-header">
    <div class="graph-trips-legend-wrapper">
      <div class="graph-trips-legend">
        <div class="legend-square legend-square-secondary-color"></div>
        <div class="graph-trips-legend-label">
          <span>Tous les trajets réalisés (incités et non incités)</span>
        </div>
      </div>
      <div class="graph-trips-legend">
        <div class="legend-square legend-square-primary-color"></div>
        <div class="graph-trips-legend-label">
          <span>Trajets incités via une campagne paramétrée sur le RPC</span>
        </div>
      </div>
    </div>

    <app-stat-graph-timemode-nav *ngIf="displayNav" [nav]="timeMode" (navChange)="navChange($event)">
    </app-stat-graph-timemode-nav>
  </div>

  <div class="chart-container">
    <ngx-chartjs [data]="data$ | async" [type]="graphType" [redraw]="update$" [options]="graphOption" [height]="70">
    </ngx-chartjs>
  </div>
</div>
