@import 'variables';

.graph-header {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

.graph-trips-legend-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 470px;
}

.graph-header {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}
