<header class="navbar" role="navigation">
  <div class="navbar__container">
    <a class="navbar__home" href="/">
      <img class="navbar__logo"
           src="assets/icons/covoituragebetagouvfr.svg"
           alt="Preuve de Covoiturage">
    </a>

    <nav>
      <ul class="nav__links">
        <li class="nav__item">
          <a href="https://registre-preuve-de-covoiturage.gitbook.io/produit/">Documentation</a>
        </li>
        <li class="nav__item">
          <a href="https://registre-preuve-de-covoiturage.gitbook.io/produit/cgu">CGU</a>
        </li>
        <li class="nav__item">
          <a href="https://registre-preuve-de-covoiturage.gitbook.io/produit/api/envoyer-des-trajets">API</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
