<div class="newPassword">
  <h2>Changement de mot de passe</h2>
  <div *ngIf="token">
    <p>Veuillez renseigner votre nouveau mot de passe</p>
    <form [formGroup]="newPasswordForm">
      <mat-form-field appearance="outline">
        <mat-label>Mot de passe</mat-label>
        <input matInput formControlName="password" type="password" (input)="onPasswordInput()" required />
        <mat-error *ngIf="password.hasError('required')"> Le mot de passe est invalide.</mat-error>
        <mat-error *ngIf="password.hasError('minlength')">
          Le mot de passe doit faire au minimum 6 caractères.
        </mat-error>
        <mat-error *ngIf="password.hasError('maxlength')">
          Le mot de passe ne peut pas faire plus de 128 caractères.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Confirmation de mot de passe</mat-label>
        <input matInput formControlName="passwordVerification" type="password" (input)="onPasswordInput()" required />
        <mat-error *ngIf="passwordVerification.hasError('required')"> Le mot de passe est invalide.</mat-error>
        <mat-error *ngIf="passwordVerification.hasError('minlength')">
          Le mot de passe doit faire au minimum 6 caractères.
        </mat-error>
        <mat-error *ngIf="passwordVerification.hasError('maxlength')">
          Le mot de passe ne peut pas faire plus de 128 caractères.
        </mat-error>
        <mat-error
          *ngIf="
            passwordVerification.hasError('passwordMismatch') &&
            !passwordVerification.hasError('required') &&
            !passwordVerification.hasError('minlength') &&
            !passwordVerification.hasError('maxlength')
          "
        >
          Les mot de passe ne correspondent pas
        </mat-error>
      </mat-form-field>
      <button
        type="submit"
        mat-flat-button
        (click)="changePassword()"
        [disabled]="!newPasswordForm.valid"
        color="primary"
      >
        Envoyer
      </button>
    </form>
  </div>

  <p *ngIf="hasError" class="has-text-centered">
    <mat-error> Une erreur est survenue </mat-error>
    <br />
    <br />
    <a routerLink="/forgotten-password">Recommencer la procédure de changement de mot de passe</a>
  </p>
</div>
