<app-form-pickatype></app-form-pickatype>

<form [formGroup]="profileForm" (submit)="onSubmit()" (reset)="onReset()">
  <h4>Secteur public</h4>

  <p>
    L’indemnité est un montant forfaitaire pouvant aller jusqu’à 300&nbsp;€ par an 
    (exonérée d’impôts et de prélèvements sociaux) en fonction du nombre de déplacements réalisés :
  </p>

  <ul>
    <li>100 € pour un nombre de déplacements entre 30 et 59 jours ;</li>
    <li>200 € pour un nombre de déplacements entre 60 et 99 jours ;</li>
    <li>300 € pour un nombre de déplacements d’au moins 100 jours </li>
  </ul>

  <p class="rf-highlight">
    Les champs suivis d'un
    <span class="rf-label--required"></span> sont obligatoires.
  </p>

  <!-- name -->
  <div class="rf-input-group">
    <label class="rf-label rf-label--required">Je soussigné·e</label>
    <input class="rf-input" formControlName="name" required />
    <p *ngIf="showError('name', 'required')" class="rf-error-text">
      Les prénom et nom sont requis
    </p>
    <p *ngIf="showError('name', 'maxlength')" class="rf-error-text">
      Les prénom et nom ne peuvent dépasser 51 caractères
    </p>
  </div>

  <!-- Ministry -->
  <div class="rf-input-group">
    <label class="rf-label rf-label--required">
      Employeur (Ministère / collectivité / établissement)
    </label>
    <input class="rf-input" formControlName="ministry" required />
    <p *ngIf="showError('ministry', 'required')" class="rf-error-text">
      L'employeur est requis
    </p>
    <p *ngIf="showError('ministry', 'maxlength')" class="rf-error-text">
      L'employeur ne peut dépasser 120 caractères
    </p>
  </div>

  <!-- Rank -->
  <div class="rf-input-group">
    <label class="rf-label rf-label--required">Poste</label>
    <input class="rf-input" formControlName="rank" required />
    <p *ngIf="showError('rank', 'required')" class="rf-error-text">
      Le poste est requis
    </p>
    <p *ngIf="showError('rank', 'maxlength')" class="rf-error-text">
      Le poste ne peut dépasser 51 caractères
    </p>
  </div>

  <!-- Work Share -->
  <div class="rf-input-group">
    <label class="rf-label rf-label--required">Quotité de temps de travail (en pourcentage. 100 = temps plein)</label>
    <input class="rf-input" formControlName="workshare" required />
    <p *ngIf="showError('workshare', 'required')" class="rf-error-text">
      La quotité est requise
    </p>
    <p *ngIf="showError('workshare', 'maxlength')" class="rf-error-text">
      La quotité ne peut dépasser 3 caractères
    </p>
    <p *ngIf="showError('workshare', 'pattern')" class="rf-error-text">
      Ce champ n'accepte que les chiffres
    </p>
  </div>

  <!-- Year -->
  <div class="rf-form-group">
    <fieldset class="rf-fieldset rf-fieldset--inline">
      <legend class="rf-fieldset__legend">Année d'application</legend>
      <div class="rf-fieldset__content">
        <div class="rf-radio-group">
          <input
            type="radio"
            id="previousYear"
            name="year"
            formControlName="year"
            [value]="previousYear"
          />
          <label class="rf-label" for="previousYear">{{ previousYear }}</label>
        </div>
        <div class="rf-radio-group">
          <input
            type="radio"
            id="currentYear"
            name="year"
            formControlName="year"
            [value]="currentYear"
          />
          <label class="rf-label" for="currentYear">{{ currentYear }}</label>
        </div>
      </div>
    </fieldset>
  </div>

  <!-- Year -->
  <div class="rf-form-group">
    <fieldset class="rf-fieldset rf-fieldset--inline">
      <legend class="rf-fieldset__legend">
        Départ ou arrivée en {{ profileForm.get("year")?.value }}
      </legend>
      <div class="rf-fieldset__content">
        <div class="rf-radio-group">
          <input
            type="radio"
            id="mobility_no"
            name="mobility"
            formControlName="mobility"
            value="no"
          />
          <label class="rf-label" for="mobility_no">Non</label>
        </div>
        <div class="rf-radio-group">
          <input
            type="radio"
            id="mobility_in"
            name="mobility"
            formControlName="mobility"
            value="in"
          />
          <label class="rf-label" for="mobility_in">Arrivée</label>
        </div>
        <div class="rf-radio-group">
          <input
            type="radio"
            id="mobility_out"
            name="mobility"
            formControlName="mobility"
            value="out"
          />
          <label class="rf-label" for="mobility_out">Départ</label>
        </div>
      </div>
    </fieldset>

    <!-- Mobility date -->
    <div
      class="rf-input-group"
      *ngIf="profileForm.get('mobility')?.value !== 'no'"
    >
      <label class="rf-label rf-label--required">
        Date
        <span *ngIf="profileForm.get('mobility')?.value === 'in'">
          d'arrivée
        </span>
        <span *ngIf="profileForm.get('mobility')?.value === 'out'">
          de départ
        </span>
      </label>
      <input class="rf-input" formControlName="mobility_date" />
      <p *ngIf="showError('mobility_date', 'required')" class="rf-error-text">
        La date est requise
      </p>
    </div>
  </div>

  <!-- Days -->
  <div class="rf-input-group">
    <label class="rf-label rf-label--required">
      Nombre de jours covoiturés dans l'année
    </label>
    <input class="rf-input" formControlName="days" required maxlength="3" />
    <p *ngIf="showError('days', 'required')" class="rf-error-text">
      Le nombre de jours est requis
    </p>
    <p *ngIf="showError('days', 'max')" class="rf-error-text">
      Le nombre de jours ne peut dépasser 365
    </p>
    <p *ngIf="showError('days', 'min')" class="rf-error-text">
      Le nombre de jours ne peut être inférieur à 1
    </p>
    <p *ngIf="showError('days', 'pattern')" class="rf-error-text">
      Ce champ n'accepte que les chiffres
    </p>
  </div>

  <!-- Home address -->
  <div class="rf-input-group">
    <label class="rf-label rf-label--required">Adresse du domicile</label>
    <input class="rf-input" formControlName="home_address" required />
    <p *ngIf="showError('home_address', 'required')" class="rf-error-text">
      L'adresse du domicile est requise
    </p>
    <p *ngIf="showError('home_address', 'maxlength')" class="rf-error-text">
      L'adresse ne peut dépasser 256 caractères
    </p>
  </div>

  <!-- Work address -->
  <div class="rf-input-group">
    <label class="rf-label rf-label--required">Lieu de travail</label>
    <input class="rf-input" formControlName="work_address" required />
    <p *ngIf="showError('work_address', 'required')" class="rf-error-text">
      Le lieu de travail est requis
    </p>
    <p *ngIf="showError('work_address', 'maxlength')" class="rf-error-text">
      Le lieu de travail ne peut dépasser 256 caractères
    </p>
  </div>

  <!-- Checkbox nightmare -->
  <div class="rf-checkbox-group">
    <legend class="rf-fieldset__legend">Je certifie que...</legend>
    <!-- <input
      type="checkbox"
      id="checkbox_1"
      name="checkbox_1"
      value="checkbox_1"
      (change)="onChkChange($event)"
    />
    <label class="rf-label" for="checkbox_1">
      Je ne bénéficie pas d’abonnement de transport public de personne&nbsp;;
    </label> -->

    <!-- <input
      type="checkbox"
      id="checkbox_2"
      name="checkbox_2"
      value="checkbox_2"
      (change)="onChkChange($event)"
    />
    <label class="rf-label" for="checkbox_2">
      Je ne bénéficie pas d’un abonnement de service public de location de
      vélo&nbsp;;
    </label> -->

    <!-- <input
      type="checkbox"
      id="checkbox_3"
      name="checkbox_3"
      value="checkbox_3"
      (change)="onChkChange($event)"
    />
    <label class="rf-label" for="checkbox_3">
      Je ne perçois pas d’indemnités représentatives de frais pour mes
      déplacements entre ma résidence habituelle et mon lieu de travail&nbsp;;
    </label> -->

    <input
      type="checkbox"
      id="checkbox_4"
      name="checkbox_4"
      value="checkbox_4"
      (change)="onChkChange($event)"
    />
    <label class="rf-label" for="checkbox_4">
      Je ne bénéficie pas d’un logement de fonction&nbsp;;
    </label>

    <input
      type="checkbox"
      id="checkbox_5"
      name="checkbox_5"
      value="checkbox_5"
      (change)="onChkChange($event)"
    />
    <label class="rf-label" for="checkbox_5">
      Je ne bénéficie pas d’un véhicule de fonction sur le lieu de
      travail&nbsp;;
    </label>

    <input
      type="checkbox"
      id="checkbox_6"
      name="checkbox_6"
      value="checkbox_6"
      (change)="onChkChange($event)"
    />
    <label class="rf-label" for="checkbox_6">
      Je ne bénéficie pas d’un transport collectif gratuit entre mon domicile et
      mon lieu de travail&nbsp;;
    </label>

    <input
      type="checkbox"
      id="checkbox_7"
      name="checkbox_7"
      value="checkbox_7"
      (change)="onChkChange($event)"
    />
    <label class="rf-label" for="checkbox_7">
      Je ne suis pas transporté gratuitement par mon employeur&nbsp;;
    </label>

    <input
      type="checkbox"
      id="checkbox_8"
      name="checkbox_8"
      value="checkbox_8"
      (change)="onChkChange($event)"
    />
    <label class="rf-label" for="checkbox_8">
      Je ne bénéficie pas pour le même trajet d’une prise en charge au titre des
      frais de déplacements temporaires&nbsp;;
    </label>

    <input
      type="checkbox"
      id="checkbox_9"
      name="checkbox_9"
      value="checkbox_9"
      (change)="onChkChange($event)"
    />
    <label class="rf-label" for="checkbox_9">
      Je ne bénéficie pas des dispositions du décret n°83-588 du 1er juillet
      1983&nbsp;;
      <a
        href="https://www.legifrance.gouv.fr/loda/id/JORFTEXT000000861809/2020-10-16/"
        target="_blank"
        rel="noopener noreferrer"
        title="décret n°83-588 du 1er juillet 1983"
        style="display: flex; box-shadow: none"
        >&nbsp;</a
      >
    </label>

    <input
      type="checkbox"
      id="checkbox_10"
      name="checkbox_10"
      value="checkbox_10"
      (change)="onChkChange($event)"
    />
    <label class="rf-label" for="checkbox_10">
      J’utilise le covoiturage pendant au moins le nombre de jours requis en
      fonction de ma situation pour l’année soit
      {{ profileForm.get("days")?.value || "..." }} jours pour l’année
      {{ profileForm.get("year")?.value || "..." }}&nbsp;;
    </label>
    <!-- (Ex : pour un agent à temps plein et quotité travaillée de 100 % : 100 jours ; à 80 % : 80 jours. Ces éléments peuvent être confirmés par le service de ressources humaines). -->

    <input
      type="checkbox"
      id="checkbox_11"
      name="checkbox_11"
      value="checkbox_11"
      (change)="onChkChange($event)"
    />
    <label class="rf-label" for="checkbox_11">
      Je tiens à disposition de mon employeur tout justificatif utile
      d'utilisation effective du covoiturage.
    </label>
  </div>

  <h4>Signature</h4>

  <!-- Location -->
  <div class="rf-input-group">
    <label class="rf-label rf-label--required">Fait à</label>
    <input class="rf-input" formControlName="location" required />
    <p *ngIf="showError('location', 'required')" class="rf-error-text">
      La commune de génération est requise
    </p>
    <p *ngIf="showError('location', 'maxlength')" class="rf-error-text">
      La commune de génération ne peut dépasser 128 caractères
    </p>
  </div>

  <!-- Actions -->
  <div class="rf-input-group rf-input-group--actions">
    <button type="reset" class="rf-btn rf-btn--secondary">Annuler</button>
    &nbsp;
    <button type="submit" class="rf-btn" [disabled]="!profileForm.valid">
      Générer
    </button>
  </div>
</form>
