<div class="stats-graph" [class]="cssLoadingState | async">
  <div [class]="cssLoadingState | async" class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>

  <div class="stats-graph-content">
    <app-stat-graph-distance
      *ngIf="graphName === 'distance'"
      [displayNav]="!lightMode"
    >
    </app-stat-graph-distance>

    <app-stat-graph-trip *ngIf="graphName === 'trips'" [displayNav]="!lightMode">
    </app-stat-graph-trip>

    <app-stat-graph-carpoolers
      *ngIf="graphName === 'carpoolers'"
      [displayNav]="!lightMode"
    >
    </app-stat-graph-carpoolers>

    <app-stat-graph-petrol *ngIf="graphName === 'petrol'" [displayNav]="!lightMode">
    </app-stat-graph-petrol>

    <!--CO2-->

    <app-stat-graph-carbon *ngIf="graphName === 'co2'" [displayNav]="!lightMode"> </app-stat-graph-carbon>

    <!--Carpoolers per vehicule-->
    <app-stat-graph-carpooler-vehicule
      *ngIf="graphName === 'carpoolersPerVehicule'"
      [displayNav]="!lightMode"
    >
    </app-stat-graph-carpooler-vehicule>
  </div>
</div>
