<h3 class="graphTitle" *ngIf="!lightMode">{{ graphTitle }}</h3>

<app-stat-graph-distance
  *ngIf="graphToBeDisplayed === 'distance' && graphVisible"
  [displayNav]="!lightMode"
  [data]="data.distance"
  (titleUpdate)="setTitle($event)"
>
</app-stat-graph-distance>

<app-stat-graph-trip
  *ngIf="graphToBeDisplayed === 'trips' && graphVisible"
  [displayNav]="!lightMode"
  [data]="data.trips"
  (titleUpdate)="setTitle($event)"
>
</app-stat-graph-trip>

<app-stat-graph-carpoolers
  *ngIf="graphToBeDisplayed === 'carpoolers' && graphVisible"
  [displayNav]="!lightMode"
  [data]="data.carpoolers"
  (titleUpdate)="setTitle($event)"
>
</app-stat-graph-carpoolers>

<app-stat-graph-petrol
  *ngIf="graphToBeDisplayed === 'petrol' && graphVisible"
  [displayNav]="!lightMode"
  [data]="data.petrol"
  (titleUpdate)="setTitle($event)"
>
</app-stat-graph-petrol>

<!--CO2-->

<app-stat-graph-carbon *ngIf="graphToBeDisplayed === 'co2' && graphVisible" [displayNav]="!lightMode" [data]="data.co2">
</app-stat-graph-carbon>

<!--Carpoolers per vehicule-->
<app-stat-graph-carbon
  *ngIf="graphToBeDisplayed === 'carpoolersPerVehicule' && graphVisible"
  [displayNav]="!lightMode"
  [data]="data.carpoolersPerVehicule"
  (titleUpdate)="setTitle($event)"
>
</app-stat-graph-carbon>
