@import 'variables';

h3 {
  padding-left: 30px;
}
.spinner-container {
  text-align: center;
  position: absolute;
  width: 100%;
}
.stats-graph {
  position: relative;
  z-index: 100;

  .spinner-container {
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s linear;
    z-index: 1000;
    > * {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .stats-graph-content {
    transition: opacity 0.4s linear;
    opacity: 1;
  }

  &.stats-graph-loading {
    .spinner-container {
      opacity: 1;
    }

    .stats-graph-content {
      opacity: 0.2;
      pointer-events: none;
    }
  }
}

.graph-message {
  height: 249px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.graph {
  margin-bottom: 20px;
  &-header {
    margin-bottom: 15px;
  }
  &-trips {
    &-header {
      display: flex;
      justify-content: space-between;
      margin-left: 20px;
      margin-right: 20px;
    }
    &-legend {
      &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 470px;
      }
      display: flex;
      flex-wrap: wrap;
      &-label span {
        font-size: 16px;
        color: #636363;
      }
    }
  }
}

mat-button-toggle-group {
  float: right;
}

::ng-deep .graph-trips-legend {
  display: flex;
  flex-wrap: wrap;
}

::ng-deep .legend-square {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 3px;
  &-primary-color {
    background-color: $color-primary;
  }
  &-secondary-color {
    background-color: $color-secondary;
  }
}

::ng-deep .graph-trips-legend-label span {
  font-size: 16px;
  color: #636363;
}
