<div class="Login-wrapper">
  <div class="Login-header">
    <h1 class="Login-title">Le registre de preuve de covoiturage</h1>
    <p class="Login-subTitle">Développez le covoiturage</p>
  </div>
  <div class="Login-content">
    <div class="Login-introduction">
      <img src="assets/img/car_with_passengers.svg" alt="Covoiturage" />
      <p>
        Attestez la réalité des trajets réalisés sur votre territoire
      </p>
      <p>
        Créez des campagnes d’incitation sur des trajets spécifiques
      </p>
      <p>
        Développez le covoiturage sur votre collectivité ou votre région
      </p>
    </div>
    <div class="Login">
      <h2>Connectez-vous à votre compte</h2>
      <form [formGroup]="loginForm">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" required />
          <mat-error *ngIf="controls.email.hasError('email')"> L'email est invalide.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Mot de passe</mat-label>
          <input matInput formControlName="password" [type]="passwordType" required />
          <button type="button" matSuffix mat-icon-button (click)="onPasswordTypeToggle()">
            <mat-icon>remove_red_eye</mat-icon>
          </button>
        </mat-form-field>

        <button type="submit" mat-flat-button (click)="onLogin()" [disabled]="!loginForm.valid" color="primary">
          Connexion
        </button>
      </form>
      <a class="Login-forgotten-password-link" href="/forgotten-password">Mot de passe oublié</a>
    </div>
  </div>
</div>
