@import 'variables';

app-page-content {
  background-color: $background-light;
}

.loader {
  display: flex;
  justify-content: space-around;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .action {
    margin-right: 35px;
  }
  .title {
    h1 {
      margin-bottom: 0;
    }
  }
}

.launch-draft {
  margin: 10px 0;
  > div:first-child {
    display: flex;
    align-items: center;
    .dot {
      color: $color-punch;
    }
    > div {
      margin-left: 10px;
      h4 {
        margin-bottom: 0;
      }
      p {
        margin-top: 5px;
      }
    }
  }
  background-color: lighten($color-punch, 30%);
  border-radius: 4px;
  border: solid $color-punch 1px;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  align-items: center;
}

.content {
  & > div {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }
  .summary > div {
    width: 100%;
    text-align: center;
    a {
      text-decoration: underline;
    }
  }
  app-campaign-rules-view {
    margin-right: 15px;
  }

  .contacts {
    height: 200px;
    padding: 1em 2em;
    background-color: $background-dark-blue;
    a {
      color: $color-primary;
      text-decoration: none;
    }
    p {
      margin: 0 0 0.5em;
    }
  }
}
