################################################################################
#							    Backend services
################################################################################

# Resources
/api/db								@jonathanfallon @nmrgt

# Reverse Proxy
/api/proxy							@jonathanfallon @nmrgt

# API services
/api/services/acquisition			@jonathanfallon
/api/services/application			@jonathanfallon
/api/services/certificate			@jonathanfallon
/api/services/company				@nmrgt
/api/services/fraud					@nmrgt
/api/services/normalization			@jonathanfallon
/api/services/operator				@jonathanfallon
/api/services/policy				@nmrgt
/api/services/territory				@jonathanfallon
/api/services/trip					@nmrgt
/api/services/user					@jonathanfallon

/api/providers/crypto				@nmrgt
/api/providers/geo					@jonathanfallon
/api/providers/middleware			@nmrgt
/api/providers/notification			@nmrgt
/api/providers/sentry				@jonathanfallon
/api/providers/token				@jonathanfallon
/api/providers/validator			@jonathanfallon

################################################################################
#							       Frontend
################################################################################

/dashboard/cypress					@samueleyre
/dashboard/src/app/modules/administration   @gillesboisson
/dashboard/src/app/modules/authentication   @gillesboisson
/dashboard/src/app/modules/campaign @samueleyre
/dashboard/src/app/modules/company  @gillesboisson
/dashboard/src/app/modules/filter   @samueleyre
/dashboard/src/app/modules/operator @gillesboisson
/dashboard/src/app/modules/stat @samueleyre
/dashboard/src/app/modules/territory @gillesboisson
/dashboard/src/app/modules/trip @samueleyre @gillesboisson
/dashboard/src/app/modules/ui-guide @samueleyre @gillesboisson
/dashboard/src/app/modules/user @gillesboisson
/dashboard/src/app/shared   @samueleyre @gillesboisson
/dashboard/src/app/core @samueleyre @gillesboisson

################################################################################
#						         Shared Resources
################################################################################
/api/shared							@jonathanfallon @gillesboisson
/docker-compose*					@jonathanfallon
/docker								@jonathanfallon
/api/scalingo						@jonathanfallon
/scalingo.json						@jonathanfallon

/.circleci							@jonathanfallon

/CHANGELOG.md						@jonathanfallon
/LICENSE							@jonathanfallon
/README.md							@jonathanfallon

