<form class="OperatorTokenForm" [formGroup]="operatorTokenForm">
  <mat-form-field appearance="outline">
    <mat-label>Nom</mat-label>
    <input matInput formControlName="name" required />
  </mat-form-field>
  <div>
    <button
      type="submit"
      mat-flat-button
      class="large"
      (click)="onCreateToken()"
      [appShowSpinner]="isCreating"
      [disabled]="!operatorTokenForm.valid"
      color="primary"
    >
      Créer
    </button>
    <button (click)="onClose.emit()" class="OperatorTokenForm-close" type="button" mat-icon-button color="secondary">
      <mat-icon color="error">delete_outline</mat-icon>
    </button>
  </div>
</form>
