node_modules
.DS_Store
.idea
.ignore
!.vscode/settings.json
.env
.env.disabled
.pgcli*
db/*

!docker/dashboard
dashboard/src/environments/environment.review.ts
tmp
*.pem
*.crt
*.key

# notebooks
notebooks/scripts/playground

# python
*.pyc
__pycache__

#dbt
logs/dbt.log
dbt/target
dbt/edr_target
.aider*
