version: '3.5'
services:
  postgres:
    build:
      context: ./docker/postgres
      shm_size: 4gb
    shm_size: 4gb
    ports:
      - 5432:5432
    networks:
      - front
      - back
    environment:
      POSTGRES_USER: 'postgres'
      POSTGRES_PASSWORD: 'postgres'
      POSTGRES_DB: 'local'
      PGDATA: '/var/lib/postgresql/data/pgdata'
    volumes:
      - ./db/postgres:/var/lib/postgresql/data/pgdata

  redis:
    build: './docker/redis'
    ports:
      - 6379:6379
    networks:
      - front
      - back

  migrator:
    build:
      dockerfile: ../../docker/migrator/Dockerfile
      context: ./api/db
    volumes:
      - ./api/db:/data
    environment:
      DATABASE_URL: 'postgres://postgres:postgres@postgres:5432/local'
    networks:
      - back
    depends_on:
      - postgres

  api:
    build: './docker/api'
    volumes:
      - .:/code
    working_dir: '/code/api'
    command: 'yarn start:http'
    ports:
      - 8080:8080
    env_file: ./api/.env
    environment:
      NODE_ENV: local
      PORT: 8080
    networks:
      - front
      - back
    depends_on:
      - redis
      - postgres
      - printer

  worker:
    build: './docker/api'
    volumes:
      - ./api:/code
    working_dir: '/code'
    command: 'yarn start:queue'
    env_file: ./api/.env
    environment:
      APP_WORKER: 'true'
    networks:
      - front
      - back
    depends_on:
      - redis
      - postgres

  printer:
    build: './docker/printer'
    volumes:
      - .:/code
    working_dir: '/code/printer'
    command: 'yarn start'
    ports:
      - 3000:3000
    env_file: ./printer/.env
    environment:
      NODE_ENV: production
      PORT: 3000
    networks:
      - front
      - back

networks:
  front:
  back:
