<h3 class="has-text-centered" style="color: grey;">
  Vous êtes sur le point de lancer la campagne <b>{{campaign.name}}</b>
</h3>
<div class="p-grid p-justify-center has-text-centered">
  <div class="p-col-10">

    La campagne commence le {{toLocaleDateString(campaign.start)}} et se termine le {{toLocaleDateString(campaign.end) }}

    <br>
    <br>
    <p *ngIf="campaign.description">
      Description : {{campaign.description}}
    </p>

    <br><br>
  </div>
</div>
<div class="p-grid p-justify-center">
  <button pButton type="button" (click)="onSubmit()" label="Confirmer" icon="pi pi-check" style="margin-right: .25em"></button>
</div>
<br>
