@import 'variables';

.loading-message {
  margin: 2em 0;
  .mat-spinner {
    float: left;
    margin: -4px 0.5em 0 0;
  }
}

.mat-checkbox-list--vertical {
  overflow: hidden;
  list-style: none;
  padding: 0.5em 0 0.5em 0.6em;
  .mat-checkbox-list-item {
    display: inline-block;
    width: 33%;
    @media only screen and (max-width: 640px) {
      width: 50%;
    }
    > div {
      padding: 0.2em 0.1em 0.3em;
    }
  }
}

.link {
  color: $color-primary;
  cursor: pointer;
}

// make css work on the mat-checkbox items
::ng-deep {
  .mat-checkbox-list-item {
    .mat-checkbox,
    .mat-checkbox .mat-checkbox-layout {
      max-width: 100%;
    }
    .mat-checkbox-layout .mat-checkbox-label {
      text-overflow: ellipsis;
      max-width: 100%;
      overflow: hidden;
    }
  }

  .app-operators-checkboxes {
    .mat-hint {
      display: block;
      margin-bottom: 2em;
      margin-left: 0em;
      font-weight: normal;
      font-style: italic;
      font-size: 0.8em;
      text-align: right;
    }
  }
}
