<section class="hero is-primary">
  <div class="hero-body">
    <div class="container is-center">
      <h1 class="title">
        Site web de l'AOM
      </h1>
      <h2 class="subtitle">
        Interface Admin
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h1 class="title">
      Les chiffres du mois de novembre
    </h1>
  </div>
</section>

<section class="section">
  <div class="container">
    <h3 class="title">
      Les statistiques globales
   </h3>
    <div class="columns">
      <div class="column is-inline-flex">
        <div class="box">
          <article class="media">
            <div class="media-content">
              <h4 class="subtitle has-text-centered">
                {{aom.name}}
              </h4>
              <div class="content">
                <p>
                  <span class="preuveNumber">{{aom.proofs_count}}</span> preuves
                  <br>
                  <br>
                  <!--Niveau de preuve : <span class="operatorLevel">{{aom.proofs_avg_level}}</span>-->
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section">
  <div class="container">
    <h3 class="title">
      Toutes les données
    </h3>
    <div class="columns">
      <div class="column is-one-third-desktop is-offset-one-third-desktop is-half-tablet is-offset-one-quarter-tablet ">
        <div class="box has-text-centered">
          <h4 class="subtitle">
            Les données en CSV
          </h4>
          <button class="button is-success" (click)="getCsv()">Télécharger</button>
        </div>
      </div>
    </div>
  </div>
</section>
