<section class="hero is-primary">
  <div class="hero-body">
    <div class="container is-center">
      <h1 class="title">
        Site web de l'AOM
      </h1>
      <h2 class="subtitle">
        Interface Admin
      </h2>
    </div>
  </div>
</section>


<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-one-third-desktop is-offset-one-third-desktop is-half-tablet is-offset-one-quarter-tablet ">
        <div class="box">
          <h1 class="title">
            Les données en CSV
          </h1>
          <button class="button is-success">Télécharger</button>
        </div>
      </div>
    </div>
  </div>
</section>
