<form
  class="filter-form"
  (submit)="onSubmit()"
  (document:keydown.control.enter)="onSubmit()"
  [formGroup]="filterForm"
  [class.visible]="showFilters"
>
  <div class="filter-wrapper">
    <div class="filter">
      <div class="filter-content">
        <div class="filter-content-column">
          <div class="filter-content-column-title">
            <p>Campagne</p>
          </div>
          <app-campaign-auto-complete [parentForm]="filterForm"></app-campaign-auto-complete>
        </div>
        <div class="filter-content-column">
          <div class="filter-content-column-title">
            <p>Dates & horaires</p>
          </div>

          <!-- Date de début -->
          <div class="filter-dates" formGroupName="date">
            <mat-form-field appearance="outline">
              <mat-label>Début</mat-label>
              <input
                matInput
                formControlName="start"
                placeholder="Choisir une date"
                required
                [min]="minDate"
                [matDatepicker]="startDatePicker"
              />
              <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #startDatePicker></mat-datepicker>

              <!-- erreurs start -->
              <mat-error *ngIf="startControl.hasError('matDatepickerMin')">Date trop ancienne</mat-error>
              <mat-error *ngIf="startControl.hasError('required')">Date requise</mat-error>
            </mat-form-field>

            <!-- Date de fin -->
            <mat-form-field appearance="outline">
              <mat-label>Fin</mat-label>
              <input
                matInput
                formControlName="end"
                placeholder="Choisir une date"
                [matDatepicker]="endDatePicker"
                [min]="startControl.value"
                [max]="maxDate"
              />
              <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #endDatePicker></mat-datepicker>

              <!-- erreurs -->
              <mat-error *ngIf="endControl.hasError('matDatepickerMax')">Date trop récente</mat-error>
              <mat-error *ngIf="endControl.hasError('matDatepickerMin')">Date trop ancienne</mat-error>
            </mat-form-field>
          </div>

          <!-- Jours de la semaine -->
          <div class="filter-timeAndDays">
            <mat-form-field class="days" appearance="outline">
              <mat-label>Jours de la semaine</mat-label>
              <mat-select formControlName="days" multiple>
                <mat-option *ngFor="let day of days" [value]="day">{{ dayLabel(day) }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="filter-content-column">
          <div class="filter-content-column-title">
            <p>Géographie</p>
          </div>

          <!-- DISTANCE -->
          <div class="filter-distances" formGroupName="distance">
            <mat-form-field class="min-distance" appearance="outline">
              <mat-label>Km min</mat-label>
              <input matInput formControlName="min" type="number" step="1" min="0" />
            </mat-form-field>
            <mat-form-field class="max-distance" appearance="outline">
              <mat-label>Km max</mat-label>
              <input matInput formControlName="max" type="number" step="1" min="0" />
            </mat-form-field>
          </div>

          <!-- TERRITORIES -->
          <div class="filter-territories">
            <app-territories-autocomplete
              [parentForm]="filterForm"
              [title]="userIsTerritory ? 'Villes' : 'Territoires'"
              [placeholder]="userIsTerritory ? 'Ville, EPCI...' : 'Territoire, ville, EPCI...'"
              [label]="
                userIsTerritory ? 'Ajouter une ville, une EPCI...' : 'Ajouter un territoire, une ville, une EPCI...'
              "
            ></app-territories-autocomplete>
          </div>
        </div>
        <div class="filter-content-column">
          <div class="filter-content-column-title">
            <p>Types de trajets</p>
          </div>
          <div class="filter-trip-types">
            <mat-form-field class="class" appearance="outline">
              <!-- RANKS -->
              <mat-label>Classe</mat-label>
              <mat-select formControlName="ranks" multiple>
                <mat-option *ngFor="let name of classes" value="{{ name }}">{{ name }}</mat-option>
              </mat-select>
            </mat-form-field>
            <!-- STATUS -->
            <mat-form-field class="filter-status" appearance="outline">
              <mat-label>Statut</mat-label>
              <mat-select formControlName="status">
                <!-- todo: when implemented in back-->
                <mat-option *ngFor="let status of tripStatusList" value="{{ status }}">{{
                  getStatusFrench(status)
                }}</mat-option>
                <!-- <mat-option value="{{ tripStatusList[2] }}">{{ getStatusFrench(tripStatusList[2]) }}</mat-option> -->
              </mat-select>
            </mat-form-field>

            <!-- OPERATORS-->
            <app-operators-autocomplete
              *ngIf="!auth.isOperator()"
              [parentForm]="filterForm"
              [onlyVisible]="true"
            ></app-operators-autocomplete>
          </div>
        </div>
      </div>
      <div class="filter-footer">
        <button mat-button type="button" (click)="onReset()" matTooltip="Réinitialiser les filtres">
          Réinitialiser
        </button>
        <button
          mat-flat-button
          type="submit"
          color="primary"
          [disabled]="!filterForm.valid"
          matTooltip="Appliquer les filtres [Ctrl + Entrée]"
        >
          Appliquer
        </button>
      </div>
    </div>
  </div>
</form>
