<form [formGroup]="parentForm">
  <mat-form-field class="siret" appearance="outline">
    <mat-label>SIRET</mat-label>
    <input matInput formControlName="siret" />
    <mat-error *ngIf="parentForm.controls.siret.hasError('required')">Le SIRET est obligatoire.</mat-error>
    <mat-error *ngIf="parentForm.controls.siret.hasError('pattern')">Le format du siret n'est pas valide.</mat-error>
  </mat-form-field>

  <mat-form-field class="nature_juridique" appearance="outline">
    <mat-label>Nature juridique</mat-label>
    <input matInput formControlName="nature_juridique" />
  </mat-form-field>

  <mat-form-field class="naf_entreprise" appearance="outline">
    <mat-label>Naf entreprise</mat-label>
    <input matInput formControlName="naf_entreprise" />
    <mat-error *ngIf="parentForm.controls.naf_entreprise.hasError('pattern')"
      >Le format du Naf n'est pas valide.</mat-error
    >
  </mat-form-field>

  <mat-form-field class="rna" appearance="outline">
    <mat-label>RNA</mat-label>
    <input matInput formControlName="rna" />
  </mat-form-field>
  <mat-form-field class="vat_intra" appearance="outline">
    <mat-label>Numéro de TVA intracommunautaire</mat-label>
    <input matInput formControlName="vat_intra" />
    <mat-error *ngIf="parentForm.controls.vat_intra.hasError('pattern')"
      >Le format de la TVA intracommunautaire n'est pas valide.</mat-error
    >
  </mat-form-field>
</form>
