form {
  display: flex;
  width: 560px;
  flex-wrap: wrap;
  justify-content: space-between;
  mat-form-field {
    &.nature_juridique, &.vat_intra {
      width: 560px;
    }
    &.siren, &.cle_nic {
      width: 290px;
    }
    &.naf_entreprise, &.rna{
      width: 258px;
    }
  }
}
