.Users {
  &-list {
    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &--loading {
      display: flex;
      justify-content: space-around;
    }

    &-table {
      margin-bottom: 20px;
    }

    &-actions {
      display: flex;
      align-items: center;
      .mat-flat-button {
        min-width: 0;
        width: 45px;
        height: 45px;
        padding: 0;
        margin-right: 1em;
      }
    }
  }
}

.Users-add {
  max-width: 550px;
}

.Users-add-title {
  display: flex;
  justify-content: space-between;
  .mat-flat-button {
    min-width: 0;
  }
}

::ng-deep {
  .Users-list-actions .search .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0;
    padding: 0;
  }
}
