<h3 class="has-text-centered"> Configuration de la politique </h3>
<br>
<div [formGroup]="incentivePolicyParametersForm">
  <div class="p-grid p-justify-center" *ngFor="let paramForm of incentivePolicyParametersForm.controls; let i = index;" [attr.data-index]="i">
    <div class="p-col-12 p-md-10">
      <div class="p-grid">
        <div class="p-col-12 p-md-4">
          <label>{{ getParameterLabel(paramForm.value.key) }}</label>
        </div>
        <div class="p-col-12 p-md-8" [formGroupName]="i">
          <input type="number" pInputText formControlName="value">
        </div>
        <div class="p-col-12">
          <i>
            {{ getParameterHelper(paramForm.value.key) }}
          </i>
          <br/>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="p-grid p-justify-around">
      <p-button (onClick)="onCancel()" label="Annuler"></p-button>
      <p-button (onClick)="onSubmit()" [disabled]="!valuesAreSet" [label]="labelSubmit"></p-button>
  </div>
</div>
<br>
<hr>
<br>
<h4 class="has-text-centered">Description de l'incitation</h4>
<p-card>
  <app-incentive-policy-summary
      [incentivePolicy]="incentivePolicy"
  >
  </app-incentive-policy-summary>
</p-card>
