<div class="campaignMainMetrics">
  <div>
    <ngx-chartjs [data]="periodChartData" type="doughnut" [height]="60" [width]="60" [options]="options"></ngx-chartjs>
    <p>
      du <b>{{ campaign.start_date | date: 'd MMMM yyyy' }}</b><br />
      au <b>{{ campaign.end_date | date: 'd MMMM yyyy' }}</b>
    </p>
  </div>
  <div>

    <div class="loader" *ngIf="!isLoaded">
      <mat-spinner diameter="55"></mat-spinner>
    </div>


    <ngx-chartjs [data]="budgetChartData" type="doughnut" [height]="60" [width]="60" [options]="options"
      *ngIf="isLoaded && budgetSpent">
    </ngx-chartjs>

    <p>
      Estimation de la rétribution totale :<br />
      <span *ngIf="isLoaded && budgetSpent" class="campaignMainMetrics-budgetSpend"><b>{{ budgetSpent | currency:
          'EUR':'symbol':'1.0-2' }}</b></span>
      <span *ngIf="isLoaded && budgetSpent"> sur </span><b *ngIf="isLoaded && budgetSpent"> {{ budgetTotal | currency:
        'EUR':'symbol':'1.0-2' }}</b>

        <b style="font-size: medium" *ngIf="isLoaded && !budgetSpent">
          <mat-error > Une erreur est survenue</mat-error><br />
          <mat-error > Veuillez réessayer ultérieurement</mat-error>
        </b>
    </p>



  </div>

  
</div>