<div class="campaignMainMetrics">
  <div>
    <ngx-chartjs [data]="periodChartData" type="doughnut" [height]="60" [width]="60" [options]="options"></ngx-chartjs>
    <p>
      du <b>{{ campaign.start_date | date: 'd MMMM yyyy' }}</b><br />
      au <b>{{ campaign.end_date | date: 'd MMMM yyyy' }}</b>
    </p>
  </div>
  <div>

    <ngx-chartjs [data]="budgetChartData" type="doughnut" [height]="60" [width]="60" [options]="options"
      *ngIf="budgetTotal">
    </ngx-chartjs>

    <p>
      Estimation de la rétribution totale :<br />
      <span *ngIf="budgetTotal" class="campaignMainMetrics-budgetSpend"><b>{{ budgetSpent | euro }}</b></span>
      <span *ngIf="budgetTotal"> sur </span><b *ngIf="budgetTotal"> {{ budgetTotal | euro }}</b>

      <b style="font-size: medium" *ngIf="!budgetTotal">
        <mat-error> Une erreur est survenue</mat-error><br />
        <mat-error> Veuillez réessayer ultérieurement</mat-error>
      </b>
    </p>
  </div>
</div>
