@import 'variables';

.campaignMainMetrics {
  height: 200px;
  padding: 15px 30px 15px 20px;
  background-color: white;
  display: flex;
  p,
  span {
    font-size: 18px;
  }
  & > div {
    & > * {
      margin: 10px;
    }
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-budgetSpend {
    color: $color-secondary;
  }
}
