.Territories-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Territories-list-actions {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
  .mat-flat-button {
    min-width: 0;
    width: 45px;
    height: 45px;
    padding: 0;
    margin-right: 1em;
  }
}

.Territories-edition {
  max-width: 550px;
}

::ng-deep {
  .Territories-list-actions .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0;
    padding: 0;
  }
}
