.Territories-list-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.Territories-list-item-actions {
  text-align: right;
}

.Territories-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
