<div
  class="TripList"
  infiniteScroll
  [infiniteScrollDistance]="1"
  [infiniteScrollThrottle]="150"
  [infiniteScrollContainer]="'.AuthenticatedLayout-body'"
  [fromRoot]="true"
>
  <div class="TripList--loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>

  <!-- not found message -->
  <div class="TripList-message" *ngIf="loaded && !trips.length && !hasError">
    <p>Aucun trajet n'a été réalisé sur cette période avec ces critères de recherche.</p>
  </div>

   <!-- erreur -->
   <div class="TripList-message" *ngIf="loaded && hasError">
    <p>Une erreur est survenue.</p>
  </div>

  <!-- counter and trip list -->
  <div class="TripList-header" *ngIf="loaded && trips.length">
    <span class="TripList-header-results">{{ total }} résultats</span>
  </div>

  <div class="TripList-content" [hidden]="!loaded || !trips.length">
    <app-trip-table [data]="trips" [displayedColumns]="columnsDisplayed"></app-trip-table>
    <mat-paginator [length]="total" [pageSize]="PAGE_SIZE" (page)="paginationUpdate($event)"></mat-paginator>
  </div>
</div>
