<div
  class="TripList"
  infiniteScroll
  [infiniteScrollDistance]="1"
  [infiniteScrollThrottle]="150"
  [infiniteScrollContainer]="'.AuthenticatedLayout-body'"
  [fromRoot]="true"
  (scrolled)="onScroll()"
>
  <div class="TripList--loading" *ngIf="loading && !trips">
    <mat-spinner></mat-spinner>
  </div>
  <div class="TripList-message" *ngIf="showMessage">
    <p>
      Auncun trajet n'a été réalisé ces derniers mois.
    </p>
  </div>
  <div class="TripList-header" *ngIf="trips && !showMessage">
    <span class="TripList-header-results" *ngIf="total !== null"> {{ total }} résultats </span>
    <div class="TripList-header-download">
      <button
        mat-flat-button
        [appShowSpinner]="isExporting"
        [disabled]="exported"
        (click)="openExport()"
        color="primary"
      >
        <mat-icon>get_app</mat-icon>
        Téléchargez (.csv)
      </button>
      <form [formGroup]="exportFilterForm" *ngIf="showExport" class="exportFilter">
        <div class="exportFilter-dates" formGroupName="date">
          <mat-form-field appearance="outline">
            <mat-label>Début</mat-label>
            <input matInput formControlName="start" [matDatepicker]="startDatePicker" placeholder="Choisir une date" />
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Fin</mat-label>
            <input matInput formControlName="end" [matDatepicker]="endDatePicker" placeholder="Choisir une date" />
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="exportFilter-footer">
          <button mat-flat-button type="button" color="primary" (click)="exportTrips()">Exporter les trajets</button>
        </div>
      </form>
    </div>
  </div>
  <div class="TripList-content" *ngIf="trips && !showMessage">
    <app-trip-table [data]="trips"></app-trip-table>
    <mat-progress-bar mode="indeterminate" *ngIf="tripService.loading"></mat-progress-bar>
  </div>
</div>
