<div class="formula-guide">
  <div class="formula-guide-icon">
    <mat-icon [svgIcon]="'documentation'"></mat-icon>
  </div>
  <div class="formula-guide-title">
    Guide pour les formules de calcul d'incitation
  </div>
  <div class="formula-guide--loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="!loading" class="formula-guide-content">
    <h5>
      Paramètres
    </h5>
    <div class="formula-guide-content-parameters">
      <p *ngFor="let parameter of parameters">
        <b>{{ parameter.varname }}</b> : <span>{{ parameter.helper }}</span>
      </p>
    </div>
    <h5>
      Opérations mathématiques
    </h5>
    <div class="formula-guide-content-operations">
      <p>
        * / + -
      </p>
    </div>
    <h5>
      Fonctions
    </h5>
    <div class="formula-guide-content-functions">
      <p><b>larger(x,y)</b> : <span>Si x et strictement supérieur à y </span></p>
      <p><b>smaller(x,y)</b> : <span>Si x et strictement inférieur à y </span></p>
      <p><b>largerEql(x,y)</b> : <span>Si x et supérieur ou égale à y </span></p>
      <p><b>smallerEql(x,y)</b> : <span>Si x et inférieur ou égale à y </span></p>
    </div>
  </div>
</div>
