@import 'variables';

.campaign-capitalcall {
  h4 {
    color: $color-primary;
  }
  &-content {
    background-color: white;
    padding: 30px;
  }
  &-empty {
    height: 249px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
}
