<div class="campaign-capitalcall">
  <h4> Appels de fonds - Récapitulatif des 6 derniers mois </h4>
  <div class="campaign-capitalcall-content">

    <table mat-table [dataSource]="capitalcallList">
 
      <!-- Month -->
      <ng-container matColumnDef="month">
        <th mat-header-cell  *matHeaderCellDef>Mois</th>
        <td mat-cell *matCellDef="let capitalcall">{{ capitalcall?.month }}</td>
      </ng-container>
      
      <!-- Operator -->
      <ng-container matColumnDef="operator">
        <th mat-header-cell *matHeaderCellDef>Opérateur</th>
        <td mat-cell *matCellDef="let capitalcall">{{capitalcall?.operator}}</td>
      </ng-container>

      <!-- Actions -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let capitalcall">
          <a href="{{capitalcall.signed_url}}"> <mat-icon color="primary" matTooltip="Télécharger">cloud_download</mat-icon> </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr class="mat-row campaign-capitalcall-empty" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="displayedColumns.length" >
            Aucun appel fond
          </td>
      </tr>

    </table>

  </div>
</div>