@import 'variables';

.campaign-frequests {
  h4 {
    color: $color-primary;
  }
  &-content {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  &-empty {
    height: 150px;
    text-align: center;
  }
}

.loader {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}

