<div class="campaign-frequests">
  <h4> Appels de fonds - Récapitulatif des 6 derniers mois </h4>
  <div class="campaign-frequests-content">

    <div class="loader" *ngIf="!fRequestsList">
      <mat-spinner></mat-spinner>
    </div>

    <table *ngIf="fRequestsList" mat-table [dataSource]="fRequestsList">

      <!-- Month -->
      <ng-container matColumnDef="month">
        <th mat-header-cell *matHeaderCellDef>Mois</th>
        <td mat-cell *matCellDef="let frequests">{{ frequests?.month }}</td>
      </ng-container>

      <!-- Operator -->
      <ng-container matColumnDef="operator">
        <th mat-header-cell *matHeaderCellDef>Opérateur</th>
        <td mat-cell *matCellDef="let frequests">{{frequests?.operator}}</td>
      </ng-container>

      <!-- Actions -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let frequests">
          <a href="{{frequests.signed_url}}">
            <mat-icon color="primary" matTooltip="Télécharger">cloud_download</mat-icon>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr class="mat-row campaign-frequests-empty" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="displayedColumns.length">
          Aucun appel fond
        </td>
      </tr>

    </table>

  </div>
</div>
