<mat-form-field [formGroup]="parentForm" class="territoriesAutocomplete" appearance="outline">
  <mat-label>Territoires</mat-label>
  <mat-chip-list #chipList>
    <mat-chip
      *ngFor="let territory of this.territoryForm.value"
      [selectable]="true"
      [removable]="true"
      (removed)="remove(territory)"
    >
      {{ territory.shortname }}
      <mat-icon matChipRemove>remove</mat-icon>
    </mat-chip>
    <input
      matInput
      placeholder="+ ajouter"
      aria-label="Ajouter un territoire"
      #territoryInput
      [formControl]="territoryCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputAddOnBlur]="false"
    />
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onTerritorySelect($event)">
    <mat-option *ngFor="let territory of filteredTerritories" [value]="territory._id">
      {{ territory.shortname }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
