<mat-form-field [formGroup]="parentForm" class="territoriesAutocomplete" appearance="outline">
  <mat-label>Territoires</mat-label>
  <mat-chip-list #chipList>
    <mat-chip
      *ngFor="let territory of this.territoryIdsControl.value"
      [selectable]="true"
      [removable]="true"
      (removed)="remove(territory)"
    > 
    {{territory.name}} ({{ territory.type }})
      <mat-icon matChipRemove>remove</mat-icon>
    </mat-chip>
    <input
      matInput
      [placeholder]="'AOM, EPCI, Commune...'"
      [attr.aria-label]="'Filtrer par AOM, EPCI, Commune...'"
      #territoryInput
      [formControl]="territoryCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputAddOnBlur]="false"
      minlength="2"
      maxlength="100"
    />
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onTerritorySelect($event)">
    <mat-option *ngFor="let territory of filteredTerritories" [value]="territory">
      {{ territory.name }} ({{ territory.type }})
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
