<form (ngSubmit)="onSubmit()" [formGroup]="userForm">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-6">
            <div class="ui-g-12 ui-md-4">
                <label>Prénom</label>
            </div>
            <div class="ui-g-12 ui-md-8">
                <input type="text" pInputText formControlName="firstname">
                <p-message
                        severity="error"
                        [text]="userForm.controls['firstname'].errors['required'] ? 'Le prénom est requis.' : ''"
                        *ngIf="!userForm.controls['firstname'].valid&&userForm.controls['firstname'].dirty">
                </p-message>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6">
            <div class="ui-g-12 ui-md-4">
                <label>Nom</label>
            </div>
            <div class="ui-g-12 ui-md-8">
                <input type="text" pInputText formControlName="lastname">
                <p-message
                        severity="error"
                        [text]="userForm.controls['lastname'].errors['required'] ? 'Le nom est requis.' : ''"
                        *ngIf="!userForm.controls['lastname'].valid&&userForm.controls['lastname'].dirty">
                </p-message>
            </div>
        </div>
    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-6">
            <div class="ui-g-12 ui-md-4">
                <label>Téléphone</label>
            </div>
            <div class="ui-g-12 ui-md-8">
                <input type="text" pInputText formControlName="phone">
                <p-message
                        severity="error"
                        [text]="userForm.controls['phone'].errors['required'] ? 'Le numéro de téléphone est requis.' : userForm.controls['phone'].errors['pattern'] ? 'Numéro de téléphone invalide' : ''"
                        *ngIf="!userForm.controls['phone'].valid&&userForm.controls['phone'].dirty">
                </p-message>
            </div>
        </div>
    </div>
    <div class="ui-g ui-fluid">
        <p-button label="Enregistrer"></p-button>
    </div>
</form>
