.loading {
  margin-top: 180px;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-around;
}

.wrapper {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.center-align {
  text-align: center;
}

.description {
  margin: 2em 1em;
  &.error {
    color: #fff;
    background-color: #c00000;
    font-weight: bold;
    padding: 0.2em 2em 0.5em;
    border-radius: 0.5em;
  }
}

.table {
  margin: 1em 0;
  width: 100%;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
  font-family: 'OpenSans';
  tr > td:first-child {
    font-weight: bold;
  }
  tr > td:last-child {
    font-family: monospace;
    text-transform: uppercase;
  }
  .divider {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  &.is-small {
    td {
      display: block;
    }
    tr > td:first-child {
      margin-top: 1em;
    }
  }
}
