<div>
  <div class="loading" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>

  <div class="generate" *ngIf="data">
    <div class="wrapper">
      <div class="description">
        <p>
          Veuillez vérifier les informations ci-dessous pour vous assurer que l'attestation qui vous est présentée a été
          générée par le Registre de preuve de covoiturage.
        </p>
      </div>

      <div class="description">
        <h3>Données de l'attestation</h3>
      </div>

      <mat-card>
        <table class="table" [ngClass]="{ 'is-small': isSmall }">
          <tr>
            <td>Date d'émission</td>
            <td>{{ data.created_at | date: 'dd/MM/yyyy' }}&nbsp;à&nbsp;{{ data.created_at | date: 'HH:mm' }}</td>
          </tr>
          <tr>
            <td>Période</td>
            <td>du&nbsp;{{ data.start_at | date: 'dd/MM/yyyy' }} au&nbsp;{{ data.end_at | date: 'dd/MM/yyyy' }}</td>
          </tr>

          <tr>
            <td colspan="2" class="divider">
              <mat-divider></mat-divider>
            </td>
          </tr>

          <tr *ngIf="data.total_point !== undefined">
            <td>Points</td>
            <td>{{ data.total_point }} points</td>
          </tr>

          <tr *ngIf="data.total_rm !== undefined">
            <td>Reste à charge</td>
            <td>{{ data.total_rm }} &euro;</td>
          </tr>

          <tr>
            <td colspan="2" class="divider">
              <mat-divider></mat-divider>
            </td>
          </tr>

          <tr>
            <td>Attestation</td>
            <td>{{ data.uuid }}</td>
          </tr>
          <tr>
            <td>Personne</td>
            <td>{{ data.identity_uuid }}</td>
          </tr>
          <tr>
            <td>Opérateur</td>
            <td>{{ data.operator_uuid }}</td>
          </tr>
        </table>
      </mat-card>
    </div>
  </div>

  <div *ngIf="isOnError">
    <div class="wrapper">
      <div class="description error">
        <h3>Erreur</h3>
        <p>Attestation non valide</p>
      </div>
    </div>
  </div>
</div>
