@import "../../../../../../assets/scss/variables.scss";



.p-dir-col{
  height: 100%;
  justify-content: center;
}

.subtitle{
  text-align: center;
  padding: 0;
  margin: 0.5em;
  color: grey;
}

.policyDescription{
  padding: 15px;
  background-color: #f5fbff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.chosenPolicyList{
  max-height: 47vh;
  overflow: auto;
}
