.Operators {
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2em;

    &-actions {
      display: flex;
      align-items: center;
      .mat-flat-button {
        min-width: 0;
        width: 45px;
        height: 45px;
        padding: 0;
        margin-right: 1em;
      }
    }
  }
  &-list {
    margin-bottom: 40px;
  }
  &-edition {
    max-width: 550px;
    margin-bottom: 40px;
  }
}

::ng-deep {
  .Operators-header-actions .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0;
    padding: 0;
  }
}
