<div class="Operators-list" [hidden]="showForm">
  <div class="Operators-header">
    <h2>
      Opérateurs
    </h2>
    <app-operator-filter (filterLiteralChange)="pipeFilter($event)"></app-operator-filter>
  </div>
  <app-operator-list (edit)="pipeEdit($event)" [operators]="operatorsToShow"></app-operator-list>
  <mat-paginator
    [hidden]="!operatorsToShow && !operatorsFiltered"
    [length]="countOperators"
    [pageSize]="PAGE_SIZE"
  ></mat-paginator>
</div>

<div class="Operators-edition">
  <div id="operatorForm-anchor"></div>
  <button mat-flat-button class="large" *ngIf="!showForm" (click)="showCreationForm()" color="primary">
    Ajouter un opérateur
  </button>
  <div *ngIf="showForm">
    <h3 *ngIf="!isCreating">
      Edition de l'opérateur
    </h3>
    <h3 *ngIf="isCreating">
      Création d'un Opérateur
    </h3>
  </div>
  <app-operator-form
    [showForm]="showForm"
    [closable]="true"
    [operator]="operatorStoreService.entity$ | async"
    (close)="close()"
  ></app-operator-form>
</div>
