<div class="Operators-list" [hidden]="showForm">
  <div class="Operators-header">
    <h2>Opérateurs</h2>
    <div class="Operators-header-actions">
      <!-- add operator -->
      <button
        mat-flat-button
        *ngIf="!showForm"
        (click)="showCreationForm()"
        color="primary"
        matTooltip="Ajouter un opérateur"
        matTooltipPosition="left"
      >
        <mat-icon>add</mat-icon>
      </button>

      <!-- filter results -->
      <app-operator-filter (filterLiteralChange)="pipeFilter($event)"></app-operator-filter>
    </div>
  </div>

  <app-operator-list (edit)="pipeEdit($event)" [operators]="operatorsToShow"></app-operator-list>

  <mat-paginator
    [hidden]="!operatorsToShow && !operatorsFiltered"
    [length]="countOperators"
    [pageSize]="PAGE_SIZE"
  ></mat-paginator>
</div>

<div class="Operators-edition">
  <div *ngIf="showForm">
    <h2>
      {{ isCreating ? 'Création' : 'Edition' }} d'un Opérateur
      <button mat-button (click)="close()">retour à la liste</button>
    </h2>
  </div>

  <app-operator-form
    [showForm]="showForm"
    [closable]="true"
    [operator]="operatorStoreService.entity$ | async"
    (close)="close()"
  ></app-operator-form>
</div>
