<div class="Header">
  <div class="Header-logo">
    <img src="assets/img/covoituragebetagouvfr.svg" alt="Logo de la Marianne, covoiturage.beta.gouv.fr" />
  </div>
  <div class="Header-menu" *ngIf="user">
    <div class="Header-menu-item">
      Campagnes
    </div>
    <div class="Header-menu-item">
      Statistiques
    </div>
  </div>
  <div class="Header-user" *ngIf="user">
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle_outline</mat-icon>
      {{ user.firstname + ' ' + user.lastname }}
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="'/admin'">Administration</button>
      <button mat-menu-item (click)="onLogout()">Déconnexion</button>
    </mat-menu>
  </div>
</div>
