@import 'variables';

.Header {
  display: flex;
  align-items: center;
  padding: 10px 5%;
  background: $background-white;

  &-logo {
    & img {
      height: 45px;
      cursor: pointer;
    }

    margin-right: 30px;
  }

  &-menu {
    display: flex;

    &-item {
      cursor: pointer;
      border-radius: 5px;
      padding: 10px 15px;
      transition: 0.3s all;

      &:hover,
      &.active {
        background: $color-secondary;
        color: $white;
      }

      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  &-user {
    margin-left: auto;
    &-button-text {
      display: inline-block;
      width: 150px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    button {
      height: 45px;
      width: 240px;
      mat-icon {
        &:first-child {
          margin-right: 10px;
        }

        &:last-child {
          margin-left: 10px;
        }
      }
    }
  }
}

::ng-deep {
  .mat-menu-content {
    width: 240px;
  }
  .mat-menu-panel {
    @include supportEdge(overflow, hidden !important);
  }
}
