<div class="navbar">
  <div class="navbar-content">
    <!-- left aligned menu -->
    <div class="navbar-left">
      <!-- logo -->
      <div class="navbar-logo">
        <a [href]="homeLink" title="Registre de preuve de covoiturage">
          <img src="assets/img/covoituragebetagouvfr.svg" alt="Registre de preuve de covoiturage" />
        </a>
      </div>

      <!-- Trajets -->
      <div *ngIf="user" class="navbar-menu-item trip-menu-item" [routerLink]="'/trip'" routerLinkActive="active">
        Trajets
      </div>

      <!-- Campagnes -->
      <div
        *ngIf="(user && hasTerritoryGroup) || hasRegistryGroup"
        class="navbar-menu-item campaign-menu-item"
        [routerLink]="routerLink"
        routerLinkActive="active"
      >
        Campagnes
      </div>
    </div>

    <!-- right aligned menu -->
    <div class="navbar-right" *ngIf="user">
      <div class="navbar-user">
        <mat-icon>{{ setUserIcon() }}</mat-icon>
        <div class="navbar-user-name">
          <div>{{ user.firstname + ' ' + user.lastname }}</div>
          <div class="navbar-user-meta">{{ userMeta }}</div>
        </div>
      </div>

      <button mat-button [routerLink]="'/admin'" matTooltip="Administration">
        <mat-icon>settings</mat-icon>
      </button>
      <button mat-button (click)="onLogout()" matTooltip="Déconnexion">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </div>
  </div>
</div>
