<div class="campaignContactsView">
  <div class="campaignContactsView--loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
  <div [hidden]="loading || !showMap" id="map" class="map"></div>

  <div *ngIf="!loading" class="campaignContactsView-description">
    <h3>{{ territory.name }}</h3>

    <div class="campaignContactsView-contacts" *ngIf="territory.contacts && territory.contacts.technical">
      <p>{{ territory.contacts.technical.firstname }} {{ territory.contacts.technical.lastname }}</p>
      <p>{{ territory.contacts.technical.email }}</p>
      <p>{{ territory.contacts.technical.phone }}</p>
    </div>
  </div>
</div>
