.app-user-form {
  padding-bottom: 3em;

  .form__radio-button-wrapper {
    line-height: 2;
  }

  .form__radio-button-item {
    margin-right: .5em;
  }

  .form__actions {
    margin-top: 2em;
    justify-content: right;
  }
}

// fix overflowing content
body .ui-dialog .ui-dialog-content {
  overflow: hidden !important;
  overflow-y: scroll !important;
}
