<h2 *ngIf="isRegistryGroup">
  {{ !!territory ? 'Edition du territoire' : 'Ajouter un territoire' }}
  <button mat-button routerLink="/admin/all-territories">retour à la liste</button>
</h2>
<div>
  <form class="territoryForm" [formGroup]="territoryForm">
    <div *ngIf="isRegistryGroup">
      <h2>Informations générales</h2>

      <h3>Structure</h3>

      <app-form-company [parentForm]="territoryForm.get('company')"></app-form-company>

      <h3>Adresse</h3>

      <app-form-address [parentForm]="territoryForm.get('address')"></app-form-address>
    </div>

    <h2>Contacts et responsables</h2>
    <div class="contacts">
      <div>
        <h3>Délégué à la protection des données</h3>

        <app-form-contact [parentForm]="territoryForm.get('contacts.gdpr_dpo')" [showPhoneNumber]="false">
        </app-form-contact>
      </div>

      <div>
        <h3>Responsable du traitement</h3>

        <app-form-contact [parentForm]="territoryForm.get('contacts.gdpr_controller')" [showPhoneNumber]="false">
        </app-form-contact>
      </div>

      <div>
        <h3>Responsable technique</h3>

        <app-form-contact [parentForm]="territoryForm.get('contacts.technical')"></app-form-contact>
      </div>
    </div>

    <div>
      <div class="actions">
        <button type="button" class="large" routerLink="/admin/all-territories" mat-button
          *ngIf="isRegistryGroup">Annuler</button>

        <button *ngIf="canUpdate" type="submit" class="large" mat-flat-button (click)="onSubmit()"
          [disabled]="territoryForm.invalid" color="primary">
          {{ !!territory ? 'Mettre à jour' : 'Créer' }}
        </button>
      </div>
    </div>
  </form>
</div>