<div [hidden]="!showForm">
  <form class="territoryForm" [formGroup]="territoryForm">
    <div *ngIf="fullFormMode">
      <h2>Informations générales</h2>

      <mat-form-field class="name" appearance="outline">
        <mat-label>Nom</mat-label>
        <input matInput formControlName="name" required />
        <mat-error *ngIf="territoryForm.controls.name.hasError('required')">Le nom est obligatoire.</mat-error>
      </mat-form-field>

      <mat-form-field class="shortname" appearance="outline">
        <mat-label>Nom d'usage</mat-label>
        <input matInput formControlName="shortname" />
      </mat-form-field>

      <h3>Territoire</h3>

      <mat-radio-group aria-label="Format" class="format-radio" formControlName="format">
        <mat-radio-button value="parent">Territoire parent (regroupe plusieurs sous territoires)</mat-radio-button
        ><br />
        <mat-radio-button value="insee">Commune ou groupe de communes</mat-radio-button><br />
        <mat-radio-button value="geo">Personnalisé (contour géographique)</mat-radio-button>
      </mat-radio-group>

      <app-territory-children
        [hidden]="relationDisplayMode !== 'parent'"
        (hasTerritories)="hasTerritoriesChanged($event)"
      ></app-territory-children>

      <div *ngIf="relationDisplayMode === 'insee'">
        <h4>Insees(séparé par des virgules)</h4>
        <mat-form-field class="relation-textarea" appearance="outline">
          <mat-label>Codes INSEE *</mat-label>
          <textarea matInput formControlName="insee"></textarea>
          <mat-error *ngIf="territoryForm.controls.insee.hasError('required')"
            >Les codes INSEE sont obligatoires.</mat-error
          >
          <mat-error
            *ngIf="
              !territoryForm.controls.insee.hasError('required') && territoryForm.controls.insee.hasError('pattern')
            "
            >Les codes sont au format INSEE (5 chiffres) et doivent être séparés par des virgules</mat-error
          >
        </mat-form-field>
      </div>
      <div *ngIf="relationDisplayMode === 'geo'">
        <h4>Contour geographique</h4>

        <mat-form-field class="relation-textarea" appearance="outline">
          <mat-label>Contour geographique</mat-label>
          <textarea matInput formControlName="geo"></textarea>
        </mat-form-field>

        <div class="subtext">
          Format geojson avec des données de type MultiPolygon
          <a href="https://fr.wikipedia.org/wiki/GeoJSON#Objets_g%C3%A9om%C3%A9triques" target="_blank">ici</a>
        </div>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Niveau</mat-label>
        <mat-select formControlName="level" required>
          <mat-option *ngFor="let valueLabel of levelLabel" [value]="valueLabel[0]">{{ valueLabel[1] }}</mat-option>
        </mat-select>
        <mat-error *ngIf="controls.level.hasError('required')">
          Le niveau du territoire est obligatoire.
        </mat-error>
      </mat-form-field>

      <mat-checkbox formControlName="activable">AOM</mat-checkbox>
      <mat-checkbox formControlName="active" [hidden]="!displayAOMActive">AOM active</mat-checkbox>
      <div [hidden]="!territoryForm.get('activable').value">
        <h3>Structure</h3>

        <app-form-company [parentForm]="territoryForm.get('company')"></app-form-company>

        <h3>Adresse</h3>

        <app-form-address [parentForm]="territoryForm.get('address')"></app-form-address>
      </div>
    </div>

    <div [hidden]="!territoryForm.get('activable').value">
      <h2>Contacts et responsables</h2>
      <div class="contacts">
        <div>
          <h3>Délégué à la protection des données</h3>

          <app-form-contact
            [parentForm]="territoryForm.get('contacts').get('gdpr_dpo')"
            [showPhoneNumber]="false"
          ></app-form-contact>
        </div>

        <div>
          <h3>Responsable du traitement</h3>

          <app-form-contact
            [parentForm]="territoryForm.get('contacts').get('gdpr_controller')"
            [showPhoneNumber]="false"
          ></app-form-contact>
        </div>

        <div>
          <h3>Responsable technique</h3>

          <app-form-contact [parentForm]="territoryForm.get('contacts').get('technical')"></app-form-contact>
        </div>
      </div>
    </div>
    <div>
      <div>
        <button
          *ngIf="authService.hasAnyPermission(['territory.update'])"
          type="submit"
          class="large"
          mat-flat-button
          (click)="onSubmit()"
          [disabled]="!territoryForm.valid || (!hasTerritories && relationDisplayMode === 'parent')"
          color="primary"
        >
          {{ !!editedId ? 'Mettre à jour les informations' : 'Créer' }}
        </button>
        <button type="button" class="large" (click)="onClose()" mat-flat-button *ngIf="closable">
          Fermer
        </button>
      </div>
    </div>
  </form>
</div>
