<h2 *ngIf="isRegistryGroup">
  {{ !!territory ? 'Edition du territoire' : 'Ajouter un territoire' }}
  <button mat-button routerLink="/admin/all-territories">retour à la liste</button>
</h2>
<div>
  <form class="territoryForm" [formGroup]="territoryForm">
    <h2>Informations générales</h2>

    <div class="line">
      <div *ngIf="isRegistryGroup" style="margin-right: 50px;">
        <h3>Structure</h3>
        <app-form-company [parentForm]="territoryForm.get('company')"></app-form-company>

        <h3>Adresse</h3>
        <app-form-address [parentForm]="territoryForm.get('address')"></app-form-address>
      </div>
      <div style="flex: 1;" *ngIf="comComs && comComs.length > 0">
        <h3>Communes membres</h3>
        <div class="comcoms">
          <div style="width: 50%;" *ngFor="let com of comComs; let idx = index">
            {{ com.name }}   ({{ com.insee }})
          </div>
        </div>
      </div>
    </div>



    <h2>Contacts et responsables</h2>
    <div class="contacts">
      <div>
        <h3>Délégué à la protection des données</h3>

        <app-form-contact [parentForm]="territoryForm.get('contacts.gdpr_dpo')" [showPhoneNumber]="false">
        </app-form-contact>
      </div>

      <div>
        <h3>Responsable du traitement</h3>

        <app-form-contact [parentForm]="territoryForm.get('contacts.gdpr_controller')" [showPhoneNumber]="false">
        </app-form-contact>
      </div>

      <div>
        <h3>Responsable technique</h3>

        <app-form-contact [parentForm]="territoryForm.get('contacts.technical')"></app-form-contact>
      </div>
    </div>


    <div class="actions">
      <button type="button" class="large" routerLink="/admin/all-territories" mat-button
        *ngIf="isRegistryGroup">Annuler</button>

      <button *ngIf="canUpdate" type="submit" class="large" mat-flat-button (click)="onSubmit()"
        [disabled]="territoryForm.invalid" color="primary">
        {{ !!territory ? 'Mettre à jour' : 'Créer' }}
      </button>
    </div>

  </form>
</div>