form {
  display: flex;
  flex-direction: column;
  &--loading {
    display: flex;
    justify-content: space-around;
  }

  .mat-form-field {
    display: block;
  }

  .contacts {
    display: flex;
    flex-wrap: wrap;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .mat-button {
      margin: 0 0.5em;
    }
  }

  .mat-checkbox {
    margin: 0 10px;
  }

  .relation-textarea {
    width: 558px;

    max-width: 100%;

    textarea {
      height: 100px;
    }
  }
}

.subtext {
  display: block;
  margin: 0 0 15px;
  font-size: 0.9em;
}

.format-radio .mat-radio-button {
  margin: 2px 0;
}

.no-children-error {
  padding: 0 0.5em;
  margin: -3em 0 2em;
  font-size: 75%;
  font-weight: 400;
  line-height: 1.125;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  letter-spacing: normal;
}
