<p><img src="assets/icons/equipe.svg" alt="" width="15">&nbsp; Un service fourni par la DINSIC et incubé par beta.gouv.fr</p>
<p><img src="assets/icons/mail.svg" alt="" width="15">&nbsp; {{contactEmail}}</p>
<p><fa-icon icon="map-marker-alt"></fa-icon>&nbsp;&nbsp; 20 avenue de Ségur, 75007 Paris</p>
<br>
<p><img src="assets/icons/documentation.svg" alt="" width="15">&nbsp; Plus d'information :</p>
<p>Site internet : <a href="mainSiteLink">{{mainSiteLink}}</a></p>
<p>Documentation : <a href="documentationLink">{{documentationLink}}</a></p>
