<h2 mat-dialog-title>Export de données</h2>
<mat-dialog-content>
  <p>Export des données au format CSV compressé (.zip)</p>

  <ul *ngIf="hasProps">
    <li *ngFor="let item of props | keyvalue">
      <span class="key">{{ item.key }}&nbsp;:</span>
      {{ item.value }}
    </li>
  </ul>

  <p>Le fichier vous sera envoyé par email dans quelques minutes.</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-stroked-button mat-dialog-close class="cancel" color="primary">Annuler</button>
  <button mat-flat-button [mat-dialog-close]="true" class="confirm" color="primary">Exporter</button>
</mat-dialog-actions>
