<header class="rf-header">
  <div class="rf-container">
    <div class="rf-header__body">
      <div class="rf-header__brand">
        <a
          class="rf-logo"
          href="/"
          title="Ministère de la transition écologique"
        >
          <span class="rf-logo__title">
            Ministère <br />de la transition<br />écologique
          </span>
        </a>
      </div>
      <div class="rf-header__navbar">
        <div class="rf-service">
          <a
            class="rf-service__title"
            href="#"
            title="Attestation sur l'honneur de covoiturage"
          >
            Attestation sur l'honneur de covoiturage
          </a>
        </div>
      </div>
      <div class="rf-header__tools">
        <div class="rf-shortcuts">
          <ul class="rf-shortcuts__list">
            <li class="rf-shortcuts__item">
              <app-dark-mode-toggle></app-dark-mode-toggle>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="rf-section rf-section--secondary">
  <div class="rf-container">
    <div class="rf-grid-row">
      <div class="rf-col-12">
        <div class="padding-1em">
          <h1 class="page-title">
            Générateur d'attestation sur l'honneur de covoiturage
          </h1>
          <p>
            Le Forfait mobilités durables permet aux employeurs du secteur 
            privé de prendre en charge de manière facultative (jusqu'à 500&nbsp;€
            par an par salarié du secteur privé et 300&nbsp;€ pour les salariés du secteur public,
            exonérés de charges sociales et fiscales) les frais
            de déplacement de leurs salariés sur leur trajet domicile-travail
            effectué avec des modes alternatifs à la voiture individuelle,
            notamment en covoiturage.
          </p>
          <p>
            Le Forfait mobilités durables dans la fonction publique permet aux agents
            ayant recours au moins 30 jours par an (modulé selon le temps de travail)
            au covoiturage et/ou au vélo pour leur trajet domicile-travail de bénéficier
            d’une indemnité forfaitaire de 200 € par an (exonérée d’impôts et
            prélèvements sociaux).
          </p>
          <p>
            L’employeur doit pouvoir se procurer, auprès de ses salariés et selon une
            périodicité au moins annuelle, une attestation sur l'honneur du salarié
            ou un justificatif de l’utilisation des modes de transport ouvrant droit
            à la prise en charge dans le cadre du « forfait mobilités durables ».
            Ces modalités sont définies par des accords d'entreprise.
          </p>
          <p>
            <a
               href="https://doc.covoiturage.beta.gouv.fr/employeurs-et-employes-developper-du-forfait-mobilite-durables/comprendre-le-contexte-reglementaire"
               target="_blank"
            >
              Plus d'informations sur le contexte réglementaire.
            </a>
          </p>

          <h3>Fonctionnement</h3>

          <p>
            Si les accords entreprise de l'employeur le permettent, il est possible 
            de communiquer une attestation sur l'honneur.
          </p>

          <ol>
            <li>
              je complète le formulaire suivant avec les informations me
              concernant&nbsp;;
            </li>
            <li>je télécharge l'attestation dûment complétée&nbsp;;</li>
            <li>je communique cette attestation auprès de mon employeur.</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="rf-section">
  <div class="rf-container">
    <div class="rf-grid-row">
      <div class="rf-col-md-6 rf-col-offset-md-3 rf-col-xs-12">
        <div class="padding-1em">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="rf-section rf-section--secondary">
  <div class="rf-container">
    <div class="rf-col-12">
      <div class="padding-1em">
        <h2>Confidentialité de vos données</h2>
        <p>
          Ce site n'utilise pas de cookies.<br />
          Il stocke vos préférences d'affichage (mode jour ou nuit) dans votre
          navigateur (<em>localStorage</em>), accessibles uniquement par vous.
        </p>
        <p>
          L'attestation est générée directement dans votre navigateur sans
          passer par un serveur. Aucun document ou information personnelle n'est
          stockée.
        </p>
        <p>
          Le nombre d'attestations est comptabilisé de manière anonyme sur la
          page de
          <a
            href="https://app.covoiturage.beta.gouv.fr/stats"
            target="_blank"
            rel="noopener noreferrer"
            >statistiques</a
          >
          du
          <a
            href="http://covoiturage.beta.gouv.fr/"
            target="_blank"
            rel="noopener noreferrer"
            >Registre de preuve de covoiturage</a
          >.
        </p>
        <p>
          Le site est hébergé en France chez
          <a
            href="https://www.alwaysdata.com/"
            target="_blank"
            rel="noopener noreferrer"
            >Alwaysdata</a
          >
        </p>
      </div>
    </div>
  </div>
</section>

<footer class="rf-footer" role="contentinfo">
  <div class="rf-container">
    <div class="rf-footer__body">
      <div class="rf-footer__brand">
        <a class="rf-logo__inverted" href="#" title="république<br>française">
          <span class="rf-logo__title">république<br />française</span>
        </a>
      </div>
      <div class="rf-footer__content">
        <p class="rf-footer__content-desc">
          Une question, un problème&nbsp;?<br />
          Contactez-nous&nbsp;:
          <a href="mailto:attestation@covoiturage.beta.gouv.fr">
            attestation@covoiturage.beta.gouv.fr
          </a>
        </p>
        <p class="rf-footer__content-desc">
          Ce site a été développé par l'équipe du Registre de preuve de
          covoiturage, une Startup d'État de <em>beta.gouv.fr</em>.<br />
          Directeur de la publication&nbsp;: Nadi Bou Hanna, Directeur
          interministériel du numérique de l’État.
        </p>
        <p class="rf-footer__content-desc">
          Le
          <a
            href="https://github.com/betagouv/covoiturage-attestation-honneur/"
            target="_blank"
            rel="noopener noreferrer"
            >code source est ouvert</a
          >
          et les contributions sont bienvenues.<br />
          Licence Apache-2.0
        </p>
        <ul class="rf-footer__content-links">
          <li>
            <a
              href="https://beta.gouv.fr"
              target="_blank"
              rel="noopener noreferrer"
              >beta.gouv.fr</a
            >
          </li>
          <li>
            <a
              href="https://ecologie.gouv.fr"
              target="_blank"
              rel="noopener noreferrer"
            >
              Ministère de la transition écologique
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="rf-footer__bottom">
      <div class="rf-footer__bottom-copy">© République Française 2022</div>
    </div>
  </div>
</footer>
