<div class="export-filter">

  <form [formGroup]="form">
    <div class="form-flex">
      <div>
        <p>Dates</p>
        <div formGroupName="date" class="dates">
          <!-- start -->
          <mat-form-field appearance="outline">
            <mat-label>Début</mat-label>
            <input
              matInput
              formControlName="start"
              placeholder="Choisir une date"
              [min]="minDateStart"
              [max]="maxDateStart"
              [matDatepicker]="startDatePicker"
            />
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
            <mat-error *ngIf="form.get('date.start').hasError('matDatepickerParse')">
              Utiliser le format dd/mm/yyyy
            </mat-error>
            <mat-error *ngIf="form.get('date.start').hasError('matDatepickerMin')">
              La date minimum doit être supérieure à 1 an.
            </mat-error>
            <mat-error *ngIf="form.get('date.start').hasError('matDatepickerMax')">
              La date maximum ne peut être supérieure à la fin.
            </mat-error>
          </mat-form-field>
  
          <!-- end -->
          <mat-form-field appearance="outline">
            <mat-label>Fin</mat-label>
            <input
              matInput
              formControlName="end"
              placeholder="Choisir une date"
              [min]="minDateEnd"
              [max]="maxDateEnd"
              [matDatepicker]="endDatePicker"
            />
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
            <mat-error *ngIf="form.get('date.end').hasError('matDatepickerParse')">
              Utiliser le format dd/mm/yyyy
            </mat-error>
            <mat-error *ngIf="form.get('date.end').hasError('matDatepickerMin')">
              La date minimum doit être supérieure à celle de début.
            </mat-error>
            <mat-error *ngIf="form.get('date.end').hasError('matDatepickerMax')">
              La date maximum ne peut être plus récente qu'il y a 5 jours.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    
      <div>
        <p>Zone géographique</p>
        <app-territories-autocomplete   
        [parentForm]="form"></app-territories-autocomplete>
      </div>

      <div *ngIf="!authenticationService.isOperatorOrAdmin()" style="width: 100%;">
        <p>Opérateurs</p>
        <app-operators-checkboxes></app-operators-checkboxes>
      </div>

      <div class="actions">
        <button
          mat-flat-button
          type="button"
          color="primary"
          [appShowSpinner]="isExporting"
          [disabled]="form.invalid || isExporting"
          (click)="export()"
        >
          Exporter les trajets
        </button>
      </div>

      <div class="hints">
        <mat-hint>*&nbsp;Dates : L'export des données est possible sur les 12 derniers mois. Nous contacter pour une période plus longue.</mat-hint>
        <mat-hint>**&nbsp;Zones géographiques : Par défaut, la zone cible est l’ensemble de l’AOM. Pour restreindre le périmètre, utiliser avec le filtre "Territoire".</mat-hint>
        <mat-hint *ngIf="!authenticationService.isOperatorOrAdmin()">***&nbsp;Opérateurs : "Tout décocher" permet de sélectionner par défaut tous les opérateurs pour lesquels des trajets sont enregistrés.</mat-hint>
      </div>

    </div>
  </form>
</div>
