<div class="export-filter">

  <form [formGroup]="form">
    <div class="form-flex">
      <div>
        <p>Dates</p>
        <div formGroupName="date" class="dates">
          <!-- start -->
          <mat-form-field appearance="outline">
            <mat-label>Début</mat-label>
            <input
              matInput
              formControlName="start"
              placeholder="Choisir une date"
              [min]="minDateStart"
              [max]="maxDateStart"
              [matDatepicker]="startDatePicker"
            />
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
            <mat-error *ngIf="form.get('date.start').hasError('matDatepickerParse')">
              Utiliser le format dd/mm/yyyy
            </mat-error>
            <mat-error *ngIf="form.get('date.start').hasError('matDatepickerMin')">
              La date minimum doit être supérieure à 1 an.
            </mat-error>
            <mat-error *ngIf="form.get('date.start').hasError('matDatepickerMax')">
              La date maximum ne peut être supérieure à la fin.
            </mat-error>
          </mat-form-field>
  
          <!-- end -->
          <mat-form-field appearance="outline">
            <mat-label>Fin</mat-label>
            <input
              matInput
              formControlName="end"
              placeholder="Choisir une date"
              [min]="minDateEnd"
              [max]="maxDateEnd"
              [matDatepicker]="endDatePicker"
            />
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
            <mat-error *ngIf="form.get('date.end').hasError('matDatepickerParse')">
              Utiliser le format dd/mm/yyyy
            </mat-error>
            <mat-error *ngIf="form.get('date.end').hasError('matDatepickerMin')">
              La date minimum doit être supérieure à celle de début.
            </mat-error>
            <mat-error *ngIf="form.get('date.end').hasError('matDatepickerMax')">
              La date maximum ne peut être plus récente qu'il y a 5 jours.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    
      <div *ngIf="!user.isTerritory()">
        <p>Territoires</p>
        <app-territories-autocomplete   
        [parentForm]="form"   
        [placeholder]="'Territoire, Ville, EPCI...'"
        [title]="'Territoires'" 
        [label]="'Territoire, Ville, EPCI...'"></app-territories-autocomplete>
      </div>


      <!--
        operators' list on 3 columns
        - visible if territory or registry
        - an operator is visible by a territory only if it accepted to be visible
      -->
      <div *ngIf="!user.isOperator()" style="width: 100%;">
        <p >Opérateurs</p>
        <app-operators-checkboxes formControlName="operators"></app-operators-checkboxes>
      </div>


      <div class="actions">
        <button
          mat-flat-button
          type="button"
          color="primary"
          [appShowSpinner]="isExporting"
          [disabled]="form.invalid || isExporting"
          (click)="export()"
        >
          Exporter les trajets
        </button>
      </div>
    </div>
  </form>
</div>
