.export-filter {

  .form-flex {

    display: flex;
    flex-wrap: wrap;

    p {
      text-align: left;
      font-weight: 600;
    }
  }



  background-color: #ffffff;
  border-radius: 6px;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 10px 15px 15px 15px;

  .dates {
    mat-form-field {
      margin-right: 10px;
    }
  }

}