.export-filter {
  .form-flex {
    display: flex;
    flex-wrap: wrap;

    p {
      text-align: left;
      font-weight: 600;
    }
  }

  .hints {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;

    mat-hint {
      width: 100%;
      margin: 12px;
    }

  }

  background-color: #ffffff;
  border-radius: 6px;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 10px 15px 15px 15px;

  .dates {
    mat-form-field {
      margin-right: 10px;
    }
  }

  .actions {
    width: 100%;
  }

  .format {
    position: relative;
    padding: 0 .5em;
    margin-bottom: 1em;
    .info-small {
      position: absolute;
      color: #65c8cf;
      font-size: 16px;
      margin-left: .2em;
    }
    .format-radio-group {
      display: block;
      margin-top: 1.5em;
      > label {
        display: block;
        margin-bottom: .2em;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}