.full-width {
  max-width: none;
  width: 100%;
}

.close-icon {
  &:hover {
    cursor: pointer;
  }
}

:host ::ng-deep mat-error {
  position: absolute;
  font-size: 75%;
  font-weight: 400;
  line-height: 1.125;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  letter-spacing: normal;
  padding: 0 1em;
  margin: -1.5em 0 0;
}
