<div class="stats stats--loading" *ngIf="statService.loading && !statService._loaded$.value">
  <mat-spinner></mat-spinner>
</div>
<div class="stats" *ngIf="statService._loaded$.value">
  <div class="stats-graph">
    <app-stat-graph [graphName]="graphName"></app-stat-graph>
  </div>
  <div class="stats-numbers">
    <app-stat-number
      *ngFor="let statNumberName of statViewConfig.names"
      [statNumberName]="statNumberName"
      [selected]="selected[statNumberName]"
      [disabled]="disabled[statNumberName]"
      (linkClicked)="showGraph($event)"
    >
    </app-stat-number>
  </div>
</div>
