@import 'variables';

.stats {
  max-width: 100%;
  margin: 30px auto;
  @media (min-width: 1400px) {
    width: 1272px;
  }
  &--loading {
    display: flex;
    justify-content: center;
    padding: 174.5px;
  }
  &-numbers {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    @media (max-width: 1400px) {
      justify-content: space-evenly;
      @include supportEdge(justify-content, space-around);
    }
  }

  &-docLink {
    margin-top: 30px;
    text-align: center;
  }

  &--loading {
    display: flex;
    justify-content: space-around;
  }
}
