.stats {
  max-width: 100%;
  margin: 30px auto;
  @media (min-width: 1400px) {
    width: 1272px;
  }
  &--loading {
    display: flex;
    justify-content: center;
    padding: 174.5px;
  }
  .stats-numbers {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    @media (max-width: 1400px) {
      justify-content: space-evenly;
    }
  }

  &--loading {
    display: flex;
    justify-content: space-around;
  }
}
