$font-size-base: 16px;
$family-primary: "Evolventa", "Trebuchet MS", sans-serif;
$family-secondary: "SourceSansPro", Arial, sans-serif;
$family-sans-serif: $family-secondary;
$body-family: $family-secondary;

$primary: #0081d5;
$success: $primary;
$table-background-color: transparent;
$table-cell-border: none;
$table-striped-row-even-background-color: #f4f4f4;
//$table-striped-row-even-hover-background-color: grey;

$navbar-height: 70px;
$container-width: 720px;
