<div class="public-stat">
  <div class="public-stat-header">
    <h1>Statistiques</h1>

    <!-- Disclaimer -->
    <div class="public-stat-disclaimer">
      <p>
        Ces données sont collectées à partir des informations communiquées par les
        <a target="_blank" rel="noopener noreferrer" href="http://covoiturage.beta.gouv.fr/operateurs"
          >opérateurs partenaires</a
        >.<br />Il s'agit d'une représentation de l'activité du registre de preuve de covoiturage. En outre il ne
        saurait s'agir&nbsp;:
      </p>
      <ul>
        <li>d'une représentation exhaustive du covoiturage en France&nbsp;;</li>
        <li>d'un outil permettant le calcul de part de marché d'un acteur du covoiturage.</li>
      </ul>
    </div>
  </div>

  <iframe
    src="https://stats.covoiturage.beta.gouv.fr/public/dashboard/3bec1692-1456-41c2-95a9-6606af329df9"
    frameborder="0"
    width="100%"
    height="1500px"
    allowtransparency></iframe>
  
</div>
