<div class="public-stat">
  <div class="public-stat-header">
    <h1>Statistiques et impactes du Registre de Preuve de covoiturage</h1>

    <!-- Disclaimer -->
    <div class="public-stat-disclaimer">
      <p>
        Ces données sont collectées à partir des informations communiquées par les
        <a target="_blank" rel="noopener noreferrer" href="http://covoiturage.beta.gouv.fr/operateurs">opérateurs
          partenaires</a>.<br />Il s'agit d'une représentation de l'activité du registre de preuve de covoiturage. En
        outre il ne
        saurait s'agir&nbsp;:
      </p>
      <ul>
        <li>d'une représentation exhaustive du covoiturage en France&nbsp;;</li>
        <li>d'un outil permettant le calcul de part de marché d'un acteur du covoiturage.</li>
      </ul>
    </div>

    <div class="public-stat-methods">
      <a target="_blank" rel="noopener noreferrer"
        href="https://doc.covoiturage.beta.gouv.fr/acteurs-de-la-mobilite-utiliser-les-donnees-ouvertes-du-covoiturage/open-data-donnees-de-limpact-du-covoiturage/methodes-de-calcul-utilisees">Informations
        sur les méthodes de calcules utilisées </a>
    </div>

    <div class="public-stat-methods">
      <a target="_blank" rel="noopener noreferrer"
        href="https://doc.covoiturage.beta.gouv.fr/acteurs-de-la-mobilite-utiliser-les-donnees-ouvertes-du-covoiturage/open-data-donnees-de-limpact-du-covoiturage/methodes-de-calcul-utilisees">Retrouvez
        l'historique des données ouvertes
        sur la plateforme ouverte des données publiques françaises </a>
    </div>
  </div>

  <iframe
    src="https://stats.covoiturage.beta.gouv.fr/embed/dashboard/3bec1692-1456-41c2-95a9-6606af329df9#bordered=false&titled=false"
    frameborder="0" width="100%" height="3500px" allowtransparency>
  </iframe>
</div>
