@import 'variables';

a,
a:visited,
a:focus {
  color: #004ac0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.public-stat {
  margin: auto 20px;

  &--loading {
    display: flex;
    justify-content: space-around;
  }

  &-header {
    text-align: center;
    margin: 44px auto;
    max-width: 810px;
  }
  h1,
  h4 {
    text-align: center;
  }

  &-disclaimer {
    text-align: center;
    padding: 20px;
    background: $color-background-help;
    border: 2px solid $color-border-help;
    border-radius: 5px;
    ul {
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &-honor {
    max-width: 960px;
    margin: 2em auto 1em;
    h2 {
      text-align: center;
    }
  }
}
