<table mat-table [dataSource]="users">
  <!--      Firstname Lastname -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Nom</th>
    <td mat-cell *matCellDef="let user" class="UsersList-list-item-name">
      {{ user.firstname }} {{ user.lastname }}
      <span *ngIf="isCurrentUser(user._id)" class="UsersList-list-item-name--itself">(Vous)</span>
    </td>
  </ng-container>

  <!-- Email -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let user" class="UsersList-list-item-email">{{ user.email }}</td>
  </ng-container>

  <!-- Role -->
  <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef>Role</th>
    <td mat-cell *matCellDef="let user" class="UsersList-list-item-role">{{ getFrenchRole(user.role) }}</td>
  </ng-container>

  <!-- Actions -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let user" class="UsersList-list-item-actions">
      <a
        class="link"
        *ngIf="authService.hasAnyPermission(['user.invite']) && user.status === 'pending' && !isCurrentUser(user._id)"
        (click)="onSendInvitation(user)"
      >
        Renvoyer l'invitation
      </a>
      <a class="link" *ngIf="canEditUser && !isCurrentUser(user._id)" (click)="onEdit(user)">
        Editer
      </a>
      <a
        class="link"
        *ngIf="
          authService.hasAnyPermission(['user.delete', 'territory.users.remove', 'operator.users.remove']) &&
          !isCurrentUser(user._id)
        "
        (click)="onDelete(user)"
      >
        Supprimer l'accès
      </a>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
