@import 'variables';

.changeAuthLayout {
  display: flex;
  justify-content: space-evenly;
  @include supportEdge(justify-content, space-around);
  align-items: center;

  & > * {
    flex: 1;
    max-width: 515px;
  }

  &-box {
    padding: 30px;
    background-color: white;
    border-radius: 5px;
  }
}
