<div class="campaign-apdf">
  <h4> Appels de fonds - Récapitulatif des 6 derniers mois </h4>
  <div class="campaign-apdf-content">

    <div class="loader" *ngIf="!list">
      <mat-spinner></mat-spinner>
    </div>

    <table *ngIf="list" mat-table [dataSource]="list">

      <!-- Month -->
      <ng-container matColumnDef="month">
        <th mat-header-cell *matHeaderCellDef>Mois</th>
        <td mat-cell *matCellDef="let apdf">{{ apdf?.month }}</td>
      </ng-container>

      <!-- Operator -->
      <ng-container matColumnDef="operator">
        <th mat-header-cell *matHeaderCellDef>Opérateur</th>
        <td mat-cell *matCellDef="let apdf">{{apdf?.operator}}</td>
      </ng-container>

      <!-- Number of trips -->
      <ng-container matColumnDef="trips">
        <th mat-header-cell *matHeaderCellDef>Trajets</th>
        <td mat-cell *matCellDef="let apdf">{{apdf?.trips}}</td>
      </ng-container>

      <!-- Number of subsidized trips -->
      <ng-container matColumnDef="subsidized">
        <th mat-header-cell *matHeaderCellDef>Trajets incités</th>
        <td mat-cell *matCellDef="let apdf">{{apdf?.subsidized}}</td>
      </ng-container>

      <!-- Total amount -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Montant d'indemnisation</th>
        <td mat-cell *matCellDef="let apdf">{{apdf?.amount / 100 | euro}}</td>
      </ng-container>

      <!-- File size -->
      <ng-container matColumnDef="filesize">
        <th mat-header-cell *matHeaderCellDef>Taille du fichier</th>
        <td mat-cell *matCellDef="let apdf">{{apdf?.size | filesize}}</td>
      </ng-container>

      <!-- Actions -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Fichier des trajets incités</th>
        <td mat-cell *matCellDef="let apdf">
          <a href="{{apdf.signed_url}}" class="download_link">
            <mat-icon color="primary" matTooltip="Télécharger">cloud_download</mat-icon>
            <span>Télécharger</span>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr class="mat-row campaign-apdf-empty" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="displayedColumns.length">
          Aucun appel fond
        </td>
      </tr>

    </table>

  </div>
</div>
