@import 'variables';

.campaign-apdf {
  table.mat-table {
    background-color: white;

    .mat-header-row {
      .mat-header-cell {
        font-weight: 600;
      }
    }
    .mat-row {
      font-weight: 400;
    }
  }
  h4 {
    color: $color-primary;
  }
  &-empty {
    height: 150px;
    text-align: center;
  }
  .download_link {
    display: flex;
    align-items: center;
    color: $color-primary;
    text-decoration: none;
    span {
      margin-left: 1em;
    }
  }
}

.loader {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}
