<p-fieldset legend="Contacts" [toggleable]="true" [formGroup]="parentForm">
  <div class="p-grid ui-fluid">
    <div class="p-col-12 p-md-4">
      <label>Délégué(e) à la protection des données</label>
    </div>
    <div class="p-col-12 p-md-8">
      <app-user-dropdown [userId]="parentForm.get('rgpd_dpo')"></app-user-dropdown>
    </div>

    <div class="p-col-12 p-md-4">
      <label>Responsable de traitement</label>
    </div>
    <div class="p-col-12 p-md-8">
      <app-user-dropdown [userId]="parentForm.get('rgpd_controller')"></app-user-dropdown>
    </div>

    <div class="p-col-12 p-md-4">
      <label>Responsable technique</label>
    </div>

    <div class="p-col-12 p-md-8">
      <app-user-dropdown [userId]="parentForm.get('technical')"></app-user-dropdown>
    </div>
  </div>
</p-fieldset>
