:host {
  width: 100%;
  display: flex;
}

@keyframes beat {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

.autocomplete {
  width: 100%;
  position: relative;
  .rf-fi-search-line {
    position: absolute;
    top: 4px;
    right: 4px;
    animation: 0.5s ease infinite alternate beat;
  }
}

.dropdown-list {
  z-index: 9999;
  position: absolute;
  width: 100%;
  margin-top: 0.5em;
  border-color: var(--g800);
  color: var(--g800);
  background-color: var(--g200);

  ul {
    max-height: 250px;
    padding: 0;
    list-style: none;
    overflow: auto;
    margin: 0;
  }

  li {
    padding: 0.5em;
    margin: 0.5em;
    cursor: pointer;
    &::before {
      content: none;
    }
    &:hover,
    &.selected {
      color: var(--w-bf500);
      background-color: var(--bf500);
    }
  }
}
