# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8
      - image: circleci/mongo:4.0
      - image: circleci/redis:4

    working_directory: ~/repo/api

    parallelism: 1

    environment:
      NODE_ENV: test
      MONGO_URL: mongodb://127.0.0.1:27017/pdc-test
      REDIS_URL: redis://127.0.0.1:6379

    steps:
      - checkout:
          path: ~/repo/api

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run: yarn install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      - run: yarn lint

      - run: yarn seed

      - run: yarn test
