<form [formGroup]="restrictionformGroup" class="RestrictionForm">
  <mat-form-field appearance="outline" class="RestrictionForm-howMuch">
    <mat-label>Combien</mat-label>
    <input matInput type="number" min="0" placeholder="1" required formControlName="quantity" autocomplete="off" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="RestrictionForm-what">
    <mat-label>Quoi</mat-label>
    <mat-select required formControlName="unit">
      <mat-option value="amount">{{ unitLabel }}</mat-option>
      <mat-option value="trip">Trajets</mat-option>
    </mat-select>
  </mat-form-field>
  <span>maximum par</span>
  <mat-form-field appearance="outline" class="RestrictionForm-who">
    <mat-label>Qui</mat-label>
    <mat-select required formControlName="is_driver">
      <mat-option [value]="true">conducteur</mat-option>
      <mat-option [value]="false">passager</mat-option>
    </mat-select>
  </mat-form-field>
  <span>par</span>
  <mat-form-field appearance="outline" class="RestrictionForm-period">
    <mat-label>Quand</mat-label>
    <mat-select required formControlName="period">
      <mat-option *ngFor="let restrictionPeriod of restrictionPeriods" [value]="restrictionPeriod">{{
        getFrenchLabel(restrictionPeriod)
      }}</mat-option>
    </mat-select>
  </mat-form-field>
</form>

<button
  mat-stroked-button
  color="primary"
  class="ConfirmBtn"
  (click)="add.emit(restrictionformGroup)"
  [disabled]="!restrictionformGroup.valid"
>
  Confirmer
</button>
<button mat-stroked-button (click)="cancel.emit()">
  Annuler
</button>
