<form [formGroup]="changePasswordForm">
  <mat-form-field appearance="outline">
    <mat-label>Ancien mot de passe</mat-label>
    <input matInput formControlName="old_password" autocomplete="off" required />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Nouveau mot de passe</mat-label>
    <input matInput formControlName="new_password" autocomplete="off" (input)="onPasswordInput()" required />
    <mat-error *ngIf="password.hasError('minlength')">
      Le mot de passe doit faire au minimum 6 caractères.
    </mat-error>
    <mat-error *ngIf="password.hasError('maxlength')">
      Le mot de passe ne peut pas faire plus de 128 caractères.
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Confirmation du nouveau mot de passe</mat-label>
    <input matInput formControlName="password_verification" autocomplete="off" (input)="onPasswordInput()" required />
    <mat-error *ngIf="passwordVerification.hasError('minlength')">
      Le mot de passe doit faire au minimum 6 caractères.
    </mat-error>
    <mat-error *ngIf="passwordVerification.hasError('maxlength')">
      Le mot de passe ne peut pas faire plus de 128 caractères.
    </mat-error>
    <mat-error
      *ngIf="
        !passwordVerification.hasError('maxlength') &&
        !passwordVerification.hasError('minlength') &&
        !passwordVerification.hasError('required') &&
        passwordVerification.hasError('passwordMismatch')
      "
    >
      Les mot de passe ne correspondent pas
    </mat-error>
  </mat-form-field>
  <button
    type="submit"
    mat-flat-button
    (click)="onChangePassword()"
    [disabled]="!changePasswordForm.valid"
    color="primary"
  >
    Mettre à jour
  </button>
</form>
