<form [formGroup]="changePasswordForm">
  <mat-form-field appearance="outline">
    <mat-label>Ancien mot de passe</mat-label>
    <input matInput formControlName="oldPassword" required />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Nouveau mot de passe</mat-label>
    <input matInput formControlName="newPassword" required />
  </mat-form-field>
  <button
    type="submit"
    mat-flat-button
    (click)="onChangePassword()"
    [disabled]="!changePasswordForm.valid"
    color="primary"
  >
    Mettre à jour
  </button>
</form>
