<form class="OperatorTokenForm" [formGroup]="applicationForm">
  <mat-form-field appearance="outline">
    <mat-label>Nom</mat-label>
    <input matInput formControlName="name" required />
  </mat-form-field>
  <div class="OperatorTokenForm-actions">
    <button
      type="submit"
      mat-flat-button
      class="large"
      (click)="onCreateToken()"
      [appShowSpinner]="isCreating"
      [disabled]="!applicationForm.valid"
      color="primary"
    >
      Créer
    </button>
    <button (click)="onClose.emit()" class="OperatorTokenForm-close" type="button" mat-icon-button color="secondary">
      Annuler
    </button>
  </div>
</form>
