<div class="CampaignCard">
  <div class="CampaignCard-name">
    {{ campaign.name }}
  </div>
  <div class="CampaignCard-territory">
    {{ campaign.territory?.name }}
  </div>
  <div class="CampaignCard-incentiveType" [ngSwitch]="campaign.amount_unit">
    <span *ngSwitchCase="incentiveUnit.EUR">
      Incitation financière
    </span>
    <span *ngSwitchCase="incentiveUnit.POINT">
      Incitation non-financière
    </span>
  </div>
  <div class="CampaignCard-status" [ngClass]="getCampaignClass()">
    {{ campaignStatusFr[campaign.status] }}
  </div>
  <div class="CampaignCard-actions">
    <button mat-flat-button color="primary" [routerLink]="'/campaign/' + campaign._id">
      Voir le détail
    </button>
  </div>
</div>
