@import '../../../../../../styles/variables';

table.mat-table {
  .mat-icon {
    &.success {
      color: $color-success;
    }

    &.warning {
      color: $color-warning;
    }

    &.error {
      color: $color-error;
    }
  }
}
