@font-face {
  font-family: "SourceSansPro";
  src: url("assets/fonts/SourceSansPro/SourceSansPro-Regular.otf") format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("assets/fonts/SourceSansPro/SourceSansPro-Bold.otf") format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("assets/fonts/SourceSansPro/SourceSansPro-It.otf") format('opentype');
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "Evolventa";
  src: url("assets/fonts/Evolventa/Evolventa-Regular.ttf") format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: "Evolventa";
  src: url("assets/fonts/Evolventa/Evolventa-Bold.ttf") format('truetype');
  font-weight: bold;
}

@import 'assets/scss/variables';
@import 'assets/scss/loader';
@import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/nova-light/theme.css";
@import "~primeng/resources/primeng.min.css";
@import "~primeflex/primeflex.scss";

html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fdfdfd;
}

body {
  margin: 0;
  padding: 0;
  font-family: $family-secondary;
  font-size: $font-size-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $family-primary;
}

// wrap main content with padding
.main__wrapper {
  padding: 1rem 1rem 5rem;
}

// contain content with a max-width
.main__container {
  margin: 0 auto;
  max-width: $container-width;
}

.auth__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  max-width: 100%;
  transform: translate(-50%, -50%);
}

a:hover {
  cursor: pointer;
}

label {
  color: grey;
}

.is-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}

.button.is-white {
  background-color: transparent;
}

.has-text-centered {
  text-align: center;
}

.no-padding {
  padding: 0;
}

.width-max {
  width: 100%;
}

.is-hidden-touch {
  @media(max-width: 768px) {
    display: none;
  }
}

// table
.options-column {
  width: 80px;

  div {
    display: flex;
    justify-content: space-around;

    span {
      cursor: pointer;
    }
  }
}

//body .ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-multiple-container {
//  width: calc(100% - 33px);
//}
