/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'WorkSans';
  src: url('assets/fonts/WorkSans/WorkSans-ExtraLight.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'WorkSans';
  src: url('assets/fonts/WorkSans/WorkSans-Medium.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'WorkSans';
  src: url('assets/fonts/WorkSans/WorkSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'OpenSans';
  src: url('assets/fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('assets/fonts/OpenSans/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@import '~ngx-toastr/toastr';

@import 'styles/variables';
@import 'styles/buttons';
@import 'styles/inputs';
@import 'styles/stepper';
@import 'styles/table';
@import 'styles/range';

html,
body {
  font-family: 'WorkSans', sans-serif;
  background: $background-blue;
  margin: 0;
  width: 100%;
  height: 100%;
  color: $color-text-black;
}

h1 {
  font-size: $font-size-title;
  font-weight: 600;
}

h2 {
  font-size: $font-size-title-2;
  font-weight: 600;
}

p,
span {
  font-family: 'OpenSans', sans-serif;
  font-size: $font-size-paragraph;
}

a.link,
a.link:link,
a.link:visited {
  cursor: pointer;
  color: $color-primary-dark;
  text-decoration: underline;
}

:focus {
  outline: none;
}
