@import 'variables';

.content {
  display: flex;
  align-items: center;
  justify-content: center;

  &-text {
    margin: 130px 60px 0 60px;
    padding: 20px;
    max-width: 500px;
    background: $color-background-help;
    border-radius: 5px;
    border: 2px solid $color-border-help;
  }
}