<div class="content">

  <h1 class="content-text">
    <p><b>
      Les informations accessibles via le compte 
      découverte seront bientôt disponibles directement dans <a href="https://observatoire.covoiturage.beta.gouv.fr">l'Observatoire National du covoiturage</a>.
    </b></p> 
    <p><b>
      D'ici là, si vous avez besoin d'une simulation de campagne d'incitations financières ou de jeux de données sur votre territoire, 
      merci d'envoyer une demande sur territoire@covoiturage.beta.gouv.fr
    </b></p>
  </h1>

</div>