@import '~src/styles/variables';

.page-content {
  @media (min-width: $responsive-large) {
    width: $size-large-width;
  }
  @media (max-width: $responsive-large) {
    padding-left: $size-small-padding;
    padding-right: $size-small-padding;
  }
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
}
