.TimeRangeForm {
  padding-bottom: 1.34375em;

  & > mat-form-field {
    width: 100px;

    ::ng-deep.mat-form-field-wrapper {
      padding-bottom: 0;
    }
  }

  & > mat-form-field:not(:first-child) {
    margin-left: 20px;
  }

  &-errorWrapper {
    position: absolute;
  }

  .mat-error {
    font-size: 10.5px;
    line-height: 10.5px;
  }
}
