<form [formGroup]="timeRangeForm" *ngIf="timeRangeForm" class="TimeRangeForm">
  <mat-form-field appearance="outline">
    <mat-label>Début</mat-label>
    <input
      matInput
      type="time"
      step="3600"
      required
      formControlName="start"
      [max]="controls.end.value"
      (blur)="onTouched()"
    />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Fin</mat-label>
    <input
      matInput
      type="time"
      step="3600"
      required
      formControlName="end"
      [min]="controls.start.value"
      (blur)="onTouched()"
    />
  </mat-form-field>
  <div class="TimeRangeForm-errorWrapper">
    <mat-error *ngIf="controls.start.touched && controls.start.hasError('required')">
      L'heure de début est obligatoire.
    </mat-error>
    <mat-error *ngIf="controls.end.touched && controls.end.hasError('required')">
      L'heure de fin est obligatoire.
    </mat-error>
    <mat-error
      *ngIf="
        controls.start.touched &&
        controls.start.errors &&
        controls.start.errors.includes &&
        controls.start.errors.includes('max')
      "
    >
      L'heure de début doit être antérieure à l'heure de fin.
    </mat-error>
  </div>
</form>
