<mat-form-field appearance="outline" class="full-width-dropdown">
  <mat-label>Territoire</mat-label>

  <!--  <mat-form-field>-->
  <input type="text" matInput [formControl]="territoryCtrl" [matAutocomplete]="auto" (focusout)="inputLostFocus()" />
  <!--  </mat-form-field>-->
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onTerritorySelect($event)">
    <mat-option *ngFor="let operator of filteredTerritories | async" [value]="operator._id">
      {{ operator.name }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
