<div class="p-grid p-justify-end">
  <div class="p-col-12">
    <h4>
      Type d'incitation
    </h4>
    <hr>
  </div>
  <div class="p-col-11-5">
    <p><b>{{ incentiveUnit.name }}</b></p>
  </div>
</div>
<div class="p-grid p-justify-end" *ngIf="incentiveFilters.length > 0">
  <div class="p-col-12">
    <h4>
      Trajets concernés par la politique :
    </h4>
    <hr>
  </div>
  <div class="p-col-12">
    <ul>
      <li *ngFor='let filter of incentiveFilters'>
        <b><span [innerHTML]="filter"></span></b>
      </li>
    </ul>
  </div>
</div>
<div class="p-grid p-justify-end">
  <div class="p-col-12">
    <h4>
      Formule d'incitation
    </h4>
    <hr>
  </div>
  <div class="p-col-11-5">
    <p>
      <b>{{incentivePolicy.formula}}</b>
    </p>
    <br>
  </div>
  <div class="p-col-12">
    <h5>
      Paramètres de la règle d'incitation
    </h5>
    <ul>
      <li *ngFor='let parameter of incentiveParameters'>
        <p>{{ parameter.varname}} <span *ngIf="parameter.helper">: {{parameter.helper}}</span></p>
      </li>
    </ul>
    <br>
  </div>
</div>
