<div class="p-grid p-justify-end">
    <p-button (onClick)="addIncentiveUnit()" label="Nouveau type d'incitation"  icon="pi pi-plus"></p-button>
</div>
<div class="p-grid">
  <div class="p-col-3" *ngFor="let incentiveUnit of incentiveUnitsFiltered">
    <p-card  [ngClass]="( incentiveUnitForm.value && incentiveUnit.short_name === incentiveUnitForm.value.short_name ) ? 'selected' : ''" styleClass="ui-card-fixed" (click)='selectIncentiveUnit(incentiveUnit.short_name)'>
        <h2 class="has-text-centered">{{incentiveUnit.name}}</h2>
    </p-card>
  </div>
</div>

