<div  [formGroup]="form" class="field is-horizontal">
  <div *ngIf="input.label" class="field-label is-normal">
    <label [attr.for]="input.key" class="label">{{input.label}}</label>
  </div>
  <div  [formGroupName]="fgn" class="field-body">
    <div [ngSwitch]="input.controlType" [class]="input.label ? 'field' : ''">

      <!--text-->
      <div *ngSwitchCase="'textbox'" class="control">
        <input [class]="'input ' + inputClass" [placeholder]="input.placeholder ? input.placeholder : 'Remplir'"
               [type]="input.type" [formControlName]="input.key" [pattern]="input.pattern" [value]="input.value ? input.value : ''" (blur)="blur.emit()" >
      </div>

      <!--dropdown-->
      <div *ngSwitchCase="'dropdown'" class="control">
        <div [class]="input.label ? 'select': 'select ' + inputClass">
          <select  [formControlName]="input.key">
            <option *ngFor="let opt of input.options" [value]="opt.key">{{opt.value}}</option>
          </select>
        </div>
      </div>

      <!--email-->
      <div *ngSwitchCase="'email'" class="control has-icons-left has-icons-right">
        <input [class]="'input '+inputClass" [placeholder]="input.placeholder"
               type="email" [formControlName]="input.key"
               pattern="[a-zA-Z0-9.-]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
        <span *ngIf="input.label" class="icon is-small is-left">
          <fa-icon icon="envelope"></fa-icon>
        </span>
      </div>

      <!--phone-->
      <div *ngSwitchCase="'phone'" class="control has-icons-left">
        <input [class]="'input '+inputClass" [placeholder]="input.placeholder"
               type="text" [formControlName]="input.key" pattern="^(?:0|\(?\+33\)?\s?|0033\s?)[1-79](?:[\.\-\s]?\d\d){4}$" (blur)="blur.emit()">
        <span *ngIf="input.label" class="icon is-small is-left">
        <fa-icon icon="phone"></fa-icon>
        </span>
      </div>

      <!--password-->
      <div *ngSwitchCase="'password'" class="control has-icons-left has-icons-right">
        <input [class]="'input '+inputClass" [placeholder]="input.placeholder"
               type="password" [formControlName]="input.key">
        <span class="icon is-small is-left">
        <fa-icon icon="lock"></fa-icon>
        </span>
      </div>

      <div class="errorMessage" *ngIf="!isValid && !isPristine || submitted && !isValid">Le champs {{input.label}} est
        requis.
      </div>
    </div>
  </div>
</div>
