<form (ngSubmit)="onSubmit()" [formGroup]="incentiveUnitForm">
  <div class="p-grid ui-fluid">
    <div class="p-col-12 p-md-4">
      <label>Nom</label>
    </div>
    <div class="p-col-12 p-md-8">
      <input type="text" pInputText formControlName="name">
    </div>
    <div class="p-col-12 p-md-4">
      <label>Description</label>
    </div>
    <div class="p-col-12 p-md-8">
      <textarea pInputTextarea formControlName="description"></textarea>
    </div>
  </div>
  <hr/>
  <p-button (onClick)="onSubmit" label="Ajouter"></p-button>
</form>
