<ul class="pat-list">
  <li class="pat-list-item" routerLinkActive="pat-list-item--active">
    <a routerLink="/salarie-secteur-prive"
      >je suis salarié·e du <strong>secteur privé</strong></a
    >
  </li>
  <li class="pat-list-item" routerLinkActive="pat-list-item--active">
    <a routerLink="/salarie-secteur-public"
      >je suis salarié·e du <strong>secteur public</strong></a
    >
  </li>
  <li class="pat-list-item" routerLinkActive="pat-list-item--active">
    <a routerLink="/je-suis-employeur">je suis <strong>employeur</strong></a>
  </li>
</ul>
