<div class="territory-selection-group">
  <mat-icon (click)="swap()">{{ open ? '-' : '+' }}</mat-icon>
  <div class="mat-checkbox mat-accent mat-checkbox-checked">
    <label class="mat-checkbox-layout"
      ><div class="mat-checkbox-inner-container">
        <div class="mat-checkbox-ripple mat-ripple" matripple="">
          <div class="mat-ripple-element mat-checkbox-persistent-ripple"></div>
        </div>
        <div class="mat-checkbox-frame"></div>
        <div class="mat-checkbox-background">
          <svg xml:space="preserve" class="mat-checkbox-checkmark" focusable="false" version="1.1" viewBox="0 0 24 24">
            <path class="mat-checkbox-checkmark-path" d="M4.1,12.7 9,17.6 20.3,6.3" fill="none" stroke="white"></path>
          </svg>
          <div class="mat-checkbox-mixedmark"></div>
        </div>
      </div>
      <span class="mat-checkbox-label"><span style="display:none">&nbsp;</span>{{ territory.name }}</span></label
    >
  </div>

  <div class="territory-selection-group-children" *ngIf="open && territory.children">
    <app-territory-selection-group
      *ngFor="let child of territory.children"
      [territory]="child"
    ></app-territory-selection-group>
  </div>
</div>
