.territory-selection-group {
  display: block;
  overflow: hidden;

  > .mat-icon {
    cursor: pointer;
    line-height: 28px;

    margin-right: 5px;
    float: left;
  }

  .mat-checkbox {
    display: inline;
  }

  .mat-checkbox-inner-container {
    width: 20px;
    height: 20px;
    overflow: hidden;
    border-radius: 3px;
    margin: 5px 10px 5px 0;
  }

  .mat-checkbox label {
    // display: block;
    overflow: hidden;

    line-height: 30px;
    > * {
      float: left;
      display: inline-block;
    }
  }
}

.territory-selection-group-children {
  padding-left: 24px;
  overflow: hidden;
  clear: both;
}
