<div class="RulesForm CampaignSubForm">
  <h2>Définissez des conditions d'éligibilités</h2>
  <form [formGroup]="filtersForm">
    <mat-accordion>
      <mat-expansion-panel
        [expanded]="isCreating"
        [ngClass]="{
          'mat-expansion-panel-error':
            (controls.weekday.touched && !controls.weekday.valid) || (!timeCtrlArray.valid && isTimeCtrlArrayTouched())
        }"
      >
        <mat-expansion-panel-header [collapsedHeight]="'60px'" [expandedHeight]="'60px'">
          <mat-panel-title>
            Jours de la semaine
          </mat-panel-title>
          <mat-panel-description>
            <span [innerHTML]="showDateLabel"> </span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="CampaignSubForm-inputs RulesForm-date">
          <mat-form-field appearance="outline">
            <mat-label>Jours de la semaine</mat-label>
            <mat-select multiple formControlName="weekday" required>
              <mat-option *ngFor="let day of days" [value]="day">{{ getDaysFrench(day) }}</mat-option>
            </mat-select>
            <mat-error *ngIf="controls.weekday.hasError('required')">
              Les jours de la semaine sont obligatoires.
            </mat-error>
          </mat-form-field>
          <div>
            <div *ngFor="let timeCtrl of timeCtrlArray.controls; let idx = index" class="RulesForm-date-time">
              <app-range-time-picker [formControl]="timeCtrl" [timeRange]="timeCtrl.value"></app-range-time-picker>
              <mat-icon color="error" (click)="removeTimeFilter(idx)">delete_outline</mat-icon>
            </div>
            <button
              class="RulesForm-date-button"
              mat-stroked-button
              color="primary"
              (click)="addTimeFilter()"
              [disabled]="!timeCtrlArray.valid"
            >
              Ajouter un filtre horaire
            </button>
          </div>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel
        [ngClass]="{ 'mat-expansion-panel-error': controls.distance_range.touched && !controls.distance_range.valid }"
      >
        <mat-expansion-panel-header [collapsedHeight]="'60px'" [expandedHeight]="'60px'">
          <mat-panel-title>
            Distance
          </mat-panel-title>
          <mat-panel-description>
            <span>
              {{ showDistanceLabel }}
            </span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="CampaignSubForm-inputs RulesForm-range">
          <nouislider
            [connect]="true"
            [min]="0"
            [max]="maxDistance"
            [step]="1"
            [tooltips]="[true, true]"
            [formControl]="filtersForm.get('distance_range')"
          ></nouislider>
        </div>
      </mat-expansion-panel>

      <!--      INSEE -->
      <mat-expansion-panel [ngClass]="{ 'mat-expansion-panel-error': controls.insee.touched && !controls.insee.valid }">
        <mat-expansion-panel-header [collapsedHeight]="'60px'" [expandedHeight]="'60px'">
          <mat-panel-title>
            Trajets
          </mat-panel-title>
          <mat-panel-description>
            <span *ngIf="hasInseefilter">Conditions particulières</span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-tab-group
          #mtg
          mat-stretch-tabs
          animationDuration="0ms"
          disableRipple="true"
          dynamicHeight="true"
          (selectedIndexChange)="selectedInseeFilterTabIndexChange($event)"
          class="RulesForm-insee"
        >
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon color="primary" *ngIf="selectedInseeFilterTabIndex === 0">checked_circle</mat-icon>
              <mat-icon *ngIf="selectedInseeFilterTabIndex !== 0">radio_button_unchecked</mat-icon>
              <span>Autoriser tous les trajets</span>
            </ng-template>
            <app-campaign-insee-filter [inseeForm]="InseeForm" filterType="blackList"></app-campaign-insee-filter>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon color="primary" *ngIf="selectedInseeFilterTabIndex === 1">checked_circle</mat-icon>
              <mat-icon *ngIf="selectedInseeFilterTabIndex !== 1">radio_button_unchecked</mat-icon>
              <span>Choisir les trajets autorisés</span>
            </ng-template>
            <app-campaign-insee-filter [inseeForm]="InseeForm" filterType="whiteList"></app-campaign-insee-filter>
          </mat-tab>
        </mat-tab-group>
      </mat-expansion-panel>

      <!--      RANKS -->
      <mat-expansion-panel [ngClass]="{ 'mat-expansion-panel-error': controls.rank.touched && !controls.rank.valid }">
        <mat-expansion-panel-header [collapsedHeight]="'60px'" [expandedHeight]="'60px'">
          <mat-panel-title>
            Classe de preuve
          </mat-panel-title>
          <mat-panel-description>
            {{ showTripClassLabel }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="RulesForm-ranks CampaignSubForm-inputs">
          <mat-form-field appearance="outline">
            <mat-label>Classe de preuve</mat-label>
            <mat-select multiple formControlName="rank" required>
              <mat-option *ngFor="let tripClass of tripClassKeys" [value]="tripClass">{{ tripClass }}</mat-option>
            </mat-select>
            <mat-error *ngIf="controls.rank.hasError('required')">
              Les classes de preuves sont obligatoires.
            </mat-error>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel
        [ngClass]="{
          'mat-expansion-panel-error':
            (forDriverControl.touched || forPassengerControl.touched || forTripControl.touched) &&
            !(forTripControl.value || forPassengerControl.value || forDriverControl.value)
        }"
      >
        <mat-expansion-panel-header [collapsedHeight]="'60px'" [expandedHeight]="'60px'">
          <mat-panel-title>
            Cible
          </mat-panel-title>
          <mat-panel-description>
            {{ showTargetLabel }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="RulesForm-target CampaignSubForm-inputs">
          <mat-label>Que souhaitez-vous inciter ?</mat-label>
          <ng-container [formGroup]="campaignForm.get('ui_status')">
            <mat-checkbox class="RulesForm-target-forDriver" color="primary" formControlName="for_driver"
              >Conducteurs</mat-checkbox
            >
            <mat-checkbox
              class="RulesForm-target-forPassenger"
              color="primary"
              #forPassenger
              formControlName="for_passenger"
              >Passagers</mat-checkbox
            >
            <mat-checkbox class="RulesForm-target-forTrip--hidden" color="primary" #forTrip formControlName="for_trip">
              Trajets
              <mat-icon
                matSuffix
                color="accent"
                matTooltip="L'incitation sera affectée au trajet, c'est à la charge de l'opérateur de choisir la répartition entre conducteur et passager(s)"
                aria-label="Information sur l'affection par trajet"
                >info</mat-icon
              >
            </mat-checkbox>
          </ng-container>
          <ng-container [formGroup]="campaignForm">
            <mat-checkbox
              class="RulesForm-target-forAdult"
              [disabled]="!forPassenger.checked && !forTrip.checked"
              color="primary"
              formControlName="only_adult"
              >Personnes majeures uniquement</mat-checkbox
            >
          </ng-container>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel
        [ngClass]="{ 'mat-expansion-panel-error': controls.operator_ids.touched && !controls.operator_ids.valid }"
      >
        <mat-expansion-panel-header [collapsedHeight]="'60px'" [expandedHeight]="'60px'">
          <mat-panel-title>
            Opérateurs
          </mat-panel-title>
          <mat-panel-description>
            {{ showOperatorsLabel() }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="RulesForm-operators CampaignSubForm-inputs">
          <mat-checkbox formControlName="all_operators" color="primary">Tous les opérateurs</mat-checkbox>
          <p>
            <app-operators-autocomplete
              *ngIf="!filtersForm.value.all_operators"
              [parentForm]="filtersForm"
              [fieldName]="'operator_ids'"
            ></app-operators-autocomplete>
          </p>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</div>
