@import 'variables';

.RulesForm {
  &-date {
    display: flex;
    &-button {
      margin-top: 0.5em;
    }

    & > div {
      margin-left: 20px;
      display: flex;
      flex-direction: column;
    }

    &-time {
      display: flex;
      align-items: center;

      & > mat-icon {
        cursor: pointer;
        margin: 0 0 14px 20px;
        font-size: 30px;
        width: 30px;
        height: 30px;
      }
    }
  }

  &-target {
    ::ng-deep .mat-checkbox-label {
      display: flex;
    }
    mat-icon {
      margin-left: 5px;
      cursor: pointer;
    }
    display: flex;
    flex-direction: column;

    mat-checkbox:last-child {
      margin-top: 15px;
    }
    &-forTrip--hidden {
      display: none;
    }
  }

  &-range.CampaignSubForm-inputs {
    padding-top: 36px;
  }

  &-insee {
    background-color: $background-light;
    ::ng-deep {
      .mat-tab-body-content {
        padding: 0 15px 15px 15px;
      }
      .mat-tab-label-content {
        span {
          margin-left: 2px;
        }
      }
      .mat-ink-bar {
        background-color: transparent;
      }
      .mat-tab-header {
        border-bottom: none;
        .mat-tab-label {
          border-top: solid #edf1f7 1px;
          height: 70px;
          background-color: #edf1f7;
        }
        .mat-tab-label-active {
          border-top: solid $color-primary 1px;
          background-color: $background-light;
        }
      }
    }
  }
}
