<div class="forgottenPassword">
  <h2>Mot de passe oublié</h2>
  <p>Veuillez renseigner votre email pour réinitialiser votre mot de passe.</p>
  <form [formGroup]="forgottenPasswordForm">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" required />
      <mat-error *ngIf="forgottenPasswordForm.controls.email.hasError('email')"> L'email est invalide.</mat-error>
    </mat-form-field>
    <button
      type="submit"
      mat-flat-button
      (click)="sendEmail()"
      [disabled]="!forgottenPasswordForm.valid"
      color="primary"
    >
      Envoyer
    </button>
  </form>
</div>
