node_modules

# build command destination folder
dist

# providers and services folders are generated
docs/api/providers/*
!docs/api/providers/README.md
docs/api/services/*
!docs/api/services/README.md
