<div class="RetributionForm">
  <mat-form-field appearance="outline" class="shortFormField">
    <mat-label>Montant</mat-label>
    <input
      matInput
      type="number"
      placeholder="0,1"
      required
      [formControl]="forDriver ? controls.valueForDriver : controls.valueForPassenger"
    />
    <mat-error *ngIf="true">
      Le montant du mode de rétribution doit être supérieur à 0.
    </mat-error>
  </mat-form-field>
  <span>
    {{ getIncentiveUnitLabel(campaignFormControls.amount_unit.value) }}
  </span>
  <ng-container [ngSwitch]="campaignFormControls.incentiveMode.value">
    <span *ngSwitchCase="'per_trip'">par trajet</span>
    <span *ngSwitchCase="'per_distance'">par km</span>
  </ng-container>
  <span *ngIf="forDriver"> par conducteur</span>
  <span *ngIf="forPassenger"> par passager</span>
</div>
