<p style="text-align:left;color:#000">Bonjour {{fullname}},</p>

<p style="text-align:left;color:#000">Vous avez demandé à changer votre adresse email sur le Registre de preuve de
  covoiturage.</p>

<p style="text-align:center;margin-top:32px;margin-bottom:32px">
  <a href="{{{link}}}"
    style="background:#414141;color:#ffffff;font-family:Arial, sans-serif;font-size:13px;font-weight:normal;line-height:120%;margin:0;text-decoration:none;text-transform:none;padding:10px 25px;"
    rel="nofollow"><span style="font-size:16px;">Confirmer mon email</span></a>
</p>


<p style="text-align:left;color:#000">A bientôt</p>