<p style="text-align:left;color:#000">Bonjour {{fullname}},</p>

<p style="text-align:left;color:#000">Vous avez demandé à changer votre adresse email sur le Registre de preuve de
  covoiturage.</p>

<p style="text-align:left;color:#000">Veuillez cliquer sur le lien suivant afin de confirmer votre changement d’email.
</p>

<p style="text-align:left;color:#000"><a href="{{link}}">{{link}}</a></p>

<p style="text-align:left;color:#000">A bientôt</p>

<p style="text-align:left;color:#000">L’équipe covoiturage.beta.gouv.fr</p>