<p style="text-align:left;color:#000">Bonjour {{fullname}},</p>

<p style="text-align:left;color:#000">Vous avez demandé à changer votre adresse email sur le Registre de Preuve de Covoiturage.</p>

<p style="text-align:left;color:#000">Si vous n’êtes pas à l’origine de cette modification, veuillez contacter l’adminsitrateur du service. </p>

<p style="text-align:left;color:#000">A bientôt</p>

<p style="text-align:left;color:#000">L’équipe covoiturage.beta.gouv.fr</p>
