<p style="text-align:left;color:#000">Bonjour,</p>

<p style="text-align:left;color:#000">Une erreur s'est produite lors de l'export des données. L'équipe technique du
  Registre de preuve de covoiturage a été notifiée.</p>

<p style="text-align:left;color:#000">Nous vous invitons à relancer un export ultérieurement ou nous contacter
  directement à l'adresse suivante <a
    href="mailto:contact@covoiturage.beta.gouv.fr">contact@covoiturage.beta.gouv.fr</a></p>

<p style="text-align:left;color:#000">L’équipe covoiturage.beta.gouv.fr</p>