<p style="text-align:left;color:#000">Bonjour,</p>

<p style="text-align:left;color:#000">Votre export des trajets en données ouvertes est disponible. Vous pouvez le
  télécharger en cliquant sur le bouton ci-dessous.</p>

<p style="text-align:left;color:#000">Les données sont au format CSV et sont compressées dans un fichier ZIP.</p>

<p style="text-align:center;margin-top:32px;margin-bottom:32px">
  <a href="{{{link}}}"
    style="background:#414141;color:#ffffff;font-family:Arial, sans-serif;font-size:13px;font-weight:normal;line-height:120%;margin:0;text-decoration:none;text-transform:none;padding:10px 25px;"
    rel="nofollow"><span style="font-size:16px;">Télécharger le fichier</span></a>
</p>

<p style="text-align:left;color:#000">A bientôt</p>