<p style="text-align:left;color:#000">Bonjour {{fullname}},</p>

<p style="text-align:left;color:#000">Vous avez demandé la réinitialisation de votre mot de passe sur le site du
  Registre de preuve de covoiturage.</p>

<p style="text-align:left;color:#000">Veuillez cliquer sur le lien suivant afin de choisir un nouveau mot de passe.</p>

<p style="text-align:left;color:#000"><a href="{{link}}">{{link}}</a></p>

<p style="text-align:left;color:#000">A bientôt</p>

<p style="text-align:left;color:#000">L’équipe covoiturage.beta.gouv.fr</p>