<p style="text-align:left;color:#000">Bonjour {{fullname}},</p>

<p style="text-align:left;color:#000">Vous avez été invité(e) à acceder au Registre de Preuve de Covoiturage.</p>

<p style="text-align:left;color:#000">Veuillez cliquer sur le lien suivant afin de confirmer la création de votre compte et choisir un mot de passe.  </p>

<p style="text-align:left;color:#000"><a href="{{link}}">{{link}}</a></p>

<p style="text-align:left;color:#000">A bientôt</p>

<p style="text-align:left;color:#000">L’équipe covoiturage.beta.gouv.fr</p>
