<p style="text-align:left;color:#000">Bonjour {{fullname}},</p>

<p style="text-align:left;color:#000">Vous avez été invité(e) à accéder au Registre de preuve de covoiturage.</p>

<p style="text-align:center;margin-top:32px;margin-bottom:32px">
  <a href="{{{link}}}"
    style="background:#414141;color:#ffffff;font-family:Arial, sans-serif;font-size:13px;font-weight:normal;line-height:120%;margin:0;text-decoration:none;text-transform:none;padding:10px 25px;"
    rel="nofollow"><span style="font-size:16px;">Choisir mon mot de passe</span></a>
</p>