<p>Bonjour {{fullname}},</p>

<p>Vous avez été invité(e) à acceder au Registre de Preuve de Covoiturage.</p>

<p>Veuillez cliquer sur le lien suivant afin de confirmer la création de votre compte et choisir un mot de passe.  </p>

<p><a href="{{link}}">{{link}}</a></p>

<p>A bientôt</p>

<p>L’équipe covoiturage.beta.gouv.fr</p>
