.Territories-list {
  &-item-actions {
    text-align: right;
    &:last-child {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: inherit;
      a {
        cursor: pointer;
      }
      & > *:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}
