.col {
  display: flex;
}
.stat {
  align-items: stretch;
  padding: 2rem 1rem;
  text-align: right;
  width: 100%;
  .value {
    font-size: 2.5rem;
    padding: 1rem 0;
  }
  .title {
    font-size: 1rem;
  }
}
