<div *ngIf="operator">
  <h2>Informations générales</h2>

  <div class="operator-row">
    <div class="full-col">
      <p class="nom-commercial">
        <strong>Nom commercial : </strong>
        {{ operator.nom_commercial }}
      </p>
      <p>
        <strong>Raison sociale : </strong>
        {{ operator.raison_sociale }}
      </p>
    </div>

    <div>
      <h3>Structure</h3>
      <p>
        <strong>Nature juridique : </strong>
        {{ operator.company.nature_juridique }}
      </p>
      <p>
        <strong>SIRET : </strong>
        {{ operator.company.siret }}
      </p>
      <p>
        <strong>Naf entreprise : </strong>
        {{ operator.company.naf_entreprise }}
      </p>

      <p>
        <strong>RNA : </strong>
        {{ operator.company.rna }}
      </p>
      <p>
        <strong>Numéro de TVA intracommunautaire : </strong>
        {{ operator.company.vat_intra }}
      </p>
    </div>
    <div>
      <h3>Adresse</h3>

      <p>
        <strong>N° et rue : </strong>
        {{ operator.address.street }}
      </p>
      <p>
        <strong>Code postal : </strong>
        {{ operator.address.postcode }}
      </p>
      <p>
        <strong>Cedex : </strong>
      </p>

      <p>
        {{ operator.address.cedex }}
        {{ operator.address.city }}
      </p>
      <p>
        <strong>Ville : </strong>
        {{ operator.address.city }}
      </p>
      <p>
        <strong>Pays : </strong>
        {{ operator.address.country }}
      </p>
    </div>
    <div>
      <h3>Banque</h3>

      <p>
        <strong>Nom de l'établissement : </strong>
        {{ operator.bank.bank_name }}
      </p>
      <p>
        <strong>Nom du titulaire : </strong>
        {{ operator.bank.client_name }}
      </p>
      <p>
        <strong>IBAN : </strong>
        {{ operator.bank.iban }}
      </p>
      <p>
        <strong>BIC : </strong>
        {{ operator.bank.bic }}
      </p>
    </div>
  </div>

  <div *ngIf="displayContacts">
    <h2>Contacts et responsables</h2>

    <div class="operator-row">
      <div>
        <h3>Délégué à la protection des données</h3>
        <app-details-contact [contact]="operator.contacts.gdpr_dpo"></app-details-contact>
      </div>

      <div>
        <h3>Responsable du traitement</h3>
        <app-details-contact [contact]="operator.contacts.gdpr_controller"></app-details-contact>
      </div>

      <div>
        <h3>Responsable technique</h3>
        <app-details-contact [contact]="operator.contacts.technical"></app-details-contact>
      </div>
    </div>
  </div>
</div>
