<app-form-pickatype></app-form-pickatype>

<h4>Employeur</h4>

<p>Le générateur d'attestation sur l'honneur s'adresse aux salariés.</p>
<p>
  Si vous souhaitez faire bénéficier du Forfait Mobilités Durables à vos
  employé.es, vous pouvez consulter les ressources suivantes&nbsp;:
</p>
<ul>
  <li>
    <a
      href="https://www.urssaf.fr/portail/home/employeur/calculer-les-cotisations/les-elements-a-prendre-en-compte/les-frais-professionnels/les-frais-de-transport/trajet-domicilelieu-de-travail/prise-en-charge-facultative-des/forfait-mobilites-durables.html"
      target="_blank"
      rel="noopener noreferrer"
      >Le Forfait Mobilités Durables sur le site de l'URSSAF</a
    >
  </li>
  <li>
    <a
      href="https://www.ecologie.gouv.fr/faq-forfait-mobilites-durables-fmd"
      target="_blank"
      rel="noopener noreferrer"
      >Le Forfait Mobilités Durables sur le site du Ministère de la Transition Ecologique</a
    >
  </li>
  <li>
    <a
      href="https://www.legifrance.gouv.fr/jorf/id/JORFTEXT000046733824"
      target="_blank"
      rel="noopener noreferrer"
      >Décret n° 2022-1562 du 13 décembre 2022 modifiant le décret n° 2020-543 du 9 mai 2020 relatif au versement du « forfait mobilités durables » dans la fonction publique de l'État</a
    >
  </li>
  <li>
    <a
      href="https://www.legifrance.gouv.fr/jorf/id/JORFTEXT000046733848"
      target="_blank"
      rel="noopener noreferrer"
      >Arrêté du 13 décembre 2022 modifiant l'arrêté du 9 mai 2020 pris pour l'application du décret n° 2020-543 du 9 mai 2020 relatif au versement du « forfait mobilités durables » dans la fonction publique de l'État</a
    >
  </li>
  <li>
    <a
      href="https://www.legifrance.gouv.fr/jorf/id/JORFTEXT000046733396"
      target="_blank"
      rel="noopener noreferrer"
      >Décret n° 2022-1557 du 13 décembre 2022 modifiant le décret n° 2020-1547 du 9 décembre 2020 relatif au versement du « forfait mobilités durables » dans la fonction publique territoriale</a
    >
  </li>
  <li>
    <a
      href="https://www.legifrance.gouv.fr/jorf/id/JORFTEXT000046733697"
      target="_blank"
      rel="noopener noreferrer"
      >Décret n° 2022-1560 du 13 décembre 2022 modifiant le décret n° 2020-1554 du 9 décembre 2020 relatif au versement du « forfait mobilités durables » dans les établissements publics de santé, sociaux et médico-sociaux</a
    >
  </li>
  <li>
    <a
      href="http://www.legifrance.gouv.fr/affichTexte.do?cidTexte=JORFTEXT000039666574"
      target="_blank"
      rel="noopener noreferrer"
      >Loi n° 2019-1428 du 24/12/2019 d'orientation des mobilités</a
    >
  </li>
  <li>
    <a
      href="http://www.legifrance.gouv.fr/affichTexte.do?cidTexte=JORFTEXT000041858450"
      target="_blank"
      rel="noopener noreferrer"
      >Décret n° 2020-541 du 9/05/2020 relatif au « forfait mobilités durables
      »</a
    >
  </li>
  <li>
    <a
      href="http://www.legifrance.gouv.fr/eli/arrete/2020/5/9/CPAF2006457A/jo/texte"
      target="_blank"
      rel="noopener noreferrer"
      >Décret n° 2020-543 du 9/05/2020 relatif au « forfait mobilités durables »
      dans la fonction publique de l’Etat</a
    >
  </li>
  <li>
    <a
      href="https://www.legifrance.gouv.fr/jorf/id/JORFTEXT000042636881"
      target="_blank"
      rel="noopener noreferrer"
      >Décret n° 2020-1554 du 9 décembre 2020 relatif au versement du « forfait 
      mobilités durables » dans les établissements publics de santé, sociaux et 
      médico-sociaux</a
    >
  </li>
  <li>
    <a
      href="https://www.legifrance.gouv.fr/jorf/id/JORFTEXT000042636614"
      target="_blank"
      rel="noopener noreferrer"
      >Décret n° 2020-1547 du 9 décembre 2020 relatif au versement du « forfait 
      mobilités durables » dans la fonction publique territoriale</a
    >
  </li>
</ul>
