.loader {
  display: flex;
  align-items: center;
  p {
    margin: 1em;
  }
}

.OperatorVisibilityTree {
  .header {
    ::ng-deep .mat-form-field-wrapper {
      padding-bottom: 0;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    mat-checkbox {
      margin-left: 2em;
    }
    .left {
      display: flex;
      align-items: center;
    }
    .right {
      display: flex;
      align-items: center;
      p,
      button {
        margin-left: 1em;
        &.btn-reset {
          min-width: 0;
        }
      }
    }
  }
  &-form {
    width: 100%;
    // max-height: 379px;
    // min-width: 600px;
    overflow-y: auto;
    background-color: white;
    // padding: 20px;
    border: 1px solid lightgrey;
    display: inline-block;
    margin-bottom: 5px;
    mat-checkbox {
      display: block;
    }
  }
}

.territory-visibility-list {
  list-style: none;
  li,
  a,
  span,
  input {
    font-family: 'OpenSans', sans-serif !important;
    font-weight: normal !important;
    font-size: 14px !important;
  }
}
