<!-- SEARCH FILTER-->
<div class="OperatorVisibilityTree">
  <div class="OperatorVisibilityTree-header">
    <form [formGroup]="searchFilter">
      <mat-form-field appearance="outline">
        <mat-label>Rechercher</mat-label>
        <input matInput placeholder="Nom du territoire" formControlName="query" />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </form>
    <mat-checkbox
      *ngIf="territoryIdsToShow && territoryIdsToShow.length > 0"
      [ngModel]="checkAllValue"
      (change)="checkAll($event)"
      color="primary"
    >
      Tous les territoires
    </mat-checkbox>
  </div>
  <div *ngIf="territoryIdsToShow && territoryIdsToShow.length === 0 && hasFilter">
    <p>Aucun résultat avec vos critères de recherches</p>
  </div>
  <div class="OperatorVisibilityTree-form" *ngIf="territoryIdsToShow && territoryIdsToShow.length > 0">
    <form>
      <ul class="territory-visibility-list">
        <li
          *ngFor="let ter of territories"
          [hidden]="!showTerritory(ter._id)"
          [style]="'padding-left:' + ter.indent * (searchMode ? 0 : 23) + 'px'"
        >
          <mat-checkbox
            *ngIf="ter.activable || ter.level === 'towngroup'; else terr_label"
            color="primary"
            (change)="swapCheck(ter)"
            [checked]="ter.selected"
          >
            {{ ter.name }}
          </mat-checkbox>
          <ng-template #terr_label>{{ ter.name }} </ng-template>
        </li>
      </ul>
    </form>
  </div>
  <div class="OperatorVisibilityTree-actions">
    <button type="button" mat-flat-button color="primary" (click)="save()">Enregistrer les changements</button>
    <ng-container *ngIf="isLoaded">
      <p *ngIf="countCheckedTerritories">
        Visible sur <span>{{ countCheckedTerritories }}</span> territoires
      </p>
      <p *ngIf="!countCheckedTerritories">
        Visible sur aucun territoire
      </p>
    </ng-container>
  </div>
</div>
