.OperatorVisibilityTree {
  &-header {
    ::ng-deep .mat-form-field-wrapper {
      padding-bottom: 0;
    }
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    mat-checkbox {
      margin-left: 10px;
    }
  }
  &-form {
    max-height: 379px;
    min-width: 600px;
    overflow-y: auto;
    background-color: white;
    // padding: 20px;
    border: 1px solid lightgrey;
    display: inline-block;
    margin-bottom: 5px;
    mat-checkbox {
      display: block;
    }
  }
  &-actions {
    display: flex;
    p {
      margin-left: 30px;
    }
  }
}

.territory-visibility-list {
  list-style: none;
  li,
  a,
  span,
  input {
    font-family: 'OpenSans', sans-serif !important;
    font-weight: normal !important;
    font-size: 14px !important;
  }
}
