@import 'variables';

.mat-icon {
  &.active,
  &.ended {
    color: $color-success;
  }
  
  &.archived {
    color: $color-warning;
  }
}

.mat-cell,
.mat-header-cell {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

