@import 'variables';

.mat-icon {
  &.active {
    color: $color-success;
  }

  &.draft,
  &.ended {
    color: $color-error;
  }
  
  &.paused {
    color: $color-warning
  }
}

.mat-cell,
.mat-header-cell {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

