@import 'variables';

.mat-icon {
  &.active,
  &.ended {
    color: $color-success;
  }

  &.draft {
    color: $color-punch;
  }

  &.pending {
    color: #333;
  }

  &.archived {
    color: $color-warning;
  }
}
