<section class="p-grid p-justify-center" >

  <div class="p-col-12">
    <h1 class="has-text-centered">Liste des Campagnes</h1>
  </div>

  <div class="p-col-12 p-md-8" *ngIf="!loading && campaigns.length !== 0">
    <p-table #dt [columns]="columns" [value]="campaigns" dataKey="_id" [paginator]="true" [rows]="perPage"
             [resizableColumns]="true" [totalRecords]="total" [loading]="loading">

      <ng-template pTemplate="caption">
        <div style="display: flex; justify-content: flex-end">
          <p-button routerLink="/dashboard/incentive-campaigns/new" label="Nouvelle campagne" icon="pi pi-pw pi-plus"></p-button>
        </div>
      </ng-template>

      <ng-template pTemplate="header" let-columns >
        <tr>
          <th style="width: 3em"></th>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn>
          <span>
          {{col.header}}
          </span>
              <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                          ariaLabelDesc="Activate to sort in descending order"
                          ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-i="rowIndex" let-expanded="expanded" let-rowData let-columns="columns">
        <tr>
          <td>
            <a href="#" [pRowToggler]="rowData">
              <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
            </a>
          </td>
          <td *ngFor="let col of columns" class="ui-resizable-column" [ngClass]="isNaN(getValue(rowData, col.field)) ? 'text' : 'number'">
            <div class="is-ellipsis" title="{{getValue(rowData, col.field)}}">{{getValue(rowData, col.field)}}</div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
        <tr>
          <td [attr.colspan]="columns.length + 1">
            <p-card>
              <div class="p-grid p-justify-center">
                <div class="p-col-11">
                  <app-incentive-campaign-summary [campaign]="rowData" ></app-incentive-campaign-summary>
                </div>
              </div>
            </p-card>

          </td>
        </tr>

      </ng-template>
    </p-table>
  </div>

</section>


<section class="p-grid" *ngIf="!loading && campaigns.length === 0">
  <br>
  <br>
  <div class="p-col-6 p-offset-3">
    <p>
      Créer votre première campagne.
    </p>
    <br>
    <p-button routerLink="/dashboard/incentive-campaigns/new" label="Nouvelle Campagne" icon="pi pi-pw pi-plus"></p-button>
  </div>
</section>
