@import '~src/assets/scss/variables';

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.stats__wrapper {
  overflow: hidden;
  overflow-y: scroll;
  height: calc(100vh - #{$navbar-height});
}

.subtitle {
  color: #c8c8c8;
}

.padding-fat-bottom {
  padding-bottom: 5em;
}

.stats--cards-wrapper {
  margin: 0 auto;
  width: 640px;
  max-width: 100%;
  .stats--card {
    padding: 1em;
    .ui-card-body {
      padding: 2em 1em 1em;
    }
    &.stats--card-first {
      .ui-card-body {
        padding: 3em 1em 2em;
      }
      .stats--card-value {
        font-size: 3.2em;
      }
    }
    .stats--card-icon {
      display: block;
      margin: 0 auto;
      max-height: 72px;
    }
    .stats--card-title {
      margin: 1em 0 0.2em;
      font-size: 1.2em;
      color: #aaa;
      text-align: center;
    }
    .stats--card-value {
      text-align: center;
      font-size: 2.2em;
      font-weight: bold;
      color: $primary;
    }
  }
}

.graph--toggle {
  float: right;
  margin-right: 0.8em;
  .graph--toggle-label {
    line-height: 35px;
    vertical-align: bottom;
    margin: 0 5px;
  }
}
.graph--toggle-title {
  margin-top: 0;
  margin-bottom: 2em;
}

.stats--disclaimer {
  padding: 1em 2em;
  line-height: 1.4;
  text-align: left;
  border: 1px solid $primary;
  border-radius: 0.4em;
  background: transparentize($primary, 0.9);
  ul {
    padding-left: 1.5em;
    li {
      padding-left: 0.5em;
    }
  }
}
