<div *ngIf="!loaded" class="absolute-center">
  <p-progressSpinner></p-progressSpinner>
</div>

<div *ngIf="loaded">
  <h1 class="has-text-centered">Statistiques</h1>

  <h3 class="subtitle has-text-centered">Résumé</h3>

  <div class="p-grid p-justify-center stats--cards-wrapper">
    <!-- Nombre de trajets -->
    <div class="p-col-12 stats--card stats--card-first">
      <p-card>
        <img src="assets/icons/journey.svg" class="stats--card-icon" alt="Trajets covoiturés" />
        <p class="stats--card-title">Trajets covoiturés</p>
        <p class="stats--card-value">{{ data.summary.journeys }}</p>
      </p-card>
    </div>

    <!-- Distance parcourue -->
    <div class="p-col-12 p-md-6 stats--card">
      <p-card>
        <img src="assets/icons/km.svg" class="stats--card-icon" alt="Distance parcourue" />
        <p class="stats--card-title">Distance parcourue</p>
        <p class="stats--card-value">{{ data.summary.distance }}<span class="stats--card-unit">&nbsp;km</span></p>
      </p-card>
    </div>

    <!-- Nombre de collectivités -->
    <div class="p-col-12 p-md-6 stats--card">
      <p-card>
        <img src="assets/icons/administration.svg" class="stats--card-icon" alt="Nombre de collectivités" />
        <p class="stats--card-title">Nombre de collectivités</p>
        <p class="stats--card-value">{{ data.summary.aom }}</p>
      </p-card>
    </div>

    <!-- Essence économisée -->
    <div class="p-col-12 p-md-6 stats--card">
      <p-card>
        <img src="assets/icons/petrol.svg" class="stats--card-icon" alt="Essence économisée" />
        <p class="stats--card-title">Essence économisée</p>
        <p class="stats--card-value">{{ data.summary.petrol }}<span class="stats--card-unit">&nbsp;litres</span></p>
      </p-card>
    </div>

    <!-- CO² économisé -->
    <div class="p-col-12 p-md-6 stats--card">
      <p-card>
        <img src="assets/icons/co2.svg" class="stats--card-icon" alt="CO² économisé" />
        <p class="stats--card-title">CO² économisé</p>
        <p class="stats--card-value">{{ data.summary.co2 }}<span class="stats--card-unit">&nbsp;kg</span></p>
      </p-card>
    </div>
  </div>

  <h3 class="subtitle has-text-centered">Détails</h3>

  <div class="p-grid p-justify-center stats--cards-wrapper">
    <!-- Trajets covoiturés -->
    <div class="p-col-12 stats--card">
      <p-card>
        <div class="graph--toggle">
          <span class="graph--toggle-label">{{ toggle.journeysPerDaySwitch ? 'par jour' : 'cumulé' }}</span>
          <p-inputSwitch (onChange)="handleChange($event, 'journeysPerDaySwitch')"></p-inputSwitch>
        </div>

        <h2 class="graph--toggle-title">Trajets covoiturés</h2>

        <p-chart
          *ngIf="toggle.journeysPerDaySwitch"
          [type]="'line'"
          [data]="data.graphs.journeysPerDay"
          [options]="graphLineOptions"
        ></p-chart>
        <p-chart
          *ngIf="!toggle.journeysPerDaySwitch"
          [type]="'line'"
          [data]="data.graphs.journeysPerDayTotal"
          [options]="graphLineOptions"
        ></p-chart>
      </p-card>
    </div>

    <!-- Distance parcourue -->
    <div class="p-col-12 stats--card">
      <p-card>
        <div class="graph--toggle">
          <span class="graph--toggle-label">{{ toggle.distancePerDaySwitch ? 'par jour' : 'cumulée' }}</span>
          <p-inputSwitch (onChange)="handleChange($event, 'distancePerDaySwitch')"></p-inputSwitch>
        </div>

        <h2 class="graph--toggle-title">Distance parcourue</h2>

        <p-chart
          *ngIf="toggle.distancePerDaySwitch"
          [type]="'line'"
          [data]="data.graphs.distancePerDay"
          [options]="graphLineOptions"
        ></p-chart>
        <p-chart
          *ngIf="!toggle.distancePerDaySwitch"
          [type]="'line'"
          [data]="data.graphs.distancePerDayTotal"
          [options]="graphLineOptions"
        ></p-chart>
      </p-card>
    </div>
  </div>

  <h4 class="subtitle has-text-centered">Calculs</h4>

  <div class="has-text-centered padding-fat-bottom">
    <a href="{{ gitbookLinkStats }}">
      Informations sur les méthodes de calculs utilisées.
    </a>
  </div>
</div>
