<div class="campaign-simulation">
  <h4>Simulation de la campagne en brouillon</h4>
  <div class="campaign-simulation-content">
    <h5>Simulation de votre campagne sur une durée de&nbsp;:</h5>
    <mat-radio-group [(ngModel)]="months" aria-label="Choisir une durée de simulation" class="radio-group">
      <mat-radio-button class="radio-button" [value]="1">1&nbsp;mois</mat-radio-button>
      <mat-radio-button class="radio-button" [value]="2">2&nbsp;mois</mat-radio-button>
      <mat-radio-button class="radio-button" [value]="3">3&nbsp;mois</mat-radio-button>
    </mat-radio-group>
    <p *ngIf="!loading">
      Cette estimation se base sur les trajets réalisés du au
    </p>
    <div class="row">
      <div class="sim-col">
        <h5>Trajets incités via une campagne paramétrée sur le RPC</h5>
        <mat-spinner [diameter]="25" *ngIf="loading"></mat-spinner>
        <p *ngIf="!loading">{{ state.trip_subsidized }}</p>
      </div>
      <div class="sim-col">
        <h5>Incitations distribuées</h5>
        <mat-spinner [diameter]="25" *ngIf="loading"></mat-spinner>
        <p *ngIf="!loading">{{state.amount / 100 | euro}}</p>
      </div>
    </div>
    <div class="row" *ngIf="errors_simulation_failed">
      <p>La simulation n'a pu être calculée. Veuillez rééssayer ultérieurement</p>
    </div>
  </div>

</div>
