<div class="SimForm-summary">
  <h4>
    Simulation de votre campagne sur une durée de&nbsp;&nbsp;&nbsp;<mat-form-field appearance="fill">
      <mat-label>Nombre de mois</mat-label>
      <mat-select [(value)]="nbMonth" (valueChange)="updateCampaign()">
        <mat-option [value]="1">1 mois</mat-option>
        <mat-option [value]="2">2 mois</mat-option>
        <mat-option [value]="3">3 mois</mat-option>
      </mat-select>
    </mat-form-field>
  </h4>
  <p>
    Cette estimation se base sur les trajets réalisés du {{ timeState.startDateString }} au
    {{ timeState.endDateString }}
  </p>
  <div class="row">
    <div class="sim-col">
      <h5>Trajets incités</h5>
      <p>{{ state.trip_subsidized }}</p>
    </div>
    <div class="sim-col">
      <h5>Incitations distribuées</h5>
      <p>{{ state.amount }} €/pts</p>
    </div>
  </div>
</div>
