// .SimForm-summary {
//   background-color: white;
//   border-radius: 5px;
//   padding: 25px 50px;
//   margin: 0;
//   min-height: 230px;
//   box-sizing: border-box;
// }
@import 'variables';

.campaign-simulation {
  
  h4 {
    color: $color-primary;
  }
  &-content {
    padding-left: 55px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: white;
  }
  &-empty {
    height: 150px;
    text-align: center;
  }
}


h4,
p {
  margin: 0;
}

.row {
  display: flex;
  flex-direction: row;
  max-width: 640px;
  margin: 15px 0 20px;

  h5,
  p {
    margin: 0 25px 0 0;
  }
}

.radio-group {
  display: block;
  margin: 0.5em 0 1em;
  .radio-button {
    margin: 0.1em 0.5em;
  }
}
