<div class="SimForm-summary">
  <h4>Simulation de votre campagne sur une durée de&nbsp;:</h4>
  <mat-radio-group [(ngModel)]="months" aria-label="Choisir une durée de simulation" class="radio-group">
    <mat-radio-button class="radio-button" [value]="1">1&nbsp;mois</mat-radio-button>
    <mat-radio-button class="radio-button" [value]="2">2&nbsp;mois</mat-radio-button>
    <mat-radio-button class="radio-button" [value]="3">3&nbsp;mois</mat-radio-button>
  </mat-radio-group>
  <p>
    Cette estimation se base sur les trajets réalisés du {{ timeState.startDateString }} au
    {{ timeState.endDateString }}
  </p>
  <div class="row">
    <div class="sim-col">
      <h5>Trajets incités via une campagne paramétrée sur le RPC</h5>
      <mat-spinner [diameter]="25" *ngIf="loading"></mat-spinner>
      <p *ngIf="!loading">{{ state.trip_subsidized }}</p>
    </div>
    <div class="sim-col">
      <h5>Incitations distribuées</h5>
      <mat-spinner [diameter]="25" *ngIf="loading"></mat-spinner>
      <p *ngIf="!loading">{{ state.amount }}</p>
    </div>
  </div>
  <div class="row" *ngIf="errors.simulation_failed">
    <p>La simulation n'a pu être calculée.</p>
  </div>
</div>
