<form class="CreateEditUserForm" [formGroup]="createEditUserForm">
  <mat-form-field appearance="outline" required>
    <mat-label>Prénom</mat-label>
    <input matInput formControlName="firstname" required />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Nom</mat-label>
    <input matInput formControlName="lastname" required />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" required />
    <mat-error *ngIf="controls.email.hasError('pattern')"> L'email est invalide.</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Numéro de téléphone</mat-label>
    <input matInput formControlName="phone" />
    <mat-error *ngIf="controls.phone.hasError('pattern')"> Le numéro de téléphone est invalide.</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline" *ngIf="isCreating">
    <mat-label>Droit d'accès</mat-label>
    <mat-select required formControlName="role">
      <mat-option [value]="1">Option 1</mat-option>
      <mat-option [value]="2">Option 2</mat-option>
      <mat-option [value]="3">Option 3</mat-option>
    </mat-select>
  </mat-form-field>
  <div>
    <button
      type="submit"
      mat-flat-button
      class="large"
      (click)="onUpdateUser()"
      [appShowSpinner]="isCreatingUpdating"
      [disabled]="!createEditUserForm.valid"
      color="primary"
    >
      Mettre à jour
    </button>
  </div>
</form>
