@import 'variables';

.tripStats {
  mat-error {
    margin-bottom: 10px;
  }
  &-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    ::ng-deep {
      .HelpCard {
        width: 300px;
      }
    }
  }
}
