<div class="CampaignsList">
  <div class="CampaignsList--loading" *ngIf="campaignService.loading && !campaigns">
    <mat-spinner></mat-spinner>
  </div>
  <app-list-item *ngFor="let campaign of campaigns">
    <div class="CampaignsList-item">
      <div class="CampaignsList-item-name">
        {{ campaign.name }}
      </div>
      <div class="CampaignsList-item-amount">
        <span *ngIf="campaign.status !== CampaignStatusEnum.DRAFT">{{
          campaign.amount_spent | currency: 'EUR':'symbol':'1.0-0'
        }}</span>
        <span>Budget: {{ campaign.max_amount | currency: 'EUR':'symbol':'1.0-0' }}</span>
      </div>
      <div class="CampaignsList-item-trips">
        <span *ngIf="campaign.status !== CampaignStatusEnum.DRAFT">{{ campaign.trips_number }} trajets</span>
        <span>Plafond: {{ campaign.max_trips }} trajets</span>
      </div>
      <div class="CampaignsList-item-date">
        <span>Du {{ campaign.start.toDate() | date: 'dd MMMM' }} au {{ campaign.end.toDate() | date: 'dd MMMM' }}</span>
      </div>
      <div class="CampaignsList-item-actions" [ngSwitch]="campaign.status">
        <a class="link" *ngSwitchCase="CampaignStatusEnum.DRAFT" routerLink="/campaign/{{ campaign._id }}">Modifier</a>
        <a class="link" *ngSwitchDefault>Voir le détail</a>
        <a class="link" (click)="deleteCampaign(campaign)" *ngSwitchCase="CampaignStatusEnum.DRAFT">Supprimer</a>
      </div>
    </div>
  </app-list-item>
</div>
