<div class="CampaignsList">
  <div class="CampaignsList--loading" *ngIf="loading && !filteredCampaigns">
    <mat-spinner></mat-spinner>
  </div>
  <ng-container *ngIf="loaded && filteredCampaigns">
    <app-list-item *ngFor="let campaign of filteredCampaigns">
      <div class="CampaignsList-item">
        <div class="CampaignsList-item-name">
          {{ campaign.name }}
        </div>
        <div class="CampaignsList-item-amount">
          <span *ngIf="campaign.status !== CampaignStatusEnum.DRAFT && campaign.amount_spent">{{
            campaign.amount_spent | currency: 'EUR':'symbol':'1.0-0'
          }}</span>
          <span>Budget: {{ campaign.max_amount | currency: 'EUR':'symbol':'1.0-0' }}</span>
        </div>
        <div class="CampaignsList-item-trips">
          <span *ngIf="campaign.status !== CampaignStatusEnum.DRAFT && campaign.trips_number"
            >{{ campaign.trips_number }} trajets</span
          >
          <span *ngIf="campaign.max_trips">Plafond: {{ campaign.max_trips }} trajets</span>
        </div>
        <div class="CampaignsList-item-date">
          <span
            >Du {{ campaign.start.toDate() | date: 'dd MMMM' }} au {{ campaign.end.toDate() | date: 'dd MMMM' }}</span
          >
        </div>
        <div class="CampaignsList-item-actions">
          <button mat-button *ngIf="showEdition(campaign.status)" routerLink="/campaign/draft/{{ campaign._id }}">
            <mat-icon matTooltip="voir le détail">edit</mat-icon>
          </button>
          <button mat-button *ngIf="showValid(campaign.status)" routerLink="/campaign/{{ campaign._id }}">
            <mat-icon matTooltip="voir le détail">remove_red_eye</mat-icon>
          </button>
          <button mat-button (click)="deleteCampaign(campaign)" *ngIf="showDelete(campaign.status)">
            <mat-icon matTooltip="supprimer" color="error">delete_outline</mat-icon>
          </button>
        </div>
      </div>
    </app-list-item>
  </ng-container>
  <div *ngIf="loaded && filteredCampaigns && filteredCampaigns.length === 0" class="CampaignsList-notfound">
    <p>Vous n'avez pas de campagnes.</p>
  </div>
</div>
