<div class="p-grid">
  <div class="p-col-3" [ngClass]="( incentiveFiltersForm.value[incentiveFilter.key] ) ? 'selected' : ''"
       *ngFor="let incentiveFilter of incentiveFilters">
    <p-card
      [styleClass]="'ui-card-fixed'"
      (click)='configureIncentiveFilter(incentiveFilter.key)'>
        <h2 class="has-text-centered">
          {{ incentiveFilter.title}}
        </h2>
        <!--<p *ngIf='incentiveFiltersForm.value[incentiveFilter.key]'>-->
          <!--<b>{{ getIncentiveStringDescription(incentiveFilter.key) }}</b>-->
        <!--</p>-->
    </p-card>
  </div>
</div>
