<div class="RetributionForm" [formGroup]="forDriver || forTrip ? forDriverFormGroup : forPassengerFormGroup">
  <h4>
    <span *ngIf="forDriver"> Pour le conducteur</span>
    <span *ngIf="forPassenger"> Pour le(s) passager(s)</span>
    <span *ngIf="forTrip"> Pour le trajet</span>
    <mat-checkbox *ngIf="!forDriver && !forTrip && isEuros" class="RetributionForm-free" formControlName="free">
      gratuit
    </mat-checkbox>
  </h4>
  <div
    class="RetributionForm-inputs"
    [ngClass]="
      forPassenger && forPassengerFormGroup.controls.free.value && isEuros ? 'RetributionForm-inputs--hidden' : ''
    "
  >
    <mat-form-field appearance="outline" class="shortFormField">
      <mat-label>Montant</mat-label>
      <input matInput type="number" min="0" placeholder="0,1" formControlName="amount" />
      <mat-error *ngIf="true">
        Le montant du mode de rétribution doit être supérieur à 0.
      </mat-error>
    </mat-form-field>
    <span>
      {{ incentiveUnitFr[campaignFormControls.unit.value] }}
    </span>
    <span *ngIf="!forTrip">par trajet</span>
    <mat-checkbox formControlName="per_km">
      par km
    </mat-checkbox>
    <mat-checkbox formControlName="per_passenger" *ngIf="forDriver || forTrip">par passager</mat-checkbox>
  </div>
</div>
