<div class="operatorToken">
  <div class="Users-loading" *ngIf="operatorTokenService.loading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="operatorToken-list" *ngIf="!operatorTokenService.loading && operatorTokenService.operatorTokens">
    <app-list-item *ngFor="let operatorToken of operatorTokens">
      <div class="operatorToken-list-item">
        <div class="operatorToken-list-item-name">
          {{ operatorToken.name }}
        </div>
        <div class="operatorToken-list-item-createdDate">
          Créé le
          {{ operatorToken.createdAt.toLocaleDateString() }}
        </div>
        <div class="operatorToken-list-item-actions">
          <a
            class="link"
            *ngIf="authenticationService.hasAnyPermission(['operator.application.revoke'])"
            (click)="onDelete(operatorToken)"
            >Supprimer le token</a
          >
        </div>
      </div>
    </app-list-item>
  </div>
  <div class="operatorToken-add" *ngIf="authenticationService.hasAnyPermission(['operator.application.create'])">
    <button
      mat-flat-button
      class="large"
      *ngIf="!showCreateTokenForm; else addUserBlock"
      (click)="addToken()"
      color="primary"
    >
      Créer un token
    </button>
    <ng-template #addUserBlock>
      <h2>
        Créer un token
      </h2>
      <div class="Users-form">
        <app-operator-token-form (onClose)="closeTokenForm()"></app-operator-token-form>
      </div>
    </ng-template>
  </div>
</div>
