@import '~src/styles/variables';

.operatorToken {
  ::ng-deep .ListItem {
    margin-bottom: 10px;
    width: 700px;
  }

  &-list {
    &-item {
      display: flex;
      width: 100%;
      font-family: 'WorkSans', sans-serif;

      & > * {
        flex: 1;
      }

      &-name {
        font-weight: 600;
      }

      &-createdDate {
        font-style: italic;
      }

      &-actions {
        text-align: right;

        & > *:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
  }
}
