.first_legend{
  bottom: 300px;
}
.legend {
  position: absolute;
  bottom: 25px;
  right: 0;
  overflow: auto;
  border-radius: 10%;
  padding: 10px;
  z-index: 10;
  background-color: #ffffff;
  font-size: 1em;
  width: 250px;
  @media screen and (min-width: 992px) {
    font-size: 1.2em;
  }
  .legend_class {
    display: inline-block;
    width: 30px;
    margin-right: 5px;
    background-color: #ccc;
  }
  .legend_classname {
    font-size: 1em;
  }
  .legend_title {
    font-weight: bold;
  }
  .amount {
    margin-top: 10px;
  }
  .proportional_circles {
    position: relative;
    margin-top: 10px;
    hr {
      position: absolute;
      height: 1px;
      background-color: black;
      margin: 0;
      padding: 1px 0;
    }
    .circle_class {
      border: 1px solid black;
      border-radius: 50%;
      background: whitesmoke;
      position: absolute;
    }
    .circle_label {
      position: absolute;
      font-size: 0.8em;
    }
  }
}
