<mat-form-field [formGroup]="parentForm" class="territoryInseeAutocomplete" appearance="outline">
  <mat-label>Département</mat-label>

  <input type="text" matInput [formControl]="territoryInseeInputCtrl" [matAutocomplete]="auto" />

  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onTerritoryInseeSelect($event)">
    <mat-option *ngFor="let territory of searchedTerritoryInsees" [value]="territory">
      <span [title]="territory.name">{{ territory.name }} </span>
    </mat-option>
  </mat-autocomplete>

</mat-form-field>
