<section>
  <header>
    <div class="actions-left">
      <h2 data-test="section-title">Utilisateurs</h2>
    </div>

    <div class="actions-center">
      <!-- group selection -->
      <div *ngIf="auth.isRegistry()">
        <mat-checkbox
          *ngFor="let item of groupNames | keyvalue"
          (change)="onGroupChange($event)"
          [value]="item.key"
          [checked]="isChecked(item.key)"
        >
          {{ item.value }}
        </mat-checkbox>
      </div>
    </div>

    <div class="actions-right">
      <!-- add user -->
      <div>
        <button
          *ngIf="auth.isAdmin()"
          mat-flat-button
          routerLink="create"
          color="primary"
          matTooltip="Ajouter un utilisateur"
          matTooltipPosition="left"
          class="add-user"
          data-test="user-create"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <form [formGroup]="filters" class="search">
        <!-- list filtering -->
        <mat-form-field appearance="outline">
          <mat-label>Rechercher</mat-label>
          <input matInput formControlName="query" autocomplete="off" data-test="field-search" />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </form>
    </div>
  </header>

  <main data-test="user-list">
    <!-- loader -->
    <div class="loader" *ngIf="loading">
      <mat-spinner diameter="25"></mat-spinner>
    </div>

    <div class="datatable">
      <table
        mat-table
        [dataSource]="users"
        matSort
        matSortActive="name"
        matSortDisableClear
        matSortDirection="asc"
        (matSortChange)="onSortChange()"
      >
        <!-- Firstname Lastname -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Nom</th>
          <td mat-cell *matCellDef="let user">{{ user?.name }}</td>
        </ng-container>

        <!-- Email -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Email</th>
          <td mat-cell *matCellDef="let user">
            <a
              [href]="'mailto:' + user?.email"
              target="_blank"
              rel="noopener noreferrer"
              class="link"
              [matTooltip]="user?.email"
              matTooltipPosition="right"
            >
              {{ user?.email | ellipsis: 25 }}
            </a>
          </td>
        </ng-container>

        <!-- Role -->
        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Role</th>
          <td mat-cell *matCellDef="let user">
            <mat-icon aria-hidden="true" [matTooltip]="user?.role" matTooltipPosition="right">
              {{ user?.icon }}
            </mat-icon>
          </td>
        </ng-container>

        <!-- Operator -->
        <ng-container matColumnDef="operator">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Opérateur</th>
          <td mat-cell *matCellDef="let user">
            <a
              *ngIf="user?.operator"
              routerLink="/trip/stats"
              [queryParams]="{ operator_id: user.operator_id }"
              class="link"
            >
              {{ user?.operator || '-' }}
            </a>
            <span *ngIf="!user?.operator">-</span>
          </td>
        </ng-container>

        <!-- Territory -->
        <ng-container matColumnDef="territory">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Territoire</th>
          <td mat-cell *matCellDef="let user">
            <a
              *ngIf="user?.territory"
              routerLink="/trip/stats"
              class="link"
              [queryParams]="{ territory_id: user.territory_id }"
              [matTooltip]="user?.territory || '-'"
              matTooltipPosition="left"
            >
              {{ user?.territory | ellipsis: -25 }}
            </a>
            <span *ngIf="!user?.territory">-</span>
          </td>
        </ng-container>

        <!-- Actions -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let user">
            <a *ngIf="canReInvite(user)" (click)="onSendInvitation(user)" data-test="user-reinvite">
              <mat-icon matTooltip="Renvoyer l'invitation" color="primary">mail_outline</mat-icon>
            </a>
            <a *ngIf="canEdit() && !user.is_me" (click)="onEdit(user)" data-test="user-edit">
              <mat-icon matTooltip="Editer" color="primary">edit_outline</mat-icon>
            </a>
            <a *ngIf="canDelete(user)" (click)="onDelete(user)" data-test="user-delete">
              <mat-icon matTooltip="Supprimer l'accès" color="error">delete_outline</mat-icon>
            </a>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="headers"></tr>
        <tr mat-row *matRowDef="let row; columns: headers" [class]="{ is_me: row.is_me }"></tr>
      </table>

      <!-- paginator -->
      <mat-paginator [length]="total" [pageSize]="PAGE_SIZE" (page)="onPageChange($event)"></mat-paginator>
    </div>
  </main>
</section>
