<div class="p-grid ui-fluid">
  <div class="p-col-12 p-md-4">
    <label>Nom de la polique</label>
  </div>
  <div class="p-col-12 p-md-8">
    <input
      type="text"
      pInputText
      [formControl]="policyNameForm"
      >
    <p-message
      severity="error"
      [text]="policyNameForm.errors['required'] ? 'Le champs nom est requis' : ''"
      *ngIf="!policyNameForm.valid&&policyNameForm.dirty">
    </p-message>
  </div>
  <div class="p-col-12 p-md-4">
    <label>Description de la politique</label>
  </div>
  <div class="p-col-12 p-md-8">
    <textarea
      [formControl]="policyDescriptionForm"
      pInputTextarea
      >
    </textarea>
  </div>

  <button pButton type="button" (click)="onSubmit()" [disabled]="!policyNameForm.value" label="Sauvegarder" icon="pi pi-check" style="margin-right: .25em"></button>
</div>
