<div class="graph">
  <div class="graph-header">
    <app-stat-graph-timemode-nav
      *ngIf="displayNav"
      [nav]="timeMode"
      [navList]="timeNavList"
      (navChange)="navChange($event)"
    >
    </app-stat-graph-timemode-nav>
  </div>
  <div class="chart-container" [ngSwitch]="timeMode" *ngIf="data">
    <ngx-chartjs
      *ngSwitchCase="'month'"
      type="bar"
      [height]="70"
      [data]="data.monthly"
      [options]="graphOptions.month"
    ></ngx-chartjs>
    <ngx-chartjs
      *ngSwitchCase="'cumulative'"
      type="line"
      [height]="70"
      [data]="data.cumulated"
      [options]="graphOptions.cumulative"
    ></ngx-chartjs>
  </div>
  <!-- </app-stat-chart-container> -->
</div>
