@import "../../../../assets/scss/variables";

.layout__flex-grid {
  display: flex;
  margin: auto 0 0;
  height: calc(100vh - #{$navbar-height});
}

.layout__sidebar {
  width: 250px;
  background: #f4f4f4;
}

.layout__main {
  flex: 4;
  overflow-x: hidden;
  overflow-y: scroll;
}
