<form (ngSubmit)="onSubmit()">
  <div class="p-grid ui-fluid" [formGroup]="aomForm">
    <div class="p-col-12 p-md-2">
      <label>Nom</label>
    </div>
    <div class="p-col-12 p-md-4">
      <input type="text" pInputText formControlName="shortname">
    </div>

    <div class="p-col-12 p-md-2">
      <label>Nom complet</label>
    </div>
    <div class="p-col-12 p-md-4">
      <input type="text" pInputText formControlName="name">
      <p-message
          severity="error"
          [text]="aomForm.controls['name'].errors['required'] ? 'Le nom est obligatoire.' : ''"
          *ngIf="!aomForm.controls['name'].valid&&aomForm.controls['name'].dirty">
      </p-message>
    </div>

    <div class="p-col-12 p-md-2" pTooltip="Acronyme de l'AOM, par exemple :
      - IDFM : Ile-de-France Mobilités
      - CAPCA : Communauté d'Agglomération Privas Centre Ardèche">
      <label>Acronyme</label>
    </div>
    <div class="p-col-12 p-md-4">
      <input type="text" pInputText formControlName="acronym">
    </div>

    <div class="p-col-12 p-md-2">
      <label>Codes INSEE</label>
    </div>
    <div class="p-col-12 p-md-4">
      <p-chips
          [addOnTab]="true"
          formControlName="insee"
          [allowDuplicate]="false"
          (onAdd)="onInseeAdded($event)"
      ></p-chips>
      <p-message
          severity="error"
          [text]="inseeMessage"
          *ngIf="inseeMessage !== ''">
      </p-message>
    </div>

    <div class="p-col-12 p-md-2">
      <label>Code INSEE principal</label>
    </div>
    <div class="p-col-12 p-md-4">
      <p-dropdown
          [options]="aomInsee"
          formControlName="insee_main"
      ></p-dropdown>
    </div>
  </div>


  <app-contacts-form [parentForm]="aomForm.get('contacts')"></app-contacts-form>
  <br>

  <app-company-form [parentForm]="aomForm.get('company')"></app-company-form>
  <br/>

  <app-address-form [parentForm]="aomForm.get('address')"></app-address-form>
  <br/>


  <p-button (onClick)="onSubmit" label="Enregistrer"></p-button>
</form>
