.rf-footer {
  width: 100%;
  border-top: 2px solid var(--bf500);
  border-bottom: 1px solid var(--g400);
  padding-top: 2.5rem;
  line-height: 1.5;
}
.rf-footer__body {
  display: flex;
  flex-wrap: wrap;
}
.rf-footer__brand {
  display: flex;
  align-items: center;
  flex-basis: 100%;
  color: var(--g200);
  .rf-logo {
    font-size: 1rem;
    margin: -1em;
  }
  .rf-logo__title {
    &::after {
      color: var(--g200);
    }
  }
  a {
    + {
      a {
        margin-left: 1.5rem;
        box-shadow: none;
      }
    }
  }
}
.rf-footer__body--operator {
  .rf-footer__brand {
    flex-basis: 100%;
    .rf-footer__link {
      + {
        .rf-footer__link {
          .rf-footer__logo {
            width: auto;
            min-width: initial;
            max-height: 100px;
          }
        }
      }
    }
    .rf-footer__logo {
      min-width: initial;
      max-width: 100%;
    }
  }
  .rf-footer__content {
    margin-top: 1.5rem;
  }
}
.rf-footer__logo {
  width: 200px;
  height: auto;
}
.rf-footer__content {
  display: flex;
  flex: 1 0 100%;
  flex-direction: column;
  margin-top: 1.5rem;
}
.rf-footer__content-desc {
  margin: 0 0 1rem;
  line-height: 1.5;
}
.rf-footer__content-links {
  display: flex;
  flex-direction: row;
  margin-bottom: -1rem;
  > li {
    margin-right: 1.5rem;
    margin-top: 0.5rem;
    &::before {
      content: none;
    }
    &:last-child {
      margin-right: 0;
    }
    > a {
      display: inline-flex;
      font-weight: 700;
      box-shadow: none;
      color: var(--g300);
    }
  }
}
.rf-footer__bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 2.5rem;
  padding: 0 0 1rem;
  border-top: 1px solid var(--g400);
}
.rf-footer__bottom-list {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 0 0 -1rem;
  padding: 0.5rem 0;
  width: calc(100% + 1rem);
  > li {
    position: relative;
    margin: 0.5rem 0 0 1rem;
    &::before {
      content: none;
    }
    &::after {
      content: "";
      position: absolute;
      right: -0.5rem;
      top: 0;
      bottom: 0;
      margin: auto;
      height: 70%;
      width: 1px;
      background-color: var(--g400);
    }
    &:last-child {
      &::after {
        content: none;
      }
    }
    > a {
      box-shadow: none;
      font-size: 0.75rem;
      color: var(--g600);
    }
  }
}
.rf-footer__link {
  box-shadow: none;
  font-size: 0.75rem;
  color: var(--g600);
}
.rf-footer__bottom-copy {
  flex-shrink: 0;
  font-size: 0.75rem;
  color: var(--g500);
  margin-top: 1rem;
}
.rf-footer__top {
  display: flex;
  background-color: var(--beige);
  margin: -2.5rem 0 2.5rem;
  padding: 1rem 0;
}
.rf-footer__top-cat {
  margin: 0 0 0.5rem;
  font-size: 0.75rem;
  font-weight: 700;
  text-align: center;
}
.rf-footer__top-list {
  text-align: center;
  margin: 0;
  > li {
    &::before {
      content: none;
    }
    > a {
      box-shadow: none;
      font-size: 0.75rem;
      color: var(--g600);
    }
  }
}
.rf-footer__partners {
  margin-top: 2.5rem;
  padding-top: 1rem;
  border-top: 1px solid var(--g400);
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    background: #fff;
    padding: 1rem;
    box-shadow: none;
  }
  .rf-footer__logo {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: calc(90px - 1rem);
  }
}
.rf-footer__partners-title {
  flex-basis: 100%;
  font-size: 0.875rem;
  font-weight: 400;
  margin: 0;
  text-align: center;
}
.rf-footer__partners-logos {
  display: flex;
  flex-wrap: wrap;
}
.rf-footer__partners-main {
  flex-basis: 100%;
  padding-top: 2rem;
}
.rf-footer__partners-sub {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-basis: 100%;
  padding-top: 2rem;
  > a {
    box-shadow: none;
    margin: 0 0 1rem;
  }
}
[data-theme="dark"] {
  .rf-logo__inverted {
    &::after {
      --data-uri-svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='126' height='88'%3E%3Cpath fill='%231e1e1e' d='M119.147 74.617c1.059 0 1.974.818 1.492 2.7l-4.862 1.3c.77-2.311 2.214-4 3.37-4m2.7 7.895h-.963c-1.2 1.444-2.551 2.6-3.851 2.6-1.348 0-2.022-.818-2.022-2.6a10.665 10.665 0 01.241-2.166l7.847-2.6c1.54-3.659-.289-5.247-2.455-5.247-3.707 0-7.943 6.5-7.943 11.7 0 2.455 1.155 3.8 2.985 3.8 2.118-.048 4.333-2.118 6.162-5.488m-1.252-11.746l4.477-4.092V66.1h-2.985l-2.648 4.67zm-16.753 3.947h2.6L102.3 86.074A1.31 1.31 0 00103.453 88c2.937 0 6.451-2.5 7.8-6.066h-.722a9.4 9.4 0 01-5.1 3.418l3.8-10.639h3.9l.481-1.637h-3.8l1.444-4.092h-1.492l-2.7 4.092-3.225.433zm-2.7-.53a1.138 1.138 0 00-.915-1.637c-2.263 0-4.958 2.022-6.066 4.91h.722a5.577 5.577 0 013.177-2.407l-4.332 11.315A1.12 1.12 0 0094.643 88c2.166 0 4.67-2.07 5.777-4.91h-.77a5.577 5.577 0 01-3.177 2.41zm.433-4.525a1.777 1.777 0 001.781-1.781 1.809 1.809 0 00-1.781-1.781 1.777 1.777 0 00-1.781 1.781 1.809 1.809 0 001.781 1.781m-21.038 6.019c.674 0 1.059 1.059 0 3.37l-3.081 6.836c-.578 1.3.048 2.118 1.3 2.118a1.3 1.3 0 001.443-1.011L83.234 79c1.4-1.685 4-3.514 5.1-3.514.818 0 .722.674.193 1.685l-4.621 8.906A1.314 1.314 0 0085.063 88c2.263 0 4.958-2.022 6.066-4.91h-.722a5.577 5.577 0 01-3.177 2.41l4-8.039a6.113 6.113 0 00.77-2.748 1.962 1.962 0 00-2.118-2.166c-1.974 0-3.659 2.214-6.018 4.958v-2.118c0-1.492-.481-2.84-1.829-2.84-1.589 0-3.033 2.455-4.14 4.91h.722c.674-1.155 1.348-1.781 1.926-1.781m-3.129.289c.53-1.829.241-3.466-1.155-3.466-1.781 0-2.311 1.2-4.092 4.958v-2.118c0-1.492-.481-2.84-1.829-2.84-1.589 0-3.033 2.455-4.14 4.91h.722c.77-1.107 1.492-1.781 2.07-1.781.674 0 1.059 1.059 0 3.37l-3.09 6.836c-.578 1.3.048 2.118 1.3 2.118a1.3 1.3 0 001.444-1.011l3.036-7.991c.867-1.059 1.637-1.974 2.6-2.985zM60.7 74.617c1.059 0 1.974.818 1.492 2.7l-4.862 1.3c.77-2.311 2.214-4 3.37-4m2.7 7.895h-.963c-1.2 1.444-2.551 2.6-3.851 2.6-1.348 0-2.022-.818-2.022-2.6a10.665 10.665 0 01.241-2.166l7.847-2.6c1.54-3.659-.289-5.247-2.455-5.247-3.707 0-7.943 6.5-7.943 11.7 0 2.455 1.155 3.8 2.985 3.8 2.118-.048 4.333-2.118 6.162-5.488m-18-7.8H48l-4.14 11.361A1.31 1.31 0 0045.011 88c2.937 0 6.451-2.5 7.8-6.066h-.722a9.4 9.4 0 01-5.1 3.418l3.8-10.639h3.9l.481-1.637h-3.8l1.444-4.092h-1.497l-2.7 4.092-3.217.434v1.2zm-13.768 8.81c0-3.514 3.9-8.232 6.066-8.232a3.969 3.969 0 011.348.193l-2.263 6.066c-1.3 1.589-3.322 3.514-4.284 3.514-.53 0-.867-.481-.867-1.54m11.939-11.65l-1.2-.1-1.348 1.348h-.241c-5.729 0-11.842 7.125-11.842 12.709A1.962 1.962 0 0031.05 88c1.685 0 3.322-2.407 5.151-4.958l-.1.915c-.241 2.6.578 4.044 1.926 4.044 1.589 0 3.033-2.455 4.14-4.91h-.722c-.77 1.107-1.492 1.781-2.07 1.781s-1.011-1.059 0-3.37zm-12.233 4.093c.53-1.829.241-3.466-1.155-3.466-1.781 0-2.311 1.2-4.092 4.958v-2.118c0-1.492-.481-2.84-1.829-2.84-1.589 0-3.033 2.455-4.14 4.91h.722c.77-1.107 1.492-1.781 2.022-1.781.674 0 1.059 1.059 0 3.37l-3.081 6.884c-.578 1.3.048 2.118 1.3 2.118a1.3 1.3 0 001.444-1.011L25.562 79c.867-1.059 1.637-1.974 2.6-2.985h3.177zM11.217 87.422l.289-.867c-3.8-.722-4.284-.722-2.744-4.814l1.4-3.851h3.028c1.877 0 1.877.818 1.637 2.888h1.059l2.5-6.836H17.33c-.915 1.637-1.685 2.888-3.707 2.888h-3.032l2.07-5.632c.722-2.022 1.059-2.407 3.659-2.407h.674c2.648 0 2.937.722 2.937 3.514h1.059l.867-4.67H7.269l-.289.865c3.033.626 3.322.915 1.926 4.814l-3.129 8.38c-1.444 3.9-2.022 4.188-5.488 4.814L0 87.422zM83.764 41.593c1.059 0 1.974.818 1.492 2.648l-4.862 1.3c.818-2.263 2.263-3.947 3.37-3.947m2.7 7.847H85.5c-1.2 1.444-2.551 2.6-3.851 2.6-1.348 0-2.022-.818-2.022-2.6a10.665 10.665 0 01.241-2.166l7.895-2.6c1.54-3.659-.337-5.247-2.455-5.247-3.707 0-7.943 6.5-7.943 11.7 0 2.455 1.155 3.8 2.985 3.8 2.118 0 4.333-2.07 6.114-5.488m-1.252-11.7l4.477-4.092v-.578H86.7l-2.648 4.67zM68.5 41.689h2.6L66.963 53.05a1.31 1.31 0 001.155 1.926c2.937 0 6.451-2.5 7.8-6.066h-.722a9.4 9.4 0 01-5.1 3.418l3.8-10.639h3.9l.481-1.637h-3.8l1.444-4.092h-1.497l-2.7 4.092-3.225.433v1.2zm-2.7-.578c.289-1.059-.385-1.637-.963-1.637-2.263 0-4.958 2.07-6.066 4.91h.729a5.577 5.577 0 013.177-2.407l-4.331 11.314a1.12 1.12 0 00.915 1.637c2.166 0 4.67-2.07 5.777-4.91h-.722a5.577 5.577 0 01-3.177 2.407zm.433-4.477a1.781 1.781 0 000-3.562 1.777 1.777 0 00-1.781 1.781 1.809 1.809 0 001.781 1.781m-13.905 15.79L59.5 33.361l-.241-.289-4.959.578v.578l.963.722c.867.674.578 1.3-.193 3.418L49.584 53a1.314 1.314 0 001.155 1.926c2.263 0 4.67-2.07 5.777-4.91h-.722a6.542 6.542 0 01-3.466 2.407M37.645 50.5c0-3.514 3.9-8.232 6.066-8.232a4.153 4.153 0 011.348.193L42.8 48.525c-1.3 1.589-3.322 3.514-4.236 3.514-.578 0-.915-.481-.915-1.54m11.939-11.65l-1.2-.1-1.355 1.351h-.241c-5.729 0-11.842 7.125-11.842 12.709a1.962 1.962 0 002.118 2.166c1.685 0 3.322-2.407 5.151-4.958l-.1.915c-.241 2.6.578 4.044 1.926 4.044 1.589 0 3.033-2.455 4.14-4.91h-.722c-.77 1.107-1.492 1.781-2.07 1.781s-1.011-1.059 0-3.37zM21.807 57.72c0-1.492 1.444-2.455 3.514-3.274A21.541 21.541 0 0028.4 55.6c2.166.722 2.985 1.011 2.985 1.637 0 1.4-1.974 2.455-5.584 2.455-2.7 0-4-.578-4-1.974m5.921-9.195c-.963 0-1.3-.818-1.3-1.685 0-2.792 1.348-6.258 3.514-6.258.963 0 1.3.818 1.3 1.685-.048 2.84-1.4 6.258-3.514 6.258m6.114 7.8c0-1.829-1.637-2.455-4.284-3.274-2.263-.674-3.274-.867-3.274-1.637a2.387 2.387 0 011.444-1.829 6.606 6.606 0 006.114-6.5 4.538 4.538 0 00-.241-1.444h2.551L36.635 40H32.3a3.769 3.769 0 00-2.118-.578 6.575 6.575 0 00-6.451 6.5 3.331 3.331 0 002.937 3.562c-1.829.867-2.888 1.781-2.888 2.937a1.692 1.692 0 00.818 1.54c-4.236 1.252-5.969 2.792-5.969 4.67 0 1.974 2.6 2.792 5.632 2.792 5.247.048 9.58-2.744 9.58-5.1M14.3 44.818c1.877 0 1.926.818 1.637 2.888h1.059l2.5-6.836h-1.058c-.915 1.637-1.685 2.888-3.707 2.888h-4.14l2.022-5.632c.722-2.022 1.059-2.407 3.659-2.407H18.1c2.648 0 2.937.722 2.937 3.514H22.1l.867-4.67H7.269l-.289.867c3.033.626 3.322.915 1.926 4.814L5.777 48.67c-1.444 3.9-2.022 4.188-5.536 4.814L0 54.4h17.427l3.129-4.958h-1.2c-2.022 1.974-4.044 3.8-7.991 3.8-4.621 0-4.236-.241-2.7-4.525l1.444-3.851H14.3zm2.26-11.746l4.477-3.225v-.578h-2.984L15.4 33.12h1.16zM83.234 8.569c1.059 0 1.974.818 1.492 2.648l-4.862 1.3c.77-2.263 2.214-3.947 3.37-3.947m2.7 7.847h-.963c-1.2 1.444-2.551 2.6-3.851 2.6-1.348 0-2.022-.818-2.022-2.6a10.665 10.665 0 01.241-2.166l7.847-2.6c1.54-3.659-.337-5.247-2.455-5.247-3.707 0-7.943 6.5-7.943 11.7 0 2.455 1.155 3.755 2.985 3.755 2.118.048 4.333-2.022 6.162-5.44m-1.252-11.7L89.155.626V.048h-2.984l-2.648 4.67zM67.926 8.665h2.6l-4.14 11.361a1.31 1.31 0 001.155 1.926c2.937 0 6.451-2.5 7.8-6.066h-.722a9.4 9.4 0 01-5.1 3.418l3.8-10.639h3.9l.481-1.637h-3.8l1.444-4.092h-1.497l-2.7 4.092-3.225.433v1.2zm-1.348 1.252c.53-1.829.241-3.466-1.155-3.466-1.781 0-2.311 1.2-4.092 4.958V9.291c0-1.492-.481-2.84-1.829-2.84-1.589 0-3.033 2.455-4.14 4.91h.722c.77-1.107 1.492-1.781 2.022-1.781.674 0 1.059 1.059 0 3.37l-3.081 6.836c-.578 1.3.048 2.118 1.3 2.118a1.3 1.3 0 001.444-1.011L60.8 12.9c.867-1.059 1.637-1.974 2.6-2.985h3.177zM49.825 8.569c1.059 0 1.974.818 1.492 2.648l-4.862 1.3c.818-2.263 2.214-3.947 3.37-3.947m2.7 7.847h-.963c-1.2 1.444-2.551 2.6-3.851 2.6-1.348 0-2.022-.818-2.022-2.6a10.665 10.665 0 01.241-2.166l7.847-2.6c1.54-3.659-.289-5.247-2.455-5.247-3.707 0-7.943 6.5-7.943 11.7 0 2.455 1.155 3.755 2.985 3.755 2.118.048 4.333-2.022 6.162-5.44m-18.347 3.174c-.77 0-1.877-.722-1.877-1.348a15.464 15.464 0 01.77-2.166l1.252-3.37c1.348-1.637 3.466-3.37 4.621-3.37.722 0 1.252.433 1.252 1.492.048 3.129-2.888 8.761-6.017 8.761m8.761-9.965c0-2.311-.578-3.177-2.214-3.177-2.022 0-3.9 2.166-5.777 4.766L38.993.385l-.24-.337-4.959.578V1.2l.963.722c.867.674.578 1.348-.193 3.418l-4.38 11.46a13.883 13.883 0 00-.818 2.407c0 1.348 1.829 2.648 3.514 2.648 3.755.048 10.061-6.884 10.061-12.228M28.21 8.088c.289-1.059-.385-1.637-.963-1.637-2.263 0-4.958 2.07-6.066 4.91h.719a5.577 5.577 0 013.177-2.407l-4.329 11.313a1.122 1.122 0 00.963 1.637c2.166 0 4.67-2.07 5.777-4.91h-.722a5.577 5.577 0 01-3.177 2.406zm.481-4.525a1.809 1.809 0 001.781-1.781A1.809 1.809 0 0028.691 0a1.777 1.777 0 00-1.781 1.781 1.747 1.747 0 001.781 1.781M17.619 1.444H7.269l-.289.867c3.033.626 3.322.915 1.926 4.814l-3.129 8.521c-1.444 3.9-2.022 4.188-5.488 4.814L0 21.326h15.742l3.418-6.066h-1.2c-1.974 2.166-4.188 4.91-7.7 4.91-2.648 0-3.033-.481-1.54-4.525l3.081-8.473c1.444-3.9 2.022-4.188 5.536-4.814z'/%3E%3C/svg%3E");
    }
  }
}
[data-theme="light"] {
  .rf-logo__inverted {
    &::after {
      --data-uri-svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='126' height='88'%3E%3Cpath fill='%23fff' d='M119.147 74.617c1.059 0 1.974.818 1.492 2.7l-4.862 1.3c.77-2.311 2.214-4 3.37-4m2.7 7.895h-.963c-1.2 1.444-2.551 2.6-3.851 2.6-1.348 0-2.022-.818-2.022-2.6a10.665 10.665 0 01.241-2.166l7.847-2.6c1.54-3.659-.289-5.247-2.455-5.247-3.707 0-7.943 6.5-7.943 11.7 0 2.455 1.155 3.8 2.985 3.8 2.118-.048 4.333-2.118 6.162-5.488m-1.252-11.746l4.477-4.092V66.1h-2.985l-2.648 4.67zm-16.753 3.947h2.6L102.3 86.074A1.31 1.31 0 00103.453 88c2.937 0 6.451-2.5 7.8-6.066h-.722a9.4 9.4 0 01-5.1 3.418l3.8-10.639h3.9l.481-1.637h-3.8l1.444-4.092h-1.492l-2.7 4.092-3.225.433zm-2.7-.53a1.138 1.138 0 00-.915-1.637c-2.263 0-4.958 2.022-6.066 4.91h.722a5.577 5.577 0 013.177-2.407l-4.332 11.315A1.12 1.12 0 0094.643 88c2.166 0 4.67-2.07 5.777-4.91h-.77a5.577 5.577 0 01-3.177 2.41zm.433-4.525a1.777 1.777 0 001.781-1.781 1.809 1.809 0 00-1.781-1.781 1.777 1.777 0 00-1.781 1.781 1.809 1.809 0 001.781 1.781m-21.038 6.019c.674 0 1.059 1.059 0 3.37l-3.081 6.836c-.578 1.3.048 2.118 1.3 2.118a1.3 1.3 0 001.443-1.011L83.234 79c1.4-1.685 4-3.514 5.1-3.514.818 0 .722.674.193 1.685l-4.621 8.906A1.314 1.314 0 0085.063 88c2.263 0 4.958-2.022 6.066-4.91h-.722a5.577 5.577 0 01-3.177 2.41l4-8.039a6.113 6.113 0 00.77-2.748 1.962 1.962 0 00-2.118-2.166c-1.974 0-3.659 2.214-6.018 4.958v-2.118c0-1.492-.481-2.84-1.829-2.84-1.589 0-3.033 2.455-4.14 4.91h.722c.674-1.155 1.348-1.781 1.926-1.781m-3.129.289c.53-1.829.241-3.466-1.155-3.466-1.781 0-2.311 1.2-4.092 4.958v-2.118c0-1.492-.481-2.84-1.829-2.84-1.589 0-3.033 2.455-4.14 4.91h.722c.77-1.107 1.492-1.781 2.07-1.781.674 0 1.059 1.059 0 3.37l-3.09 6.836c-.578 1.3.048 2.118 1.3 2.118a1.3 1.3 0 001.444-1.011l3.036-7.991c.867-1.059 1.637-1.974 2.6-2.985zM60.7 74.617c1.059 0 1.974.818 1.492 2.7l-4.862 1.3c.77-2.311 2.214-4 3.37-4m2.7 7.895h-.963c-1.2 1.444-2.551 2.6-3.851 2.6-1.348 0-2.022-.818-2.022-2.6a10.665 10.665 0 01.241-2.166l7.847-2.6c1.54-3.659-.289-5.247-2.455-5.247-3.707 0-7.943 6.5-7.943 11.7 0 2.455 1.155 3.8 2.985 3.8 2.118-.048 4.333-2.118 6.162-5.488m-18-7.8H48l-4.14 11.361A1.31 1.31 0 0045.011 88c2.937 0 6.451-2.5 7.8-6.066h-.722a9.4 9.4 0 01-5.1 3.418l3.8-10.639h3.9l.481-1.637h-3.8l1.444-4.092h-1.497l-2.7 4.092-3.217.434v1.2zm-13.768 8.81c0-3.514 3.9-8.232 6.066-8.232a3.969 3.969 0 011.348.193l-2.263 6.066c-1.3 1.589-3.322 3.514-4.284 3.514-.53 0-.867-.481-.867-1.54m11.939-11.65l-1.2-.1-1.348 1.348h-.241c-5.729 0-11.842 7.125-11.842 12.709A1.962 1.962 0 0031.05 88c1.685 0 3.322-2.407 5.151-4.958l-.1.915c-.241 2.6.578 4.044 1.926 4.044 1.589 0 3.033-2.455 4.14-4.91h-.722c-.77 1.107-1.492 1.781-2.07 1.781s-1.011-1.059 0-3.37zm-12.233 4.093c.53-1.829.241-3.466-1.155-3.466-1.781 0-2.311 1.2-4.092 4.958v-2.118c0-1.492-.481-2.84-1.829-2.84-1.589 0-3.033 2.455-4.14 4.91h.722c.77-1.107 1.492-1.781 2.022-1.781.674 0 1.059 1.059 0 3.37l-3.081 6.884c-.578 1.3.048 2.118 1.3 2.118a1.3 1.3 0 001.444-1.011L25.562 79c.867-1.059 1.637-1.974 2.6-2.985h3.177zM11.217 87.422l.289-.867c-3.8-.722-4.284-.722-2.744-4.814l1.4-3.851h3.028c1.877 0 1.877.818 1.637 2.888h1.059l2.5-6.836H17.33c-.915 1.637-1.685 2.888-3.707 2.888h-3.032l2.07-5.632c.722-2.022 1.059-2.407 3.659-2.407h.674c2.648 0 2.937.722 2.937 3.514h1.059l.867-4.67H7.269l-.289.865c3.033.626 3.322.915 1.926 4.814l-3.129 8.38c-1.444 3.9-2.022 4.188-5.488 4.814L0 87.422zM83.764 41.593c1.059 0 1.974.818 1.492 2.648l-4.862 1.3c.818-2.263 2.263-3.947 3.37-3.947m2.7 7.847H85.5c-1.2 1.444-2.551 2.6-3.851 2.6-1.348 0-2.022-.818-2.022-2.6a10.665 10.665 0 01.241-2.166l7.895-2.6c1.54-3.659-.337-5.247-2.455-5.247-3.707 0-7.943 6.5-7.943 11.7 0 2.455 1.155 3.8 2.985 3.8 2.118 0 4.333-2.07 6.114-5.488m-1.252-11.7l4.477-4.092v-.578H86.7l-2.648 4.67zM68.5 41.689h2.6L66.963 53.05a1.31 1.31 0 001.155 1.926c2.937 0 6.451-2.5 7.8-6.066h-.722a9.4 9.4 0 01-5.1 3.418l3.8-10.639h3.9l.481-1.637h-3.8l1.444-4.092h-1.497l-2.7 4.092-3.225.433v1.2zm-2.7-.578c.289-1.059-.385-1.637-.963-1.637-2.263 0-4.958 2.07-6.066 4.91h.729a5.577 5.577 0 013.177-2.407l-4.331 11.314a1.12 1.12 0 00.915 1.637c2.166 0 4.67-2.07 5.777-4.91h-.722a5.577 5.577 0 01-3.177 2.407zm.433-4.477a1.781 1.781 0 000-3.562 1.777 1.777 0 00-1.781 1.781 1.809 1.809 0 001.781 1.781m-13.905 15.79L59.5 33.361l-.241-.289-4.959.578v.578l.963.722c.867.674.578 1.3-.193 3.418L49.584 53a1.314 1.314 0 001.155 1.926c2.263 0 4.67-2.07 5.777-4.91h-.722a6.542 6.542 0 01-3.466 2.407M37.645 50.5c0-3.514 3.9-8.232 6.066-8.232a4.153 4.153 0 011.348.193L42.8 48.525c-1.3 1.589-3.322 3.514-4.236 3.514-.578 0-.915-.481-.915-1.54m11.939-11.65l-1.2-.1-1.355 1.351h-.241c-5.729 0-11.842 7.125-11.842 12.709a1.962 1.962 0 002.118 2.166c1.685 0 3.322-2.407 5.151-4.958l-.1.915c-.241 2.6.578 4.044 1.926 4.044 1.589 0 3.033-2.455 4.14-4.91h-.722c-.77 1.107-1.492 1.781-2.07 1.781s-1.011-1.059 0-3.37zM21.807 57.72c0-1.492 1.444-2.455 3.514-3.274A21.541 21.541 0 0028.4 55.6c2.166.722 2.985 1.011 2.985 1.637 0 1.4-1.974 2.455-5.584 2.455-2.7 0-4-.578-4-1.974m5.921-9.195c-.963 0-1.3-.818-1.3-1.685 0-2.792 1.348-6.258 3.514-6.258.963 0 1.3.818 1.3 1.685-.048 2.84-1.4 6.258-3.514 6.258m6.114 7.8c0-1.829-1.637-2.455-4.284-3.274-2.263-.674-3.274-.867-3.274-1.637a2.387 2.387 0 011.444-1.829 6.606 6.606 0 006.114-6.5 4.538 4.538 0 00-.241-1.444h2.551L36.635 40H32.3a3.769 3.769 0 00-2.118-.578 6.575 6.575 0 00-6.451 6.5 3.331 3.331 0 002.937 3.562c-1.829.867-2.888 1.781-2.888 2.937a1.692 1.692 0 00.818 1.54c-4.236 1.252-5.969 2.792-5.969 4.67 0 1.974 2.6 2.792 5.632 2.792 5.247.048 9.58-2.744 9.58-5.1M14.3 44.818c1.877 0 1.926.818 1.637 2.888h1.059l2.5-6.836h-1.058c-.915 1.637-1.685 2.888-3.707 2.888h-4.14l2.022-5.632c.722-2.022 1.059-2.407 3.659-2.407H18.1c2.648 0 2.937.722 2.937 3.514H22.1l.867-4.67H7.269l-.289.867c3.033.626 3.322.915 1.926 4.814L5.777 48.67c-1.444 3.9-2.022 4.188-5.536 4.814L0 54.4h17.427l3.129-4.958h-1.2c-2.022 1.974-4.044 3.8-7.991 3.8-4.621 0-4.236-.241-2.7-4.525l1.444-3.851H14.3zm2.26-11.746l4.477-3.225v-.578h-2.984L15.4 33.12h1.16zM83.234 8.569c1.059 0 1.974.818 1.492 2.648l-4.862 1.3c.77-2.263 2.214-3.947 3.37-3.947m2.7 7.847h-.963c-1.2 1.444-2.551 2.6-3.851 2.6-1.348 0-2.022-.818-2.022-2.6a10.665 10.665 0 01.241-2.166l7.847-2.6c1.54-3.659-.337-5.247-2.455-5.247-3.707 0-7.943 6.5-7.943 11.7 0 2.455 1.155 3.755 2.985 3.755 2.118.048 4.333-2.022 6.162-5.44m-1.252-11.7L89.155.626V.048h-2.984l-2.648 4.67zM67.926 8.665h2.6l-4.14 11.361a1.31 1.31 0 001.155 1.926c2.937 0 6.451-2.5 7.8-6.066h-.722a9.4 9.4 0 01-5.1 3.418l3.8-10.639h3.9l.481-1.637h-3.8l1.444-4.092h-1.497l-2.7 4.092-3.225.433v1.2zm-1.348 1.252c.53-1.829.241-3.466-1.155-3.466-1.781 0-2.311 1.2-4.092 4.958V9.291c0-1.492-.481-2.84-1.829-2.84-1.589 0-3.033 2.455-4.14 4.91h.722c.77-1.107 1.492-1.781 2.022-1.781.674 0 1.059 1.059 0 3.37l-3.081 6.836c-.578 1.3.048 2.118 1.3 2.118a1.3 1.3 0 001.444-1.011L60.8 12.9c.867-1.059 1.637-1.974 2.6-2.985h3.177zM49.825 8.569c1.059 0 1.974.818 1.492 2.648l-4.862 1.3c.818-2.263 2.214-3.947 3.37-3.947m2.7 7.847h-.963c-1.2 1.444-2.551 2.6-3.851 2.6-1.348 0-2.022-.818-2.022-2.6a10.665 10.665 0 01.241-2.166l7.847-2.6c1.54-3.659-.289-5.247-2.455-5.247-3.707 0-7.943 6.5-7.943 11.7 0 2.455 1.155 3.755 2.985 3.755 2.118.048 4.333-2.022 6.162-5.44m-18.347 3.174c-.77 0-1.877-.722-1.877-1.348a15.464 15.464 0 01.77-2.166l1.252-3.37c1.348-1.637 3.466-3.37 4.621-3.37.722 0 1.252.433 1.252 1.492.048 3.129-2.888 8.761-6.017 8.761m8.761-9.965c0-2.311-.578-3.177-2.214-3.177-2.022 0-3.9 2.166-5.777 4.766L38.993.385l-.24-.337-4.959.578V1.2l.963.722c.867.674.578 1.348-.193 3.418l-4.38 11.46a13.883 13.883 0 00-.818 2.407c0 1.348 1.829 2.648 3.514 2.648 3.755.048 10.061-6.884 10.061-12.228M28.21 8.088c.289-1.059-.385-1.637-.963-1.637-2.263 0-4.958 2.07-6.066 4.91h.719a5.577 5.577 0 013.177-2.407l-4.329 11.313a1.122 1.122 0 00.963 1.637c2.166 0 4.67-2.07 5.777-4.91h-.722a5.577 5.577 0 01-3.177 2.406zm.481-4.525a1.809 1.809 0 001.781-1.781A1.809 1.809 0 0028.691 0a1.777 1.777 0 00-1.781 1.781 1.747 1.747 0 001.781 1.781M17.619 1.444H7.269l-.289.867c3.033.626 3.322.915 1.926 4.814l-3.129 8.521c-1.444 3.9-2.022 4.188-5.488 4.814L0 21.326h15.742l3.418-6.066h-1.2c-1.974 2.166-4.188 4.91-7.7 4.91-2.648 0-3.033-.481-1.54-4.525l3.081-8.473c1.444-3.9 2.022-4.188 5.536-4.814z'/%3E%3C/svg%3E");
    }
  }
}
