@import 'variables';

button {
  &.mat-raised-button,
  &.mat-flat-button,
  &.mat-stroked-button {
    min-width: 164px;
    line-height: 40px;

    &:not([disabled]) {
      border-color: inherit;
    }

    &.large {
      line-height: 60px;
    }
  }

  &.color-punch:not([disabled]) {
    &.mat-flat-button {
      background: $color-punch;
      color: $white;
    }

    &.mat-stroked-button {
      color: $color-punch;
    }
  }
}
