@use '~@angular/material' as mat;
@import 'variables';

@include mat.core();

$carpooling-primary: mat.define-palette($mat-primary-blue);
$carpooling-accent: mat.define-palette($mat-secondary-blue);
$carpooling-warn: mat.define-palette($mat-error);

$carpooling-theme: mat.define-light-theme($carpooling-primary, $carpooling-accent, $carpooling-warn);

@include mat.all-component-themes($carpooling-theme);
