@import '~src/styles/variables';

.api-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &-documentationCard {
    width: 400px;
    height: 100%;
    text-align: center;
    padding: 20px;
    background: $color-background-help;
    border: 2px solid $color-border-help;
    border-radius: 5px;

    &-icon {
      height: 80px;

      .mat-icon {
        height: 100%;
        width: 100%;
      }
    }

    &-title {
      font-weight: 600;
      margin: 20px 0 10px 0;
    }

    &-link {
      margin-top: 20px;
      cursor: pointer;
    }
  }
}
