<form (ngSubmit)="onSubmit()">
  <div class="p-grid ui-fluid" [formGroup]="signinForm">
    <div class="p-col-12">
      <input type="email"
             pInputText
             formControlName="email"
             placeholder="Email"
             appAutofocus>
      <p-message
          severity="error"
          [text]="signinForm.controls['email'].errors['pattern'] ? 'L\'email est invalide.' : ''"
          *ngIf="!signinForm.controls['email'].valid&&submitted&&signinForm.controls['email'].value">
      </p-message>
    </div>
    <div class="p-col-12">
      <input type="password" pInputText formControlName="password" placeholder="Mot de passe">
    </div>
  </div>
  <p>
    <p-button (onClick)="onSubmit" label="Connexion"></p-button>
  </p>
</form>
