@import '../../../../styles/variables';

.MenuCard {
  padding: 20px;
  background: $color-background-help;
  border: 2px solid $color-border-help;
  border-radius: 5px;
  display: flex;

  &-icon {
    max-width: 80px;
    max-height: 80px;
    margin-right: 40px;

    .mat-icon {
      height: 100%;
      width: 100%;
    }
  }

  &-content {
    margin-right: 20px;
  }

  &-title {
    margin: 0 0 10px 0;
    color: $color-primary;
  }

  &-hint {
    font-size: $font-size-paragraph;
    margin-bottom: 20px;
  }
}
