<div class="p-grid p-justify-center" *ngIf="data">
  <div class="p-col-12 p-sm-8 p-md-6">
    <div class="p-grid p-justify-center">
      <div class="p-col-12 p-xl-6" *ngFor="let detailsData of data">
        <p-card [style]="{ 'padding': '2em'}" >
          <div class="titleContainer">
            <h4>{{detailsData.title}}</h4>
            <p-selectButton *ngIf="detailsData.cumul" [options]="types"
                            [(ngModel)]="accumulate[detailsData.name]"></p-selectButton>
          </div>
          <p-chart *ngIf="!accumulate[detailsData.name]" [type]="detailsData.type" [data]="detailsData"
                   [options]="detailsData.options"></p-chart>
          <p-chart *ngIf="accumulate[detailsData.name]" [type]="detailsData.type"
                   [data]="accumulatedData[detailsData.name]" [options]="detailsData.options"></p-chart>
        </p-card>
      </div>
    </div>
  </div>
</div>
