@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spinner {
  animation: rotating 1s linear infinite;
}

.carpool-wrapper {
  display: flex;
  align-items: flex-end;
  > .rf-input-group,
  > h5 {
    flex: 2 0;
    margin: 0;
  }
  > h5 {
    flex: 1 0;
    padding-bottom: 0.7em;
  }
}
