<form [formGroup]="parentForm">
  <mat-form-field class="street" appearance="outline">
    <mat-label>N° et rue *</mat-label>
    <input matInput formControlName="street" />
    <mat-error *ngIf="parentForm.controls.street.hasError('required')">L'addresse est obligatoire.</mat-error>
  </mat-form-field>
  <mat-form-field class="postcode" appearance="outline">
    <mat-label>Code postal *</mat-label>
    <input matInput formControlName="postcode" />
    <mat-error *ngIf="parentForm.controls.postcode.hasError('required')">Le code postal est obligatoire.</mat-error>
  </mat-form-field>
  <mat-form-field class="cedex" appearance="outline">
    <mat-label>Cedex</mat-label>
    <input matInput formControlName="cedex" />
    <mat-error *ngIf="parentForm.controls.cedex.hasError('pattern')">Le format n'est pas valide.</mat-error>
  </mat-form-field>
  <mat-form-field class="city" appearance="outline">
    <mat-label>Ville *</mat-label>
    <input matInput formControlName="city" />
    <mat-error *ngIf="parentForm.controls.city.hasError('required')">La ville est obligatoire.</mat-error>
  </mat-form-field>
  <mat-form-field class="country" appearance="outline">
    <mat-label>Pays *</mat-label>
    <input matInput formControlName="country" />
    <mat-error *ngIf="parentForm.controls.country.hasError('required')">Le pays est obligatoire.</mat-error>
  </mat-form-field>
</form>
