<form [formGroup]="parentForm">
  <mat-form-field class="street" appearance="outline">
    <mat-label>N° et rue</mat-label>
    <input matInput formControlName="street" required />
  </mat-form-field>
  <mat-form-field class="postcode" appearance="outline">
    <mat-label>Code postal</mat-label>
    <input matInput formControlName="postcode" required />
  </mat-form-field>
  <mat-form-field class="cedex" appearance="outline">
    <mat-label>Cedex</mat-label>
    <input matInput formControlName="cedex" />
  </mat-form-field>
  <mat-form-field class="city" appearance="outline">
    <mat-label>Ville</mat-label>
    <input matInput formControlName="city" required />
  </mat-form-field>
  <mat-form-field class="country" appearance="outline">
    <mat-label>Pays</mat-label>
    <input matInput formControlName="country" required />
  </mat-form-field>
</form>
