form {
  display: flex;
  width: 560px;
  flex-wrap: wrap;
  justify-content: space-between;
  mat-form-field {
    &.street {
      width: 560px;
    }
    &.postcode,
    &.city {
      width: 359px;
    }
    &.cedex,
    &.country {
      width: 190px;
    }
  }
}
