<div class="Footer">
  <div>
    <img src="assets/img/marianne.svg" alt="Logo de la Marianne" />
  </div>
  <div>
    <div class="Footer-title">
      A propos de nous
    </div>
    <ul>
      <li><a target="_blank" href="https://beta.gouv.fr/">Qui sommes-nous</a></li>
      <li>
        <a target="_blank" href="https://registre-preuve-de-covoiturage.gitbook.io/produit/cgu">Mentions légales</a>
      </li>
    </ul>
  </div>
  <div>
    <div class="Footer-title">
      Ressources
    </div>
    <ul>
      <li><a target="_blank" href="https://registre-preuve-de-covoiturage.gitbook.io/produit/">Documentation</a></li>
      <li><a target="_blank" href="https://github.com/betagouv/preuve-covoiturage">Code source</a></li>
    </ul>
  </div>
  <div>
    <div class="Footer-title">
      Contactez-nous
    </div>
    <ul>
      <li><a target="_blank" href="mailto:contact@covoiturage.beta.gouv.fr">Par e-mail</a></li>
    </ul>
  </div>
</div>
