<table mat-table [dataSource]="data" matSort>
  <ng-container matColumnDef="startCity">
    <th mat-header-cell *matHeaderCellDef>De</th>
    <td mat-cell *matCellDef="let row">
      {{ row.start_town }}
    </td>
  </ng-container>

  <ng-container matColumnDef="endCity">
    <th mat-header-cell *matHeaderCellDef>A</th>
    <td mat-cell *matCellDef="let row">
      {{ row.end_town }}
    </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let row">
      {{ row.start_datetime | date: 'd MMMM yyyy' }}
    </td>
  </ng-container>

  <ng-container matColumnDef="campaigns">
    <th mat-header-cell *matHeaderCellDef>Campagnes applicables</th>
    <td mat-cell *matCellDef="let row" [matTooltip]="getCampaignsName(row.campaigns)">
      <span *ngIf="row.campaigns && row.campaigns[0]; else noCampaigns">
        {{ row.campaigns[0].name }}
        <ng-container *ngIf="row.campaigns[1]"> ... &nbsp;<mat-icon color="accent">sms_failed</mat-icon> </ng-container>
      </span>
      <ng-template #noCampaigns>
        <span>-</span>
      </ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="incentives">
    <th mat-header-cell *matHeaderCellDef>Incitation</th>
    <td mat-cell *matCellDef="let row" [matTooltip]="getIncentivesTooltip(row)">
      {{ getTotalIncentives(row) }} {{ getTotalIncentivesUnit(row) }}
    </td>
  </ng-container>

  <ng-container matColumnDef="operator">
    <th mat-header-cell *matHeaderCellDef>Opérateur</th>
    <td mat-cell *matCellDef="let row">
      {{ getOperator(row) }}
    </td>
  </ng-container>

  <ng-container matColumnDef="class">
    <th mat-header-cell *matHeaderCellDef>Classe</th>
    <td mat-cell *matCellDef="let row">
      {{ getTripRank(row) }}
    </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Statut</th>
    <td mat-cell *matCellDef="let row">
      <mat-icon [ngClass]="getIconClass(row.status)">{{ getIconStatus(row.status) }}</mat-icon>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
