table.mat-table {
  .mat-cell {
    & > span {
      display: flex;
      align-items: center;
    }
  }
  .operatorInfoIcon {
    color: lightgrey;
    margin-left: 5px;
  }
}

::ng-deep .mat-tooltip {
  white-space: pre-line;
}
