.mat-error {
  display: block;
  margin: 5px 0 10px;
}

.CertificateForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  &-close {
    margin-left: 20px;
  }
}

.item-actions {
  text-align: right;
}

.FilterTop {
  display: flex;
  h3 {
    flex-grow: 1;
  }
  // max-width: 240px;
  // margin-left: auto;
}

.CertificateEdit {
  margin: 30px 0;
}

.form-group {
  display: flex;
}

form {
  max-width: 656px;
}

.mat-radio-button {
  width: 100%;
  margin: 5px 10px;
}
