<div>
  <div class="FilterTop">
    <h3>Attestations</h3>
    <app-operator-autocomplete [parentForm]="filterForm"></app-operator-autocomplete>
  </div>

  <div class="loading" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>

  <table mat-table matSort [dataSource]="certificates">
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <ng-container matColumnDef="operator">
      <th mat-header-cell *matHeaderCellDef>Opérateur</th>
      <td mat-cell *matCellDef="let row">
        {{ row.operator.name }}
      </td>
    </ng-container>
    <ng-container matColumnDef="uuid">
      <th mat-header-cell *matHeaderCellDef>UUID</th>
      <td mat-cell *matCellDef="let row">
        <a class="link" href="/attestation/{{ row.uuid }}" target="_blank" rel="noopener">{{ row.uuid }}</a>
      </td>
    </ng-container>
    <ng-container matColumnDef="total_km">
      <th mat-header-cell *matHeaderCellDef>Distance total</th>
      <td mat-cell *matCellDef="let row">{{ row.total_km }} km</td>
    </ng-container>
    <ng-container matColumnDef="total_point">
      <th mat-header-cell *matHeaderCellDef>Points</th>
      <td mat-cell *matCellDef="let row">{{ row.total_km }} pts</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row" class="item-actions">
        <button mat-icon-button (click)="download(row, 'pdf')">
          <mat-icon color="primary" matTooltip="Télécharger la version PDF">picture_as_pdf</mat-icon>
        </button>
        <button mat-icon-button (click)="download(row, 'png')">
          <mat-icon color="primary" matTooltip="Télécharger la version image">photo_gallery</mat-icon>
        </button>
      </td>
    </ng-container>
  </table>

  <mat-paginator [length]="length" [pageSize]="pageLength" #paginator></mat-paginator>
</div>

<div class="CertificateEdit">
  <div></div>
  <button mat-flat-button class="large" *ngIf="!showForm" (click)="showCreationForm()" color="primary">
    Créer une attestation
  </button>
  <div *ngIf="showForm">
    <h3>
      Création d'une attestation
    </h3>

    <form class="CertificateForm" [formGroup]="certificateForm" *ngIf="showForm">
      <div *ngIf="!auth.user || !auth.user.operator_id">
        <app-operator-autocomplete [parentForm]="certificateForm"></app-operator-autocomplete>
        <mat-error *ngIf="controls.operator_id.hasError('required')">
          L'opérateur est obligatoire
        </mat-error>
      </div>
      <!-- <div>
        <app-territory-autocomplete [parentForm]="certificateForm"></app-territory-autocomplete>
        <mat-error *ngIf="controls.territory_id.hasError('required')">
          Le territoire est obligatoire
        </mat-error>
      </div> -->

      <div>
        <h3>Plage de temps</h3>
        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Début</mat-label>
            <input matInput [matDatepicker]="start_date" [formControl]="controls.start_date" />
            <mat-datepicker-toggle matSuffix [for]="start_date"></mat-datepicker-toggle>
            <mat-datepicker #start_date></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Fin</mat-label>
            <input matInput [matDatepicker]="end_date" [formControl]="controls.end_date" />
            <mat-datepicker-toggle matSuffix [for]="end_date"></mat-datepicker-toggle>
            <mat-datepicker #end_date></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div>
        <h3>Position de départ</h3>
        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Latitude</mat-label>
            <input matInput type="string" placeholder="00.0000000000" formControlName="start_lat" autocomplete="off" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Longitude</mat-label>
            <input matInput type="string" placeholder="00.0000000000" formControlName="start_lng" autocomplete="off" />
          </mat-form-field>
        </div>
      </div>
      <div>
        <h3>Position d'arrivée</h3>
        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Latitude</mat-label>
            <input matInput type="string" placeholder="00.0000000000" formControlName="end_lat" autocomplete="off" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Longitude</mat-label>
            <input matInput type="string" placeholder="00.0000000000" formControlName="end_lng" autocomplete="off" />
          </mat-form-field>
        </div>
      </div>

      <h3>Identité</h3>

      <div>
        <mat-label>Format</mat-label>
        <div class="form-group">
          <mat-radio-group aria-label="Type de donnée" formControlName="identity_type">
            <mat-radio-button value="phone_number">Numéro de téléphone complet</mat-radio-button>
            <mat-radio-button value="phone_number_trunc">Numéro de téléphone tronqué</mat-radio-button>
            <mat-radio-button value="uuid">Identifiant unique</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div *ngIf="certificateForm.value.identity_type === 'phone_number'">
        <mat-form-field appearance="outline">
          <mat-label>Numéro de téléphone</mat-label>
          <input matInput type="string" placeholder="+33300000000" formControlName="phone_number" autocomplete="off" />

          <mat-error *ngIf="controls.phone_number.hasError('required')">
            Le numéro de téléphone est obligatoire
          </mat-error>
        </mat-form-field>
      </div>

      <div *ngIf="certificateForm.value.identity_type === 'phone_number_trunc'">
        <mat-form-field appearance="outline">
          <mat-label>Numéro de téléphone tronqué</mat-label>
          <input
            matInput
            type="string"
            placeholder="+33300000000"
            formControlName="phone_number_trunc"
            autocomplete="off"
          />

          <mat-error *ngIf="controls.phone_number_trunc.hasError('required')">
            Le numéro de téléphone tronqué est obligatoire
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Id utilisateur opérateur (operator_user_id)</mat-label>
          <input matInput type="number" placeholder="0" formControlName="operator_user_id" autocomplete="off" />

          <mat-error *ngIf="controls.operator_user_id.hasError('required')">
            L'id est obligatoire
          </mat-error>
        </mat-form-field>
      </div>
      <div *ngIf="certificateForm.value.identity_type === 'uuid'">
        <mat-form-field appearance="outline">
          <mat-label>Identifiant unique</mat-label>
          <input
            matInput
            type="string"
            placeholder="XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXX"
            formControlName="identity_uuid"
            autocomplete="off"
          />

          <mat-error *ngIf="controls.identity_uuid.hasError('required')">
            L'identifiant unique est obligatoire
          </mat-error>
        </mat-form-field>
      </div>

      <div class="CertificateForm-action">
        <button
          type="submit"
          mat-flat-button
          class="large"
          color="primary"
          [disabled]="!certificateForm.valid"
          (click)="onCreateCertificate()"
        >
          Créer
        </button>
        <button mat-flat-button class="large" type="button" color="secondary" (click)="onCancelCreateCertificate()">
          Annuler
        </button>
      </div>
    </form>
  </div>
</div>
