<div class="Administration">
  <app-page-header>
    <h1 class="page-title">Attestation de covoiturage</h1>
  </app-page-header>
  <app-page-content>
    <router-outlet></router-outlet>
  </app-page-content>

  <div class="wrapper" *ngIf="isHomeRoute()">
    <div class="description">
      <mat-card>
        <h2>Attention&nbsp;!</h2>
        <p><strong>L'adresse de la page ne contient pas d'identifiant d'attestation.</strong></p>
        <p>
          Veuillez scanner le QR-code en bas à droite l'attestation ou recopier l'identifiant de l'attestation
          directement.
        </p>
        <p><em>Les identifiants sont de la forme 8A9D2DA9-39E3-4DB7-BE8E-12B4D2179FDA</em></p>
      </mat-card>
    </div>
  </div>

  <div class="wrapper">
    <div class="description">
      <h3>Lexique</h3>
      <p>
        <strong>Date d'émission :</strong><br />
        Date à laquelle l'attestation a été générée et les données calculées.
      </p>
      <p>
        <strong>Période</strong><br />
        Période prise en compte pour les calculs.
      </p>
      <p>
        <strong>Points</strong><br />
        Certaines campagnes font gagner des points qui sont cumulés. Les points ne donnent pas lieu à un reste à charge.
      </p>
      <p>
        <strong>Reste à charge</strong><br />
        Les campagnes en <em>euros</em> peuvent donner lieu à des incitations financières. Celles-ci ne peuvent dépasser
        les coûts engagés par la personne. Le reste à charge est la différence entre les coûts engagés et les
        incitations déjà perçues par la personne.
      </p>
      <p>
        <strong>Attestation, personne, opérateur</strong><br />
        Les identifiants uniques de l'attestation, de la personne et de l'opérateur. Ils sont situés en bas à gauche de
        l'attestation.
      </p>
    </div>

    <div class="description">
      <h3>Plus d'informations</h3>

      <p>Retrouvez toutes les informations sur les attestation de covoiturage sur notre documentation :</p>

      <ul>
        <li>
          <a
            href="https://registre-preuve-de-covoiturage.gitbook.io/produit/boite-a-outils/attestations-de-covoiturage"
            target="_blank"
            rel="noopener noreferrer"
            >Accéder à la documentation</a
          >
        </li>
      </ul>
    </div>

    <div class="description">
      <mat-divider></mat-divider>

      <h3>Attestation sur l'honneur de covoiturage</h3>

      <p>
        Cette page de vérification concerne uniquement les attestations délivrées par les opérateurs de covoiturage.
      </p>
      <p>Pour les attestations sur l'honneur, utilisez le générateur approprié&nbsp;:</p>
      <ul>
        <li>
          <a
            href="https://attestation.covoiturage.beta.gouv.fr/salarie-secteur-prive"
            target="_blank"
            rel="noopener noreferrer"
            >Salarié du secteur privé</a
          >
        </li>
        <li>
          <a
            href="https://attestation.covoiturage.beta.gouv.fr/salarie-secteur-public"
            target="_blank"
            rel="noopener noreferrer"
            >Salarié du secteur public</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
