<div class="Administration">
  <app-page-header>
    <h1 class="page-title">Attestation de covoiturage</h1>
  </app-page-header>
  <app-page-content>
    <router-outlet></router-outlet>
  </app-page-content>

  <div class="wrapper">
    <p class="center-align">
      <a
        mat-stroked-button
        href="https://registre-preuve-de-covoiturage.gitbook.io/produit/boite-a-outils/attestations-de-covoiturage"
        target="_blank"
        rel="noopener noreferrer"
        color="primary"
        >Accéder à la documentation</a
      >
    </p>
  </div>
</div>
