<mat-form-field [formGroup]="parentForm" class="operators" appearance="outline">
  <mat-label>Opérateurs</mat-label>
  <mat-chip-list #chipList>
    <mat-chip
      *ngFor="let operatorId of this.operatorIdsControl.value"
      [selectable]="true"
      [removable]="true"
      (removed)="remove(operatorId)"
    >
      {{ getOperatorLabel(operatorId) }}
      <mat-icon matChipRemove>remove</mat-icon>
    </mat-chip>
    <input
      matInput
      placeholder="+ ajouter"
      aria-label="Ajouter un opérateur"
      #operatorInput
      [formControl]="operatorCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputAddOnBlur]="false"
    />
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOperatorSelect($event)">
    <mat-option *ngFor="let operator of filteredOperators" [value]="operator._id">
      {{ operator.name }}
    </mat-option>
  </mat-autocomplete>
  <mat-error *ngIf="this.operatorIdsControl.hasError('required')">
    Vous devez sélectionner au moins un opérateur.
  </mat-error>
</mat-form-field>
