<form class="user-form" (submit)="onSubmitForm($event)" (reset)="onResetForm()" [formGroup]="form"
  data-test="user-upsert">
  <div class="group">
    <!-- First name -->
    <mat-form-field *ngIf="isShown('firstname')" appearance="outline" required>
      <mat-label>Prénom</mat-label>
      <input matInput formControlName="firstname" required />
      <mat-error *ngIf="form.get('firstname').hasError('required')">Le prénom est requis.</mat-error>
    </mat-form-field>

    <!-- Last name -->
    <mat-form-field *ngIf="isShown('lastname')" appearance="outline">
      <mat-label>Nom</mat-label>
      <input matInput formControlName="lastname" required />
      <mat-error *ngIf="form.get('lastname').hasError('required')">Le nom est requis.</mat-error>
    </mat-form-field>
  </div>

  <!-- Email -->
  <mat-form-field *ngIf="isShown('email')" appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" required />
    <mat-error *ngIf="form.get('email').hasError('required')">L'email est requis.</mat-error>
    <mat-error *ngIf="form.get('email').hasError('pattern')">L'email est invalide.</mat-error>
  </mat-form-field>

  <!-- Phone number -->
  <mat-form-field *ngIf="isShown('phone')" appearance="outline">
    <mat-label>Numéro de téléphone</mat-label>
    <input matInput formControlName="phone" />
    <mat-error *ngIf="form.get('phone').hasError('pattern')">Le numéro de téléphone est invalide.</mat-error>
  </mat-form-field>

  <!-- Group -->
  <mat-radio-group *ngIf="currentUserIsRegistry && isShown('group')" formControlName="group">
    <mat-label>Groupe</mat-label>
    <mat-radio-button value="registry">Registre</mat-radio-button>
    <mat-radio-button value="operators">Opérateur</mat-radio-button>
    <mat-radio-button value="territories" checked>Territoire</mat-radio-button>
  </mat-radio-group>

  <!-- Role -->
  <mat-radio-group *ngIf="isShown('role')" formControlName="role">
    <mat-label>Rôle</mat-label>
    <mat-radio-button value="admin">Administration</mat-radio-button>
    <mat-radio-button value="user" checked>Consultation</mat-radio-button>
    <mat-radio-button value="demo" *ngIf="groupIs('territories')">Découverte</mat-radio-button>
  </mat-radio-group>

  <!-- territory_id -->
  <app-autocomplete *ngIf="currentUserIsRegistry && isShown('territory_id') && groupIs('territories')"
    formControlName="territory_id" label="Territoires" [items$]="territories$">
    <mat-error *ngIf="form.hasError('territory_id') && form.get('territory_id').touched">
      Le territoire est requis
    </mat-error>
  </app-autocomplete>

  <!-- operator_id -->
  <app-autocomplete *ngIf="currentUserIsRegistry && isShown('operator_id') && groupIs('operators')"
    formControlName="operator_id" label="Opérateurs" [items$]="operators$">
    <mat-error *ngIf="form.hasError('operator_id') && form.get('operator_id').touched">
      L'opérateur est requis
    </mat-error>
  </app-autocomplete>

  <div class="actions">
    <button type="reset" mat-flat-button data-test="button-reset">Annuler</button>
    <button type="submit" mat-flat-button color="primary" [disabled]="form.invalid" data-test="button-submit">
      Enregistrer
    </button>
  </div>

  <div class="hint">
    <p *ngIf="groupIs('registry') && roleIs('admin')">
      Un super administrateur a tous les droits, gestion des utilisateurs, création de campagnes, création d'opérateurs
      et de territoires, etc.
    </p>
    <p *ngIf="groupIs('territories') && roleIs('admin')">
      Un administrateur a tous les droits, gestion des utilisateurs, création de campagnes, etc.
    </p>
    <p *ngIf="groupIs('operators') && roleIs('admin')">
      Un administrateur a tous les droits, gestion des utilisateurs, création de token applicatif, etc.
    </p>
    <p *ngIf="roleIs('user')">Un compte 'Consultation' permet d'accéder aux données en lecture, etc.</p>
    <p *ngIf="roleIs('demo')">
      Un compte 'Découverte' permet aux territoires de créer et simuler des campagnes sur les données de leur
      territoire. Un administrateur sera requis pour le lancement de la campagne
    </p>
  </div>
</form>
