@import 'variables';

.user-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 32em;
  .group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 -0.2rem;
    .mat-form-field {
      display: flex;
      flex-grow: 1;
      margin: 0 0.2rem;
      @at-root ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
        width: 100%;
      }
    }
  }
}

.mat-radio-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1em;
  mat-label {
    min-width: 4em;
    padding: 0 0.2em;
    line-height: 2.2em;
  }
  .mat-radio-button {
    line-height: 2.2em;
    padding: 0 0.2em;
  }
}

.hint {
  margin: 2em 0;
  padding: 1em;
  border-radius: 5px;
  border: 1px solid darken($color: $background-blue, $amount: 10);
  background-color: darken($color: $background-blue, $amount: 5);
  > p {
    margin: 0;
    font-size: 0.8rem;
  }
}

.actions {
  text-align: right;
  button {
    margin: 0 0.5em;
  }
}
