.CampaignAdminList {
  &--loading {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
  }
  &-header {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-notfound {
    display: flex;
    justify-content: center;
  }
}
