.loader {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.notfound {
  display: flex;
  justify-content: center;
}
