<div class="CampaignAdminList">
  <app-page-header>
    <h1>Liste des campagnes sur tous les territoires</h1>
  </app-page-header>
  <app-page-content>
    <div class="CampaignAdminList--loading" *ngIf="!campaigns">
      <mat-spinner></mat-spinner>
    </div>

    <div class="CampaignAdminList-header" [hidden]="!campaigns">
      <mat-button-toggle-group [(ngModel)]="selectedStatus" name="userGroup" aria-label="Groupes d'utilisateurs">
        <mat-button-toggle *ngFor="let status of allStatus" [value]="status">{{
          getFrenchStatus(status)
        }}</mat-button-toggle>
      </mat-button-toggle-group>

      <form [formGroup]="searchFilters">
        <mat-form-field appearance="outline">
          <mat-label>Rechercher</mat-label>
          <input matInput placeholder="Nom, description" formControlName="query" autocomplete="off" />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </form>
    </div>

    <h2 *ngIf="campaigns">{{ titles[selectedStatus] }}</h2>

    <div [hidden]="!displayData">
      <app-campaign-table [status]="selectedStatus" [campaigns]="campaignsToShow"></app-campaign-table>
      <mat-paginator [length]="countCampaigns" [pageSize]="PAGE_SIZE" (page)="paginationUpdate()"></mat-paginator>
    </div>

    <div *ngIf="!displayData" class="CampaignsList-notfound">
      <p>{{ noCampaignMessage }}</p>
    </div>
  </app-page-content>
</div>
