::ng-deep {
  .CampaignsList {
    max-height: 430px;
    overflow-y: auto;
    &-notfound {
      text-align: center;
    }
  }
}

.CampaignAdminList {
  &-header {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
