::ng-deep .mat-dialog-container {
  max-width: 500px;
  .mat-dialog-actions {
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 0;
    padding-bottom: 0;
    min-height: auto;

    margin-left: -10px;
    margin-right: -10px;
  }

  .mat-dialog-actions > * {
    margin: 0 10px;
  }
}
