<form class="operatorForm" [formGroup]="operatorForm" *ngIf="showForm">
  <div *ngIf="fullFormMode">
    <h2>Informations générales</h2>

    <mat-form-field class="name" appearance="outline">
      <mat-label>Nom commercial</mat-label>
      <input matInput formControlName="name" required />
      <mat-error *ngIf="operatorForm.controls.name.hasError('required')">Le nom est obligatoire.</mat-error>
    </mat-form-field>
    <mat-form-field class="legal_name" appearance="outline">
      <mat-label>Raison sociale</mat-label>
      <input matInput formControlName="legal_name" required />
      <mat-error *ngIf="operatorForm.controls.legal_name.hasError('required')"
        >La raison sociale est obligatoire.
      </mat-error>
    </mat-form-field>

    <h3>Structure</h3>

    <app-form-company [parentForm]="operatorForm.get('company')"></app-form-company>

    <h3>Adresse</h3>

    <app-form-address [parentForm]="operatorForm.get('address')"></app-form-address>

    <h3>Banque</h3>

    <app-form-bank [parentForm]="operatorForm.get('bank')"></app-form-bank>
  </div>
  <h2>Contacts et responsables</h2>

  <div class="contacts">
    <div>
      <h3>Délégué à la protection des données</h3>

      <app-form-contact [parentForm]="operatorForm.get('contacts').get('gdpr_dpo')"></app-form-contact>
    </div>

    <div>
      <h3>Responsable du traitement</h3>

      <app-form-contact [parentForm]="operatorForm.get('contacts').get('gdpr_controller')"></app-form-contact>
    </div>

    <div>
      <h3>Responsable technique</h3>

      <app-form-contact [parentForm]="operatorForm.get('contacts').get('technical')"></app-form-contact>
    </div>
  </div>

  <div>
    <button
      *ngIf="authService.hasAnyPermission(['operator.update']) && !isCreating"
      type="submit"
      mat-flat-button
      class="large"
      (click)="onSubmit()"
      [disabled]="!operatorForm.valid"
      color="primary"
    >
      Mettre à jour les informations
    </button>
    <button
      *ngIf="isCreating"
      type="submit"
      mat-flat-button
      class="large"
      (click)="onSubmit()"
      [disabled]="!operatorForm.valid"
      color="primary"
    >
      Créer l'opérateur
    </button>
    <button type="button" class="large" (click)="onClose()" mat-flat-button *ngIf="closable">
      Fermer
    </button>
  </div>
</form>
