form {
  display: flex;
  flex-direction: column;
  &--loading {
    display: flex;
    justify-content: space-around;
  }
  mat-form-field {
    &.name,
    &.legal_name {
      width: 558px;
    }
  }
  .contacts {
    display: flex;
    flex-wrap: wrap;
  }
  button {
    &:first-child {
      width: 269px;
      margin-right: 10px;
    }
    &:nth-child(2) {
      width: 150px;
    }
  }
}
