@import 'variables';
@import '~src/app/shared/components/page-header/page-header';

.TripLayout {
  &-content {
    &.filter-triangle:before {
      content: '';
      position: relative;
      top: 4px;
      left: calc(100% - 110px);
      z-index: 0;
      width: 0;
      height: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 20px solid $background-white;
      clear: both;
      @media (min-width: 1400px) {
        left: calc(100% - 110px);
      }
    }
  }
  &-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-filter-button {
      font-weight: 600;
      height: 40px;
    }
  }
}
