<div class="TripLayout">
  <app-page-header>
    <h1 class="page-title">Les trajets</h1>
    <div class="page-menu TripLayout-menu">
      <nav mat-tab-nav-bar>
        <ng-container *ngFor="let link of menu">
          <a
            mat-tab-link
            *ngIf="hasGroupAndRole(link.groups, link.role)"
            [routerLink]="link.path"
            routerLinkActive
            #rla="routerLinkActive"
            [active]="rla.isActive"
          >
            <mat-icon *ngIf="link.label === 'Export'">get_app</mat-icon>
            {{ link.label }}
          </a>
        </ng-container>

        <a
          mat-tab-link
          *ngIf="canExport$ | async"
          routerLink="/trip/export"
          routerLinkActive
          #rla="routerLinkActive"
          [active]="rla.isActive"
        >
          <mat-icon>get_app</mat-icon>
          Export
        </a>
      </nav>

      <!-- filter's toggle button -->
      <button
        *ngIf="pageHasFilters"
        [matBadge]="filtersCount"
        class="TripLayout-menu-filter-button"
        mat-flat-button
        color="primary"
        matBadgeColor="accent"
        (click)="toggleFilterDisplay()"
        (keydown.esc)="toggleFilterDisplay()"
      >
        <mat-icon>{{ showFilters ? 'close' : 'filter_list_rounded' }}</mat-icon>
        {{ showFilters ? 'Cacher les filtres' : 'Affiner les résultats' }}
      </button>
    </div>
  </app-page-header>
  <app-page-content>
    <div class="TripLayout-content">
      <!--  filters' panel component  -->
      <app-filter
        *ngIf="pageHasFilters"
        [(showFilters)]="showFilters"
        (filtersCount)="setFiltersCount($event)"
      ></app-filter>
      <router-outlet></router-outlet>
    </div>
  </app-page-content>
</div>
