<div class="TripLayout">
  <app-page-header>
    <h1 class="page-title">Les trajets</h1>
    <div class="page-menu TripLayout-menu">
      <nav mat-tab-nav-bar>
        <a
        *ngIf="canExport"
        mat-tab-link
        routerLink="/trip/export"
        routerLinkActive
        #rlaExport="routerLinkActive"
        [active]="rlaExport.isActive"
      >
        <mat-icon>get_app</mat-icon>
        Export
      </a>

        <a
          mat-tab-link
          routerLink="/trip/stats"
          routerLinkActive
          #rlaStats="routerLinkActive"
          [active]="rlaStats.isActive"
        >
        <mat-icon>construction</mat-icon>
          Chiffres clés
        </a>
      </nav>
    </div>
  </app-page-header>
  <app-page-content>
    <div class="TripLayout-content">
      <router-outlet></router-outlet>
    </div>
  </app-page-content>
</div>
