<div class="TripLayout">
  <app-page-header>
    <h1 class="page-title">Les trajets</h1>
    <div class="page-menu TripLayout-menu">
      <nav mat-tab-nav-bar>
        <a
          mat-tab-link
          routerLink="/trip/stats"
          routerLinkActive
          #rlaStats="routerLinkActive"
          [active]="rlaStats.isActive"
        >
          Chiffres clés
        </a>

        <a
          mat-tab-link
          routerLink="/trip/list"
          routerLinkActive
          #rlaList="routerLinkActive"
          [active]="rlaList.isActive"
        >
          Liste détaillée
        </a>

        <a
          *ngIf="canExport"
          mat-tab-link
          routerLink="/trip/export"
          routerLinkActive
          #rlaExport="routerLinkActive"
          [active]="rlaExport.isActive"
        >
          <mat-icon>get_app</mat-icon>
          Export
        </a>
      </nav>

      <!-- filter's toggle button -->
      <button
        *ngIf="pageHasFilters"
        [matBadge]="filtersCount"
        class="TripLayout-menu-filter-button"
        mat-flat-button
        color="primary"
        matBadgeColor="accent"
        (click)="toggleFilterDisplay()"
        (keydown.esc)="toggleFilterDisplay()"
      >
        <mat-icon>{{ showFilters ? 'close' : 'filter_list_rounded' }}</mat-icon>
        {{ showFilters ? 'Cacher les filtres' : 'Affiner les résultats' }}
      </button>
    </div>
  </app-page-header>
  <app-page-content>
    <div class="TripLayout-content">
      <!--  filters' panel component  -->
      <app-filter
        *ngIf="pageHasFilters"
        [(showFilters)]="showFilters"
        (filtersCount)="setFiltersCount($event)"
      ></app-filter>
      <router-outlet></router-outlet>
    </div>
  </app-page-content>
</div>
