@import '../../../../../../styles/variables';

.SummaryForm {
  &-summary {
    padding: 10px;
    background-color: #e3e3e3;
    border-radius: 5px;

    h3 {
      font-size: $font-size-paragraph;
      color: rgba(171, 171, 171, 0.842165);
      font-weight: 600;
      margin-left: 35px;
    }

    &-text {
      margin-left: 35px;
    }

    &-actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 20px 35px 0 0;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    mat-form-field {
      width: 500px;
      margin-right: 20px;
    }
  }

  &-template {
    display: inline-flex;
    align-items: center;

    mat-icon {
      margin-left: 10px;
    }
  }

  &-actions {
    > button:not(:first-child) {
      margin-left: 20px;
    }
  }
}
