@import '../../../../../styles/variables';

.Login {
  max-width: 400px;
  margin: auto;
  display: flex;
  align-items: center;
  background: $background-white;
  padding: 20px;
  border-radius: 5px;

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .mat-form-field {
      width: 100%;
    }
  }
}
