@import '~src/styles/variables';

.page {
  &-header {
    background: $background-white;
    padding: 10px 5% 0 5%;
  }

  &-title {
    padding-bottom: 10px;
  }

  &-menu {
    .mat-tab-nav-bar {
      border-bottom: none;
    }
  }

  &-content {
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
  }
}
