<div class="stat-numbers">
  <div
    class="stat-number"
    *ngFor="let card of navCards"
    (click)="statClicked(card.name)"
    [class.stat-number-selected]="card.name === selectedStat"
  >
    <div class="stat-number-icon">
      <mat-icon [svgIcon]="card.svgIcon"></mat-icon>
    </div>
    <div class="stat-number-content">
      <div class="stat-number-title">
        <p *ngIf="card.svgIcon === 'carpooling'">{{ card.title | number: '1.2' }}</p>
        <p *ngIf="card.svgIcon !== 'carpooling'">{{ card.title | number }} {{ card.unit }}</p>
      </div>
      <p class="stat-number-hint">
        {{ card.hint }}
      </p>
      <div class="stat-number-link" *ngIf="card.link">
        <a class="link" (click)="statClicked(card.name)">{{ card.link }}</a>
      </div>
    </div>
  </div>
</div>
