@import 'variables';

.page-header {
  &-container {
    width: 100%;
    height: auto;
    background-color: $background-white;
  }
  @media (min-width: $responsive-large) {
    width: $size-large-width;
  }
  @media (max-width: $responsive-large) {
    padding-left: $size-small-padding;
    padding-right: $size-small-padding;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0 0 0;
  margin: auto;
}
