<div class="Territories">
  <div class="Territories-header">
    <h2>
      Territoires
    </h2>
    <!--    <mat-button-toggle-group-->
    <!--      [(ngModel)]="territoryGroup"-->
    <!--      (ngModelChange)="filterTerritories()"-->
    <!--      name="territoryGroup"-->
    <!--      aria-label="Groupes d'utilisateurs"-->
    <!--    >-->
    <!--      <mat-button-toggle *ngFor="let group of availableUserGroups" [value]="group">{{-->
    <!--        getFrenchGroup(group)-->
    <!--        }}</mat-button-toggle>-->
    <!--    </mat-button-toggle-group>-->

    <!-- TODO: implement territories search -->
    <form [formGroup]="searchFilters">
      <mat-form-field appearance="outline">
        <mat-label>Rechercher</mat-label>
        <input matInput placeholder="Nom d'utilisateur, email" formControlName="query" />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </form>
    <!-- -->
  </div>
  <div class="Territories-loading" *ngIf="territoryService.loading">
    <mat-spinner></mat-spinner>
  </div>

  <div class="Territories-list">
    <app-list-item *ngFor="let territory of territoriesToShow">
      <div class="Territories-list-item">
        <div class="Territories-list-item-name">
          {{ territory.name }}
        </div>

        <div class="Territories-list-item-actions">
          <a class="link" (click)="onEdit(territory)">
            Editer
          </a>
          <!--          <a-->
          <!--            class="link"-->
          <!--            *ngIf="authenticationService.hasAnyPermission(['territory.delete'])"-->
          <!--            (click)="onDelete(territory)"-->
          <!--          >-->
          <!--            Supprimer l'accès-->
          <!--          </a>-->
        </div>
      </div>
    </app-list-item>
  </div>
  <!--  <div class="Territories-list">-->
  <!--    <app-territories-list-->
  <!--      *ngIf="territoriesToShow"-->
  <!--      [canEditUser]="true"-->
  <!--      [territories]="territoriesToShow"-->
  <!--      (editUser)="showEditForm($event)"-->
  <!--    ></app-territories-list>-->
  <!--  </div>-->
  <div class="Territories-add" *ngIf="authenticationService.hasAnyPermission(['territory.create'])">
    <div [hidden]="!editFormVisible">
      <h2>
        Modifier un utilisateur
      </h2>

      <div class="Territories-form">
        <!--        <app-create-edit-territory-form-->
        <!--          [isCreating]="isCreating"-->
        <!--          [territory]="editedEntity"-->
        <!--          [groupEditable]="true"-->
        <!--          (onCloseEditUser)="closeForm()"-->
        <!--        ></app-create-edit-territory-form>-->
      </div>
    </div>
  </div>
</div>
