.formula-form {
  display: flex;
  &-field {
    width: 100%;
  }
  &-select {
    width: 175px;
    margin-left: 15px;
    ::ng-deep .mat-form-field-outline {
      opacity: 1;
      color: grey;
    }
  }
}
