<h1 mat-dialog-title>Création d'un accès à l'API</h1>
<div mat-dialog-content>
  <div>
    <mat-form-field appearance="outline" style="width: 100%;" (click)="copierToken(data.token)">
      <mat-label>Token</mat-label>
      <input matInput [value]="data.token" readonly style="width: 100%;" />
      <mat-icon matSuffix>file_copy</mat-icon>
      <mat-hint>Copiez bien ce token, il ne pourra être réaffiché&nbsp;!</mat-hint>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-flat-button mat-dialog-close cdkFocusInitial color="primary">Ok</button>
</div>
