<h1 mat-dialog-title>Création d'un accès à l'API</h1>
<div mat-dialog-content>
  <p>
    Notez bien ce token en sécurité, vous ne pourrez pas le récupérer, il faudra en créer un nouveau si vous le perdez.
  </p>
  <div class="token">
    <h5 title="token">{{ data.token }}</h5>
    <button mat-stroked-button (click)="utils.copyToClipboard(data.token)">Copier</button>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-flat-button mat-dialog-close cdkFocusInitial color="primary">Ok</button>
</div>
