<div class="main__container">
  <p>Choisissez un fichier CSV à uploader</p>

  <p-fileUpload
      name="csv"
      mode="basic"
      multiple="false"
      chooseLabel="sélectionner"
      uploadLabel="télécharger"
      accept=".csv"
      showUploadButton="true"
      showCancelButton="false"
      maxFileSize="1000000"
      [url]="journeysEndPoint + '/import'"
      [disabled]="!operatorId"
      (onError)="onError($event)"
      (onUpload)="onUpload($event)"
      (onBeforeSend)="beforeSend($event)"
      (onBeforeUpload)="beforeUpload($event)">
  </p-fileUpload>
</div>

<!-- errors -->
<p-messages *ngFor="let err of errors" [(value)]="err" [closable]="false"></p-messages>
