<div class="CampaignForm">
  <!-- Spinner -->
  <div class="CampaignForm--loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>

  <!-- 4 steps form -->
  <mat-horizontal-stepper #stepper [linear]="true" *ngIf="!loading" [selectedIndex]="currentStep">
    <!-- Step 1 : pick a template-->
    <mat-step [completed]="matStepperCompleted">
      <ng-template matStepLabel>Campagne</ng-template>
      <app-page-content>
        <div class="CampaignForm-content">
          <div class="CampaignForm-content-wrapper">
            <app-campaign-templates
              (setTemplate)="setTemplate($event)"
              [isCreating]="creationFromScratch || creationFromParentId"
              [parentId]="campaignFormGroup.get('parent_id').value"
            ></app-campaign-templates>
            <app-help-card
              [svgIcon]="helpCard.svgIcon"
              [title]="helpCard.title"
              [hint]="helpCard.hint"
              [link]="helpCard.link"
            >
            </app-help-card>
          </div>
          <div class="CampaignForm-content-actions">
            <button mat-flat-button class="large" color="primary" matStepperNext *ngIf="showFirstPageNextStep">
              Étape suivante
              <mat-icon>arrow_forward</mat-icon>
            </button>
          </div>
        </div>
      </app-page-content>
    </mat-step>

    <!-- Step 2 : eligibility -->
    <mat-step [completed]="canGoToThirdStep">
      <ng-template matStepLabel>Éligibilité</ng-template>
      <app-page-content>
        <div class="CampaignForm-content">
          <div class="CampaignForm-content-wrapper">
            <app-filters-form
              [campaignForm]="campaignFormGroup"
              [isCreating]="creationFromScratch"
              [displayOperatorFilter]="!userIsDemo"
            ></app-filters-form>
            <app-help-card
              [svgIcon]="helpCard.svgIcon"
              [title]="helpCard.title"
              [hint]="helpCard.hint"
              [link]="helpCard.link"
            >
            </app-help-card>
          </div>
          <div class="CampaignForm-content-actions">
            <button mat-flat-button class="large" matStepperPrevious>
              <mat-icon>arrow_back</mat-icon>
              Étape précédente
            </button>
            <button mat-flat-button class="large" color="primary" matStepperNext [disabled]="!canGoToThirdStep">
              Étape suivante
              <mat-icon>arrow_forward</mat-icon>
            </button>
          </div>
        </div>
      </app-page-content>
    </mat-step>

    <!-- Step 3 : finance -->
    <mat-step [completed]="canGoToLastStep">
      <ng-template matStepLabel>Rétribution</ng-template>
      <app-page-content>
        <div class="CampaignForm-content">
          <div class="CampaignForm-content-wrapper">
            <app-parameters-form
              [campaignForm]="campaignFormGroup"
              [isCreating]="creationFromScratch"
            ></app-parameters-form>
            <app-help-card
              [svgIcon]="helpCard.svgIcon"
              [title]="helpCard.title"
              [hint]="helpCard.hint"
              [link]="helpCard.link"
            >
            </app-help-card>
          </div>
          <div class="CampaignForm-content-actions">
            <button mat-flat-button class="large" matStepperPrevious>
              <mat-icon>arrow_back</mat-icon>
              Étape précédente
            </button>
            <button mat-flat-button class="large" color="primary" matStepperNext [disabled]="!canGoToLastStep">
              Voir le récapitulatif
              <mat-icon>arrow_forward</mat-icon>
            </button>
          </div>
        </div>
      </app-page-content>
    </mat-step>

    <!-- Step 4 : summary -->
    <mat-step>
      <ng-template matStepLabel>Récapitulatif</ng-template>
      <app-page-content>
        <div class="CampaignForm-content">
          <div class="CampaignForm-content-wrapper CampaignForm-content-wrapper--summary">
            <app-summary-form
              [campaignForm]="campaignFormGroup"
              [isCreating]="creationFromScratch || creationFromParentId"
              [loading]="requestLoading"
              [visible]="_matStepper && _matStepper.selectedIndex === 3"
              (onSaveCampaign)="saveCampaign()"
            ></app-summary-form>
          </div>
          <div class="CampaignForm-content-actions">
            <button mat-flat-button class="large" matStepperPrevious>
              <mat-icon>arrow_back</mat-icon>
              Étape précédente
            </button>
          </div>
        </div>
      </app-page-content>
    </mat-step>
  </mat-horizontal-stepper>
</div>
