.CampaignForm {
  mat-horizontal-stepper {
    ::ng-deep.mat-horizontal-stepper-header-container,
    ::ng-deep.mat-horizontal-content-container {
      padding: 0 5%;
    }
  }

  &--loading {
    display: flex;
    justify-content: space-around;
  }

  &-content {
    margin-top: 50px;

    &-wrapper {
      display: flex;
      justify-content: space-around;
      align-items: center;

      app-campaign-templates,
      app-filters-form,
      app-parameters-form {
        flex: 3;
      }

      app-help-card {
        flex: 1;
      }

      &--summary {
        justify-content: space-between;
      }

      app-summary-form {
        flex: 1;
        max-width: 75%;
      }
    }

    &-actions {
      button:first-child {
        margin-right: 10px;
      }
    }
  }
}
