<div class="StaggeredForm">
  <span *ngIf="!isLast">De </span>
  <span *ngIf="isLast">A partir de </span>
  <span>{{ controls.min.value !== null ? controls.min.value : '?' }}</span>
  <span *ngIf="!isLast"> à</span>
  <mat-form-field appearance="outline" *ngIf="!isLast">
    <input
      matInput
      type="number"
      min="{{ minValue }}"
      max="{{ globalMaxDistance }}"
      required
      [formControl]="controls.max"
      autocomplete="off"
    />
  </mat-form-field>
  <span> km</span>
</div>
