<form [formGroup]="parentForm">
  <mat-error *ngIf="parentForm.hasError('allBankFieldsRequired')"
    >Tous les champs sont obligatoires pour enregistrer ou mettre à jour les coordonnées bancaire.</mat-error
  >
  <mat-form-field class="bank_name" appearance="outline">
    <mat-label>Nom de l'établissement</mat-label>
    <input matInput formControlName="bank_name" />
  </mat-form-field>
  <mat-form-field class="client_name" appearance="outline">
    <mat-label>Nom du titulaire</mat-label>
    <input matInput formControlName="client_name" />
  </mat-form-field>
  <mat-form-field class="iban" appearance="outline">
    <mat-label>IBAN</mat-label>
    <input matInput formControlName="iban" />
    <mat-error *ngIf="parentForm.controls.iban.hasError('ibanWrongFormat')"
      >Le format de l'iban n'est pas valide</mat-error
    >
  </mat-form-field>
  <mat-form-field class="bic" appearance="outline">
    <mat-label>BIC</mat-label>
    <input matInput formControlName="bic" />
    <mat-error *ngIf="parentForm.controls.bic.hasError('bicWrongFormat')">Le format du bic n'est pas valide</mat-error>
  </mat-form-field>
</form>
