<div class="UiGuide">
  <div class="page-header">
    <h1 class="page-title">
      UI-guide
    </h1>
  </div>
  <div class="page-content">
    <div class="UiGuide-title">
      Menu
    </div>
    <div class="UiGuide-components">
      <app-header></app-header>
    </div>
    <div class="UiGuide-title">
      Buttons
    </div>
    <div class="UiGuide-subtitle">
      Basic Buttons
    </div>
    <div class="UiGuide-components">
      <button mat-button>Basic</button>
      <button mat-button color="primary">Primary</button>
      <button mat-button color="accent">Accent</button>
      <button mat-button color="warn">Warn</button>
      <button mat-button disabled>Disabled</button>
      <button mat-button class="color-punch">Punch</button>
    </div>
    <div class="UiGuide-subtitle">
      Stroked Buttons
    </div>
    <div class="UiGuide-components">
      <button mat-stroked-button>Basic</button>
      <button mat-stroked-button color="primary">Primary</button>
      <button mat-stroked-button color="accent">Accent</button>
      <button mat-stroked-button color="warn">Warn</button>
      <button mat-stroked-button disabled>Disabled</button>
      <button mat-stroked-button class="color-punch">Punch</button>
    </div>
    <div class="UiGuide-subtitle">
      Flat Buttons
    </div>
    <div class="UiGuide-components">
      <button mat-flat-button>Basic</button>
      <button mat-flat-button color="primary">Primary</button>
      <button mat-flat-button color="accent">Accent</button>
      <button mat-flat-button color="warn">Warn</button>
      <button mat-flat-button disabled>Disabled</button>
      <button mat-flat-button class="color-punch">Punch</button>
    </div>
    <div class="UiGuide-subtitle">
      Flat Large Buttons
    </div>
    <div class="UiGuide-components">
      <button mat-flat-button class="large">Basic</button>
      <button mat-flat-button class="large" color="primary">Primary</button>
      <button mat-flat-button class="large" color="accent">Accent</button>
      <button mat-flat-button class="large" color="warn">Warn</button>
      <button mat-flat-button class="large" disabled>Disabled</button>
      <button mat-flat-button class="large color-punch">Punch</button>
    </div>
    <div class="UiGuide-subtitle">
      Spinner Buttons
    </div>
    <div class="UiGuide-components">
      <button mat-flat-button [appShowSpinner]="showSpinner" (click)="onShowSpinner()" color="primary">Primary</button>
      <button mat-flat-button [appShowSpinner]="showSpinner" (click)="onShowSpinner()" color="accent">Accent</button>
      <button mat-stroked-button [appShowSpinner]="showSpinner" (click)="onShowSpinner()" color="primary">
        Primary
      </button>
      <button mat-stroked-button [appShowSpinner]="showSpinner" (click)="onShowSpinner()" color="accent">Accent</button>
    </div>
    <div class="UiGuide-title">
      Links
    </div>
    <div class="UiGuide-components">
      <a class="link">A Link</a>
    </div>
    <div class="UiGuide-title">
      Forms
    </div>
    <div class="UiGuide-subtitle">
      Inputs
    </div>
    <div class="UiGuide-components">
      <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder" />
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Favorite food</mat-label>
        <mat-select>
          <mat-option [value]="1">Option 1</mat-option>
          <mat-option [value]="2">Option 2</mat-option>
          <mat-option [value]="3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="UiGuide-subtitle">
      Inputs Small
    </div>
    <div class="UiGuide-components">
      <mat-form-field appearance="outline" class="small">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder" />
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline" class="small">
        <mat-label>Favorite food</mat-label>
        <mat-select>
          <mat-option [value]="1">Option 1</mat-option>
          <mat-option [value]="2">Option 2</mat-option>
          <mat-option [value]="3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="UiGuide-subtitle">
      Checkboxes
    </div>
    <div class="UiGuide-components">
      <mat-checkbox color="primary">Check me!</mat-checkbox>
    </div>
    <div class="UiGuide-subtitle">
      Button toggle
    </div>
    <div class="UiGuide-components">
      <mat-button-toggle-group>
        <mat-button-toggle value="left" aria-label="left">
          Left
        </mat-button-toggle>
        <mat-button-toggle value="center" aria-label="center">
          center
        </mat-button-toggle>
        <mat-button-toggle value="right" aria-label="right">
          right
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div class="UiGuide-subtitle">
      Slider range
    </div>
    <div class="UiGuide-components">
      <nouislider
        [connect]="true"
        [min]="0"
        [max]="100"
        [step]="5"
        [tooltips]="[true, true]"
        [(ngModel)]="sliderRange"
      ></nouislider>
    </div>

    <div class="UiGuide-title">
      Help Card
    </div>
    <div class="UiGuide-components">
      <app-help-card
        [svgIcon]="'new_car'"
        [title]="'Vous êtes nouveau sur Preuve de covoiturage ?'"
        [hint]="'Découvrez comment développer une politique de covoiturage efficace dans votre collectivité'"
        [link]="'https://registre-preuve-de-covoiturage.gitbook.io/produit/boite-a-outils/guide-des-incitations'"
      >
      </app-help-card>
      <app-help-card
        [svgIcon]="'carpooling'"
        [title]="'Vous êtes nouveau sur Preuve de covoiturage ?'"
        [hint]="'Découvrez comment développer une politique de covoiturage efficace dans votre collectivité'"
        [button]="'Importer'"
      >
      </app-help-card>
    </div>
    <div class="UiGuide-title">
      Menu Card
    </div>
    <div class="UiGuide-components">
      <app-menu-card
        [svgIcon]="'recherche'"
        [title]="'Cherchez l\'inspiration'"
        [hint]="'Retrouvez des exemples de campagnes incitiatives et inspirez-vous en'"
        [button]="'Découvrir'"
      >
      </app-menu-card>
    </div>
    <div class="UiGuide-title">
      Stepper
    </div>
    <div class="UiGuide-components">
      <mat-horizontal-stepper #stepper>
        <mat-step>
          <ng-template matStepLabel>Step 1</ng-template>
          <div>
            Content 1
          </div>
          <div>
            <button mat-flat-button class="large" color="primary" matStepperNext>Suivant</button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Step 2</ng-template>
          <div>
            Content 2
          </div>
          <div>
            <button mat-flat-button class="large" matStepperPrevious>Précédent</button>
            <button mat-flat-button class="large" color="primary" matStepperNext>Suivant</button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Step 3</ng-template>
          <div>
            Content 3
          </div>
          <div>
            <button mat-flat-button class="large" matStepperPrevious>Précédent</button>
            <button mat-flat-button class="large" color="primary" matStepperNext>Suivant</button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Step 4</ng-template>
          <div>
            Content 4
          </div>
          <div>
            <button mat-flat-button class="large" matStepperPrevious>Précédent</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
    <div class="UiGuide-title">
      Footer
    </div>
    <div class="UiGuide-components">
      <app-footer></app-footer>
    </div>
  </div>
</div>
