<div class="graph">
  <h3>
    {{ graphTitle }}
  </h3>
  <div class="graph-header">
    <app-stat-graph-timemode-nav
      *ngIf="displayNav"
      [nav]="timeMode"
      [navList]="timeNavList"
      (navChange)="navChange($event)"
    >
    </app-stat-graph-timemode-nav>
  </div>
  <app-stat-chart-container *ngIf="_hasEmptyResults"></app-stat-chart-container>
  <div *ngIf="!_hasEmptyResults" class="chart-container">
    <!-- component duplicated because of ngx-chartjs option refresh issue -->
    <ngx-chartjs
      [data]="data$ | async"
      *ngIf="timeMode === 'day'"
      [type]="graphType"
      [options]="graphOption"
      [height]="70"
    ></ngx-chartjs>
    <ngx-chartjs
      [data]="data$ | async"
      *ngIf="timeMode === 'month'"
      [type]="graphType"
      [options]="graphOption"
      [height]="70"
    ></ngx-chartjs>
    <ngx-chartjs
      [data]="data$ | async"
      *ngIf="timeMode === 'cumulative'"
      [type]="graphType"
      [options]="graphOption"
      [height]="70"
    ></ngx-chartjs>
  </div>
  <!-- </app-stat-chart-container> -->
</div>
