<form (ngSubmit)="onSubmit()" [formGroup]="operatorForm">
  <div class="p-grid ui-fluid">
    <div class="p-col-12 p-md-2">
      <label>Nom commercial</label>
    </div>
    <div class="p-col-12 p-md-4">
      <input type="text" pInputText formControlName="nom_commercial">
    </div>
    <div class="p-col-12 p-md-2">
      <label>Raison sociale</label>
    </div>
    <div class="p-col-12 p-md-4">
      <input type="text" pInputText formControlName="raison_sociale">
    </div>
  </div>
  <br>

  <app-contacts-form [parentForm]="operatorForm.get('contacts')" [users]="users"></app-contacts-form>
  <br>

  <app-company-form [parentForm]="operatorForm.get('company')" [users]="users"></app-company-form>
  <br/>

  <app-address-form [parentForm]="operatorForm.get('address')" [users]="users"></app-address-form>
  <br/>

  <app-bank-form [parentForm]="operatorForm.get('bank')"></app-bank-form>
  <br/>

  <div class="ui-g ui-fluid">
    <p-button label="Enregistrer"></p-button>
  </div>
</form>
