<div class="HelpCard">
  <div class="HelpCard-icon">
    <mat-icon [svgIcon]="svgIcon"></mat-icon>
  </div>
  <div class="HelpCard-title">
    {{ title }}
  </div>
  <div class="HelpCard-hint">
    {{ hint }}
  </div>
  <div class="HelpCard-link" *ngIf="link">
    <a class="link" target="_blank" [href]="link">En savoir plus</a>
  </div>
  <div class="HelpCard-link" *ngIf="button">
    <button mat-flat-button color="accent" (click)="onButtonClick()">
      {{ button }}
    </button>
  </div>
</div>
