<form class="profileForm" [formGroup]="profileForm" (ngSubmit)="onUpdateProfile()">
  <mat-form-field appearance="outline">
    <mat-label>Prénom</mat-label>
    <input class="profile-firstname" matInput formControlName="firstname" required />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Nom</mat-label>
    <input class="profile-lastname" matInput formControlName="lastname" required />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input class="profile-email" matInput formControlName="email" required />
    <mat-error *ngIf="controls.email.hasError('email')"> L'email est invalide.</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Numéro</mat-label>
    <input class="profile-phone" matInput formControlName="phone" />
  </mat-form-field>
  <button type="submit" mat-flat-button [disabled]="!profileForm.valid" color="primary">
    Mettre à jour
  </button>
</form>
