

<app-journeys-filter [columns]='columns' [data]="dt" (applyFilters)="applyFilters($event)" ></app-journeys-filter>

<br>
<br>
<h3  class="title is-5" *ngIf="total">{{total}} résultats</h3>


<p-table #dt [columns]="selectedColumns" [value]="journeys" dataKey="_id" [paginator]="true" [rows]="perPage" [lazy]="true" (onLazyLoad)="loadLazy($event)" [totalRecords]="total" [loading]="loading" >
  <ng-template pTemplate="caption">
    <div style="text-align:left">
      <p-multiSelect [options]="columns" [(ngModel)]="selectedColumns" optionLabel="header"
                     selectedItemsLabel="{0} colonnes sélectionnées" [style]="{minWidth: '200px'}"
                     defaultLabel="Sélectionner des colonnes"></p-multiSelect>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="width: 3em"></th>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        <span>
        {{col.header}}
        </span>
        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
    <tr>
      <td>
        <a [pRowToggler]="rowData">
          <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
        </a>
      </td>
      <td *ngFor="let col of columns">
        <span>{{getValue(rowData, col.field)}}</span>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
    <tr>
      <td></td>
      <td [attr.colspan]="columns.length">
        <p-table [columns]="subColumns" [value]="getSubArray(rowData['driver'], rowData['passenger'])">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th></th>
              <th *ngFor="let column of subColumns">
                  <span>
                  {{getKey(column.header)}}
                  </span>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowIndex="rowIndex" let-columns="subColumns" let-rowData>
            <tr>
              <td>{{subTableTitles[rowIndex]}}</td>
              <td *ngFor="let col of subColumns">
                <span>{{getValue(rowData, col.field)}}</span>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </td>
    </tr>
  </ng-template>
</p-table>



