<p-fieldset legend="Banque" [toggleable]="true" [formGroup]="parentForm">
  <div class="p-grid ui-fluid">
    <div class="p-col-12 p-md-2">
      <label>Nom de l'établissement</label>
    </div>
    <div class="p-col-12 p-md-4">
      <input type="text" pInputText formControlName="bank_name">
    </div>
    <div class="p-col-12 p-md-2">
      <label>Nom du titulaire</label>
    </div>
    <div class="p-col-12 p-md-4">
      <input type="text" pInputText formControlName="client_name">
    </div>
    <div class="p-col-12 p-md-2">
      <label>Iban</label>
    </div>
    <div class="p-col-12 p-md-4">
      <p-inputMask formControlName="iban" mask="aa99-9999-9999-9999-9999-9999-999" [unmask]="true"></p-inputMask>
      <p-message
        severity="error"
        [text]="parentForm.controls['iban'].errors['pattern'] ? 'L\' IBAN est invalide.' : ''"
        *ngIf="!parentForm.controls['iban'].valid&&parentForm.controls['iban'].dirty">
      </p-message>
    </div>
    <div class="p-col-12 p-md-2">
      <label>Bic</label>
    </div>
    <div class="p-col-12 p-md-4">
      <p-inputMask formControlName="bic" mask="aaaa-aa-aa?-aaa" [unmask]="true"></p-inputMask>
      <p-message
        severity="error"
        [text]="parentForm.controls['bic'].errors['pattern'] ? 'Le code BIC est invalide.' : ''"
        *ngIf="!parentForm.controls['bic'].valid&&parentForm.controls['bic'].dirty">
      </p-message>
    </div>
  </div>
</p-fieldset>
