@import 'variables';

.OperatorDashboard {
  margin-top: 50px;

  &-trips {
    background: $background-white;
    padding: 0 5% 50px 5%;
    text-align: center;

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .link {
      margin-top: 20px;
    }
  }

  &-campaigns {
    width: 90%;
    margin: 20px auto 0 auto;

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $color-primary;
      margin: 50px 0 20px 0;
    }
  }
}

:host {
  .graph {
    background-color: grey;
  }
}
