<app-stat-territory-view
  *ngIf="authenticationService.hasAnyGroup(['territory', 'registry'])"
  [statViewConfig]="tripStats"
></app-stat-territory-view>

<div class="OperatorDashboard" *ngIf="authenticationService.hasAnyGroup(['operator'])">
  <app-page-header>
    <div class="OperatorDashboard-trips">
      <div class="OperatorDashboard-trips-header">
        <h1>Tous vos trajets</h1>
        <button mat-flat-button [routerLink]="'/trip/import'" class="color-punch">
          Ajoutez des nouveaux trajets
        </button>
      </div>
      <app-stat-graph-view [graphName]="'trips'"></app-stat-graph-view>
      <div>
        <a class="link" [routerLink]="'/trip/list'">Voir tous les trajets</a>
      </div>
    </div>
  </app-page-header>
  <app-page-content>
    <div class="OperatorDashboard-campaigns">
      <div class="OperatorDashboard-campaigns-header">
        <h2>Les campagnes en cours</h2>
      </div>
      <div class="OperatorDashboard-campaigns-list">
        <app-campaigns-list [campaignStatusList]="campaignStatusEnum.VALIDATED"></app-campaigns-list>
      </div>
      <div class="OperatorDashboard-campaigns-header">
        <h2>Les campagnes terminées</h2>
      </div>
      <div class="OperatorDashboard-campaigns-list">
        <app-campaigns-list [campaignStatusList]="campaignStatusEnum.ARCHIVED"></app-campaigns-list>
      </div>
    </div>
  </app-page-content>
</div>
