@import "~src/assets/scss/variables";

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.stats__wrapper {
  overflow: hidden;
  overflow-y: scroll;
  height: calc(100vh - #{$navbar-height});
}

.subtitle {
  color: #c8c8c8;
}

.card {
  padding: 2em;
}

.resumeCard {
  img {
    max-width: 50px;
    height: 50px;
  }

  .title {
    color: #848484;
  }
}

.detailsCard {
  .titleContainer {
    height: 85px;

    h4 {
      margin-top: 0;
    }
  }

  p-selectButton {
    float: right;
  }
}
