<div class="CampaignDashboard">
  <app-page-header>
    <div class="CampaignDashboard-trips">
      <div class="CampaignDashboard-trips-header">
        <h1>Toutes vos campagnes</h1>
        <button
          mat-flat-button
          [routerLink]="'/campaign/create'"
          class="color-punch"
          *ngIf="canCreateCampaign$ | async"
        >
          Créer une nouvelle campagne
        </button>
      </div>
      <div class="CampaignDashboard-trips-graph">
        <app-stat-graph-view [graphName]="'trips'"></app-stat-graph-view>
      </div>
      <div class="CampaignDashboard-trips-graph-link">
        <a [routerLink]="'/trip'">Voir toutes les statistiques</a>
      </div>
    </div>
  </app-page-header>
  <app-page-content>
    <div class="CampaignDashboard-content">
      <app-campaign-menu></app-campaign-menu>
      <div class="CampaignDashboard-content-header">
        <h2>Vos campagnes en cours</h2>
        <button
          mat-flat-button
          [routerLink]="'/campaign/create'"
          [disabled]="displayDemoCaption$"
          color="primary"
          *ngIf="canCreateCampaign$ | async"
        >
          Nouvelle campagne
        </button>
      </div>
      <p *ngIf="displayDemoCaption$ | async">
        <strong>Non accessible en mode découverte.</strong>
        <br />Sera visible lors de l'activation de la première campagne.
      </p>
      <div class="CampaignDashboard-content-list activeList" *ngIf="!(displayDemoCaption$ | async)">
        <app-campaigns-list
          [campaigns]="currentCampaigns"
          [campaignStatusList]="[campaignStatus.ARCHIVED, campaignStatus.VALIDATED, campaignStatus.PENDING]"
          [loading]="loading"
          [loaded]="loaded"
        ></app-campaigns-list>
      </div>
      <div *ngIf="canSeeDraft$ | async">
        <div class="CampaignDashboard-content-header">
          <h2>Vos campagnes en brouillon</h2>
          <button mat-flat-button [routerLink]="'/campaign/create'" color="primary" *ngIf="canCreateCampaign$ | async">
            Nouveau brouillon
          </button>
        </div>
        <div class="CampaignDashboard-content-list draftList">
          <app-campaigns-list
            [campaigns]="campaigns"
            [campaignStatusList]="[campaignStatus.DRAFT]"
            [loading]="loading"
            [loaded]="loaded"
          ></app-campaigns-list>
        </div>
      </div>
      <div class="CampaignDashboard-content-header">
        <h2>Vos campagnes terminées</h2>
      </div>
      <p *ngIf="displayDemoCaption$ | async">
        <strong>Non accessible en mode découverte.</strong>
        <br />Sera visible lors de l'activation de la première campagne.
      </p>
      <div class="CampaignDashboard-content-list archivedList" *ngIf="!(displayDemoCaption$ | async)">
        <app-campaigns-list
          [campaigns]="outdatedCampaign"
          [campaignStatusList]="[campaignStatus.ARCHIVED, campaignStatus.VALIDATED, campaignStatus.PENDING]"
          [loading]="loading"
          [loaded]="loaded"
        ></app-campaigns-list>
      </div>
    </div>
  </app-page-content>
</div>
