<div class="CampaignDashboard">
  <div class="CampaignDashboard-trips">
    <div class="CampaignDashboard-trips-header">
      <h1>Toutes vos campagnes</h1>
      <button mat-flat-button [routerLink]="'/campaign/create'" class="color-punch">
        Créer une nouvelle campagne
      </button>
    </div>
    <!--    <app-trip-chart></app-trip-chart>-->
    <div>
      <a class="link" [routerLink]="'/trip'">Voir toutes les statistiques</a>
    </div>
  </div>
  <div class="CampaignDashboard-content">
    <app-campaign-menu></app-campaign-menu>
    <div class="CampaignDashboard-content-header">
      <h2>Vos campagnes en cours</h2>
      <button mat-flat-button [routerLink]="'/campaign/create'" color="primary">
        Nouvelle campagne
      </button>
    </div>
    <div class="CampaignDashboard-content-list">
      <app-campaigns-list [campaigns]="activeCampaigns"></app-campaigns-list>
    </div>
    <div class="CampaignDashboard-content-header">
      <h2>Vos campagnes en brouillon ou terminées</h2>
      <button mat-flat-button [routerLink]="'/campaign/create'" color="primary">
        Nouveau brouillon
      </button>
    </div>
    <div class="CampaignDashboard-content-list">
      <app-campaigns-list [campaigns]="activeCampaigns"></app-campaigns-list>
    </div>
  </div>
</div>
