##
# Application environnement
#
# local:      used for local development. Debugging might be more verbose
#
# dev:        development for branch merging and continuous integration and tests
#
# staging:    very close to the production environnement with fake data. used
#             to run all functional, integration and user tests.
# 
# production: the real world!
#

NODE_ENV=local

##
# Application version (optional)
#

#APP_VERSION=

##
# Service URLs 
#
# API:      the backend with the REST and RPC routes. Code in the /api folder
#           e.g.  localhost:8080
#                 api.example.com
#
# App:      the frontend application in Angular. Code in the /dashboard folder
#           e.g.  localhost:4200
#                 app.example.com
#
# Printer:  the shared Chrome Headless to print PDF and PNG for the certificates.
#           Code in the /printer folder.
#           Access to the printer is granted by the APP_PRINTER_TOKEN below.
#           The API URL must also be declared in the printer's .env file as it filters
#           requests based on a whitelist of URLs.
#           e.g.  localhost:3000
#                 print.example.com
#

#APP_API_URL=
#APP_APP_URL=
#APP_PRINTER_URL=

##
# Printer Access token
#
# JWT token to access the printer's POST /print route
# Generate with the following payload and sign with JWT_SECRET from the printer.
# `iat` is the _issued at_ timestamp
#
# {
#   "iat": 1516239022,
#   "aud": "http://api:8080",
#   "iss": "http://printer:3000"
# }
#

APP_PRINTER_TOKEN=

# Sentry private DSN token for API error reporting (sentry.io)
#APP_SENTRY_DSN=

# Sentry env (defaults to NODE_ENV)
#APP_SENTRY_ENV=

# Random and long string to sign the JWT tokens (rotate regularly in production)
#JWT_SECRET=

# Database connections
APP_POSTGRES_URL=postgresql://postgres:postgres@postgres:5432/local

APP_REDIS_URL=redis://redis:6379


# MailJet API keys and sender identification
# Create a template first and add its ID here
APP_MAILJET_PUBLIC_KEY=
APP_MAILJET_PRIVATE_KEY=
APP_MAILJET_FROM_EMAIL=
APP_MAILJET_FROM_NAME=
APP_MAILJET_TEMPLATE=
APP_MAILJET_TEMPLATE_INVITATION=
APP_MAILJET_TEMPLATE_FORGOTTEN_PASSWORD=
APP_MAILJET_TEMPLATE_EMAIL=
APP_MAILJET_TEMPLATE_EXPORT=

# Redirect all outgoing emails to your debug mailbox
#APP_MAILJET_DEBUG_EMAIL=
#APP_MAILJET_DEBUG_NAME=

# Enable debug mode (default=false)
#APP_MAILJET_DEBUG_MODE=false
