name: 'Analysis - E2E test'

on:
  pull_request:
    branches: [dev]
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  e2e:
    name: Test e2e
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install NodeJS 16
        uses: actions/setup-node@v2
        with:
          node-version: '16'
      - name: Start
        env:
          APP_USER_REGISTRATION_ENABLED: true
          APP_INSEE_API_KEY: ${{ secrets.APP_INSEE_API_KEY }}
        run: ./tool.sh e2e
      - name: Upload videos
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: videos
          path: /tmp/cypress/videos/
          retention-days: 3
      - name: Upload screenshots
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: screenshots
          path: /tmp/cypress/screenshots/
          retention-days: 3
