name: 'Analysis - Unit test'

on: pull_request

defaults:
  run:
    shell: bash

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Install NodeJS 16
        uses: actions/setup-node@v3
        with:
          node-version: '16'
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Build
        run: sh rebuild.sh
        env:
          NX_CLOUD_ACCESS_TOKEN: ${{ secrets.NX_CLOUD_ACCESS_TOKEN }}
        working-directory: api
      - name: Run Unit test
        run: yarn test:unit
        env:
          NX_CLOUD_ACCESS_TOKEN: ${{ secrets.NX_CLOUD_ACCESS_TOKEN }}
        working-directory: api
