name: 'Analysis - Lint'

on: pull_request

defaults:
  run:
    shell: bash

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install NodeJS 16
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Install dependencies
        working-directory: ./docker/lint
        run: yarn ci
      
      - name: Run Linter
        working-directory: ./docker/lint
        run: yarn start:local
