name: Deploy frontends (public)
on:
  release:
    types: [published]
  workflow_dispatch:
jobs:
  deploy:
    name: Deploy ${{ matrix.project_name }}
    uses: ./.github/workflows/base-deploy-to-bucket.yml
    with:
      env: ${{ matrix.env }}
      project_name: ${{ matrix.project_name }}
      build_directory: ${{ matrix.build_directory }}
      build_command: ${{ matrix.build_command }}
      dist_directory: ${{ matrix.dist_directory }}
      bucket_name_var: ${{ matrix.bucket_name_var }}
      cache_dependency_path: ${{ matrix.cache_dependency_path }}
    secrets:
      bucket_access_key: ${{ secrets.BUCKET_ACCESS_KEY }}
      bucket_secret_key: ${{ secrets.BUCKET_SECRET_KEY }}

    strategy:
      matrix:
        env: [production]
        project_name: [public]
        include:
          - project_name: public
            build_directory: public
            build_command: |
              cp .env.example .env && NODE_OPTIONS=--openssl-legacy-provider npm run build
            dist_directory: public/out
            bucket_name_var: PUBLIC_BUCKET_NAME
            cache_dependency_path: public/package-lock.json
