.filter-label {
  padding: 8px;
}

.app-journeys-filters__wrapper {
  padding-bottom: 3rem;

  .filters__actions {
    p-button {
      margin-right: .5em;
    }
  }

  .filters__more {
    line-height: 2em;
  }
}

