<section class="section">
  <div class="p-grid">

    <div class="p-col-12 p-md-6">
      <app-homepage-title></app-homepage-title>
      <h4 class="subtitle is-4">Autorité Organisatrice de la Mobilité</h4>
      <div class="has-text-centered" style="padding: 20px 0 40px">
        <img src="assets/icons/administration.svg" alt="" width="200">
      </div>
      <app-homepage-information></app-homepage-information>
    </div>
    <div class="p-col-12 p-md-6 has-text-centered">
      <app-homepage-img></app-homepage-img>
    </div>
  </div>

</section>

